<meta name="Description" content="Component">
<div class="app">
<mat-toolbar role="heading" color="primary">
     <h3>{{title}} </h3>
     <span class="mat-spacer"></span>
     <button mat-icon-button (click)="onNoClick()" tabindex="-1">
     <mat-icon class="mat-icon">close</mat-icon>       
     </button>
</mat-toolbar>


 <p></p>

  <form class="mat-dialog-content" #formControl="ngForm" novalidate="novalidate">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Proyecto" [(ngModel)]="project" name="project" required [value]="project" disabled>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>


    <div class="form">
     <mat-form-field color="accent">
        <input matInput #input  placeholder="Num. Orden" [(ngModel)]="data.order_number" name="order_number" required  #order_number="ngModel">
        <button mat-button *ngIf="data.order_number" matSuffix mat-icon-button aria-label="Clear" (click)="data.order_number=''">
            <mat-icon>close</mat-icon>
          </button>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <button mat-button (click)="onGenerarOrder()" tabindex="-1">Generar Num. Orden</button>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form" *ngIf="data && category_id && token.token">

      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="data.cc_number"  placeholder="Num. Cliente" [matAutocomplete]="auto" (keyup)="searchCustomer(cc_number.value)" name="cc_number" #cc_number required>        

        <button mat-button *ngIf="data.cc_number" matSuffix mat-icon-button aria-label="Clear" (click)="data.cc_number=''">
            <mat-icon>close</mat-icon>
          </button>

        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>                        
        <mat-autocomplete #auto="matAutocomplete" >
          <mat-option *ngIf="isLoading" class="is-loading">
            <mat-spinner style="margin:0 auto;" mode="indeterminate" [strokeWidth]="4" diameter="50"></mat-spinner>
          </mat-option>          
          <mat-option *ngFor="let result of results" [(value)]="result.cc_number" >        
            <span>{{result.cc_number}}</span>       
          </mat-option>
        </mat-autocomplete>
      <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </div>


    <div class="form" hidden="true">
        <input matInput #service_id class="form-control" placeholder="Servicio" [(ngModel)]="data.service_id" name="service_id" required >
    </div>



    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate  placeholder="Servicio" [(ngModel)]="service_name" name="service_name" maxlength="10" required disabled>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>        
      </mat-form-field>
    </div>


  
  <div class="form">
  <mat-form-field>
    <mat-select  placeholder="Tipo Servicio" [(ngModel)]="data.servicetype_id" name="servicetype_id" (selectionChange)="loadAtributo($event.value)" required>
    <mat-option *ngFor="let k of servicetype | keys;" [value]="servicetype[k].id">
      {{servicetype[k].name}}
    </mat-option>
    </mat-select>
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field>
    <mat-select class="form-control" placeholder="Estatus del Servicio" [(ngModel)]="data.status_id" name="status_id" required>  
    <mat-option *ngFor="let status of serviceestatus" [value]="status.id">
      {{status.name}}
    </mat-option>
    </mat-select>
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>



  <div >
  <ng-select [items]="users"
             bindLabel="usuario"
             name="assigned_to"
             placeholder="Asignar orden"
             [(ngModel)]="selectedUsers">
  </ng-select>
  </div>


  <div class="form">
    <mat-form-field >
      <input matInput  placeholder="Leido Por" [(ngModel)]="data.leido_por" name="leido_por" maxlength="177"  >
      <button mat-button *ngIf="data.leido_por" matSuffix mat-icon-button aria-label="Clear" (click)="data.leido_por=''">
          <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>



    <div class="form">
      <mat-form-field >
        <textarea matInput #inputstate  placeholder="Observación" [(ngModel)]="data.observation" name="observation" maxlength="177"  ></textarea>
        <button mat-button *ngIf="data.observation" matSuffix mat-icon-button aria-label="Clear" (click)="data.observation=''">
            <mat-icon>close</mat-icon>
          </button>
        
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/177</mat-hint>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </div>



  <mat-button-toggle-group  name="fontStyle" aria-label="Font Style" (click)="toggledate()"  *ngIf="!showdate">
       <mat-button-toggle color="primary" value="bold">Fechas de Orden<i class="material-icons">arrow_right</i></mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group  name="fontStyle" aria-label="Font Style" (click)="toggledate()" *ngIf="showdate">
     <mat-button-toggle color="primary" value="bold">Fechas de Orden<i class="material-icons" style="color:blue">arrow_drop_down</i></mat-button-toggle>
  </mat-button-toggle-group>              


<div class="animated fadeIn" style="visibility: visible;z-index: 1;" *ngIf="showdate">

    <div class="form">
    <label for="exampleInput">Fecha de Solicitud</label>
    </div>

    <div class="form">
    <p-calendar placeholder="yyyy-mm-dd hh:mm" [(ngModel)]="data.order_date" name="order_date" dateFormat="yy-mm-dd" showTime="true" hourFormat="24" [locale]="en"  [showIcon]="true">
    </p-calendar>
    </div>


    <div class="form">
    <h6>Fecha Requerida</h6>    
    </div>

    <div class="form">
    <p-calendar placeholder="yyyy-mm-dd hh:mm" [(ngModel)]="data.required_date" name="required_date" dateFormat="yy-mm-dd" showTime="true" hourFormat="24" [locale]="en"  [showIcon]="true">
    </p-calendar>
    </div>


    <div class="form">
    <h6>Fecha Vencimiento</h6>    
    </div>

    <div class="form">
    <p-calendar placeholder="yyyy-mm-dd hh:mm" [minDate]="date.value" [(ngModel)]="data.vencimiento_date" name="vencimiento_date" dateFormat="yy-mm-dd" showTime="true" hourFormat="24" [locale]="en"  [showIcon]="true">
    </p-calendar>
    </div>
  </div>

<p></p>
<p></p>


<div class="example-loading-shade" *ngIf="isOrderLoading && data.servicetype_id > 0">
  <app-loading *ngIf="isOrderLoading"></app-loading>  
</div>


<div *ngIf="data.servicetype_id > 0 && atributo.length > 0">
  <mat-button-toggle-group  name="fontStyle" aria-label="Font Style" (click)="toggle()" id="bt"  *ngIf="!show">
       <mat-button-toggle color="primary" value="bold">Más Datos<i class="material-icons">arrow_right</i></mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group  name="fontStyle" aria-label="Font Style" (click)="toggle()" id="bt"  *ngIf="show">
     <mat-button-toggle color="primary" value="bold">Más Datos<i class="material-icons" style="color:blue">arrow_drop_down</i></mat-button-toggle>
  </mat-button-toggle-group>              
</div>


 <div class="animated fadeIn" style="visibility: visible; position: sticky; z-index: 1;" *ngIf="show &&  atributo.length > 0">          
    <div *ngFor="let detailatributo of atributo">
    <div class="form" *ngIf="detailatributo.type == 'label' ">
      <label>{{detailatributo.descripcion}}</label>
    </div>
    
          <div *ngIf="detailatributo.type == 'layout_line'" >
            <hr  class="size">            
          </div>

            <mat-form-field color="accent" *ngIf="detailatributo.type == 'text' && detailatributo.datos == '' && detailatributo.required == 0" class="full-width">
              <input matInput placeholder="{{detailatributo.descripcion}}" ngModel name="{{detailatributo.id}}" >
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>


            <mat-form-field color="accent" *ngIf="detailatributo.type == 'text' && detailatributo.datos !== '' && detailatributo.required == 0" class="full-width">
              <input matInput placeholder="{{detailatributo.descripcion}}" [(ngModel)]="detailatributo.datos" name="{{detailatributo.id}}" >
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>


            <mat-form-field color="accent" *ngIf="detailatributo.type == 'text' && detailatributo.datos == '' && detailatributo.required == 1" class="full-width">
                <input matInput placeholder="{{detailatributo.descripcion}}" ngModel name="{{detailatributo.id}}" required>
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>
  
  
              <mat-form-field color="accent" *ngIf="detailatributo.type == 'text' && detailatributo.datos !== '' && detailatributo.required == 1" class="full-width">
                <input matInput placeholder="{{detailatributo.descripcion}}" [(ngModel)]="detailatributo.datos" name="{{detailatributo.id}}" required>
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>
  

            <mat-form-field color="accent" *ngIf="detailatributo.type == 'int' && detailatributo.required == 0" class="full-width">
              <input matInput placeholder="{{detailatributo.descripcion}}" ngModel name="{{detailatributo.id}}" >
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>

            <mat-form-field color="accent" *ngIf="detailatributo.type == 'int' && detailatributo.required == 1" class="full-width">
                <input matInput placeholder="{{detailatributo.descripcion}}" ngModel name="{{detailatributo.id}}" required>
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>
  
  

            <mat-form-field color="accent" *ngIf="detailatributo.type == 'double' && detailatributo.required == 0" class="full-width">
              <input matInput placeholder="{{detailatributo.descripcion}}" ngModel name="{{detailatributo.id}}" >
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>            


            <mat-form-field color="accent" *ngIf="detailatributo.type == 'double' && detailatributo.required == 1" class="full-width">
                <input matInput placeholder="{{detailatributo.descripcion}}" ngModel name="{{detailatributo.id}}" required>
                <mat-icon matSuffix>mode_edit</mat-icon>
             </mat-form-field>            
  







            <mat-form-field color="accent" *ngIf="detailatributo.type == 'textarea' && detailatributo.datos == '' && detailatributo.required == 0" class="full-width">
                <textarea matInput placeholder="{{detailatributo.descripcion}}" ngModel name="{{detailatributo.id}}"></textarea>
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>            
  

            <mat-form-field color="accent" *ngIf="detailatributo.type == 'textarea' && detailatributo.datos == '' && detailatributo.required == 1" class="full-width">
              <textarea matInput placeholder="{{detailatributo.descripcion}}" ngModel name="{{detailatributo.id}}" required></textarea>
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>            
            
            <mat-form-field color="accent" *ngIf="detailatributo.type == 'textarea' && detailatributo.datos != '' && detailatributo.required == 0" class="full-width">

                <textarea matInput placeholder="{{detailatributo.descripcion}}" [(ngModel)]="detailatributo.datos" name="{{detailatributo.id}}"></textarea>
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>            
  

            <mat-form-field color="accent" *ngIf="detailatributo.type == 'textarea' && detailatributo.datos != '' && detailatributo.required == 1" class="full-width">
              <textarea matInput placeholder="{{detailatributo.descripcion}}" [(ngModel)]="detailatributo.datos" name="{{detailatributo.id}}" required></textarea>
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>            
            

            <div  *ngIf="detailatributo.type == 'date' ">
              <div >
              <label>{{detailatributo.descripcion}}</label>
              </div>              
              <div class="form">
              <p-calendar placeholder="dd/mm/yy"  [(ngModel)]="myDate" name="{{detailatributo.id}}"  
              dateFormat="dd/mm/yy"
              [showIcon]="true"
              >
              </p-calendar>
              </div>              
            </div>            


            <div  *ngIf="detailatributo.type == 'timepicker' ">
              <div >{{detailatributo.descripcion}}: </div>
              <mat-form-field color="accent">
              <input matInput value="" class="form-control" ngModel name="{{detailatributo.id}}">
              <mat-icon matSuffix>timer</mat-icon>
              </mat-form-field>
            </div>            



          <div *ngIf="detailatributo.type == 'radio' ">
          <div class="example-selected-value">{{detailatributo.descripcion}}: </div>
          <div  class="example-selected-value" *ngFor="let items of detailatributo.datos | split">
            <mat-radio-group class="example-radio-group" ngModel name="{{detailatributo.id}}">
              <mat-radio-button class="example-radio-button" *ngFor="let item of items" [value]="item.value">
                {{item.value}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          </div>          


          <div *ngIf="detailatributo.type == 'spinner' && detailatributo.descripcion != 'Inspector'" >
            <div>
              <mat-form-field class="full-width">
                <mat-select placeholder="{{detailatributo.descripcion}}"  ngModel name="{{detailatributo.id}}" >
                  <div *ngFor="let items of detailatributo.datos | split" >
                    <mat-option *ngFor="let item of items" [value]="item.value" >
                      {{item.value}}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
          </div>


          <div *ngIf="detailatributo.type == 'spinner' && detailatributo.descripcion == 'Inspector' && selectedUsers" >
            <div>
              <mat-form-field class="full-width">
                <mat-select placeholder="{{detailatributo.descripcion}}"  [(ngModel)]="selectedUsers.usuario" name="{{detailatributo.id}}" >
                  <div *ngFor="let items of detailatributo.datos | split: selectedUsers.usuario">
                    <mat-option *ngFor="let item of items" [value]="item.value" >
                      {{item.value}}
                    </mat-option>

                  </div>
                </mat-select>
              </mat-form-field>
            </div>
          </div>






    </div>
  </div>


  </form>
</div>
    <div mat-dialog-actions>
      <button mat-button color="primary" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd(formControl)" mat-raised-button color="primary" class="btnsave">Guardar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1" mat-raised-button class="btnclose">Cerrar</button>
    </div>


