<meta name="Description" content="Dashboard">
<!--CONTENT-->
<div class="loading" *ngIf="!proyectos && identity">
<app-loading></app-loading>  
</div>

    <div id="wrapper" *ngIf="proyectos && identity">

        <!-- Sidebar <app-menu  (RefreshMenu) = "refreshMenu( $event )" ></app-menu> -->
            
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" >

            <div class="container-fluid">               

              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  border-bottom">
                <h1 class="h4">Dashboard</h1>
                <div *ngIf="message">
                  MSJ
                  {{ (message | async | json) }}
                  {{ (message | async )?.notification.title }}
                </div>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                    <button (click)="sendMsj()">Send FCM via Cloud Function</button>
                  </div>
                </div>
              </div>

                
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


