<meta name="Description" content="Dashboard">
<!--CONTENT-->
<div class="loading" *ngIf="!proyectos && identity">
<app-loading></app-loading>  
</div>

    <div id="wrapper" *ngIf="proyectos && identity">

        <!-- Sidebar <app-menu  (RefreshMenu) = "refreshMenu( $event )" ></app-menu> -->
            
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" >

            <div class="container-fluid">               

              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  border-bottom">
                <h1 class="h4">{{title}}</h1>
              </div>

              <div class="container-fluid p-2">

                  <app-project-list *ngIf="identity"></app-project-list>

              </div>
            </div>
        </div>

        <!-- /#page-content-wrapper -->
    </div>


