<mat-card>
    <mat-card-header [ngClass]="{'custom-card':true}">
        <mat-card-title>CSV Clientes</mat-card-title>
        <mat-card-subtitle>Permite la descarga del listado de clientes registrados, según búsqueda realizada.</mat-card-subtitle>
    </mat-card-header>
    <div class="row animated fadeIn" *ngIf="loading">
        <div class="col-sm-12">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>   
    <mat-card-content style="height: auto;">
        <div class="p-2">
            <form ngNativeValidate [formGroup]="forma">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Fecha de registro </h2>
                                <ng-select  
                                    [items]="fecha_creatEdit"
                                    [clearable]="false" 
                                    bindLabel="name"
                                    bindValue="value"
                                    class="full-width"
                                    name="fecha_creatEdit" formControlName="fecha_creatEdit">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Limite * </h2>
                                <ng-select  
                                    [items]="limite"
                                    [clearable]="false" 
                                    bindLabel="name"
                                    bindValue="value"
                                    class="full-width"
                                    name="limite" formControlName="limite">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Formato * </h2>
                                <ng-select  
                                    [items]="formatos"
                                    [clearable]="false" 
                                    bindLabel="name"
                                    bindValue="value"
                                    class="full-width"
                                    name="formato" formControlName="formato">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Fecha Desde </h2>
                                <mat-form-field appearance="outline" class="full-width">
                                    <input matInput [matDatepicker]="fecha1" formControlName="fecha_desde" name="fecha_desde">
                                    <mat-datepicker-toggle matSuffix [for]="fecha1"></mat-datepicker-toggle>
                                    <mat-datepicker #fecha1 disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Hora Desde (Opcional) </h2>
                                <mat-form-field appearance="outline" class="full-width">
                                    <input matInput
                                            formControlName="hora_desde"
                                            name="hora_desde"
                                            [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
                                    <owl-date-time [pickerType]="'timer'" #dt1></owl-date-time>      
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Fecha hasta </h2>
                                <mat-form-field appearance="outline" class="full-width">
                                    <input matInput [matDatepicker]="fecha2" formControlName="fecha_hasta" name="fecha_hasta">
                                    <mat-datepicker-toggle matSuffix [for]="fecha2"></mat-datepicker-toggle>
                                    <mat-datepicker #fecha2 disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Hora hasta (Opcional) </h2>
                                <mat-form-field appearance="outline" class="full-width">
                                    <input matInput
                                            formControlName="hora_hasta"
                                            name="hora_hasta"
                                            [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
                                    <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>      
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                    <h2 class="jeEmY"> Región </h2>
                                    <ng-select  
                                        [items]="region"
                                        [clearable]="false" 
                                        bindLabel="region_name"
                                        bindValue="id"
                                        class="full-width"
                                        (change)="selectRegion($event.id)"
                                        name="id_region" formControlName="id_region">
                                    </ng-select>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Provincia </h2>
                                <ng-select  
                                    [items]="provincia"
                                    [clearable]="false" 
                                    bindLabel="province_name"
                                    bindValue="id"
                                    class="full-width"
                                    (change)="selectProvincia($event.id)"
                                    name="id_provincia" formControlName="id_provincia">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Comuna </h2>
                                <ng-select  
                                    [items]="comuna"
                                    [clearable]="false" 
                                    bindLabel="commune_name"
                                    bindValue="id"
                                    class="full-width"
                                    name="id_comuna" formControlName="id_comuna">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Constante </h2>
                                <ng-select  
                                    [items]="constante"
                                    [clearable]="true" 
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    class="full-width"
                                    name="id_constante" formControlName="id_constante">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Giro </h2>
                                <ng-select  
                                    [items]="giro"
                                    [clearable]="true" 
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    class="full-width"
                                    name="id_giro" formControlName="id_giro">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Mercado </h2>
                                <ng-select  
                                    [items]="mercado"
                                    [clearable]="true" 
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    class="full-width"
                                    name="id_mercado" formControlName="id_mercado">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Sector </h2>
                                <ng-select  
                                    [items]="sector"
                                    [clearable]="true" 
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    class="full-width"
                                    name="id_sector" formControlName="id_sector">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <h2 class="jeEmY">Tarifa</h2>
                                <ng-select  
                                    [items]="tarifa"
                                    [clearable]="true" 
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    class="full-width"
                                    name="id_tarifa" formControlName="id_tarifa">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Zona </h2>
                                <ng-select  
                                    [items]="zona"
                                    [clearable]="true" 
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    class="full-width"
                                    name="id_zona" formControlName="id_zona">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Set </h2>
                                <ng-select  
                                    [items]="set"
                                    [clearable]="false" 
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    class="full-width"
                                    (change)="selectSet($event.id)"
                                    name="id_set" formControlName="id_set">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Alimentador </h2>
                                <ng-select  
                                    [items]="set"
                                    [clearable]="false" 
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    class="full-width"
                                    (change)="selectAlimentador($event.id)"
                                    name="id_alimentador" formControlName="id_alimentador">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Sed </h2>
                                <ng-select  
                                    [items]="sed"
                                    [clearable]="false" 
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    class="full-width"
                                    name="id_sed" formControlName="id_sed">
                                </ng-select>
                            </div>
                            <div class="col-md-3">
                                <h2 class="jeEmY"> Clave de lectura </h2>
                                <ng-select  
                                    [items]="clavelectura"
                                    [clearable]="true" 
                                    bindLabel="descripcion"
                                    bindValue="id"
                                    class="full-width"
                                    name="id_clavelectura" formControlName="id_clavelectura">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
                            
                <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <div class="text-center">
                                <button  mat-stroked-button color="primary" [disabled]="forma.invalid" (click)="searchClient(forma.value)" style="margin-right: 8px;"> Buscar </button>  
                                <button mat-stroked-button color="accent" (click)="forma.reset()" style="margin-left: 8px; margin-right: 8px;"> Limpiar </button>
                                <button mat-stroked-button  color="warn" (click)="onNoClick()" style="margin-left: 8px;"> Cancelar </button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>

