

<div class="row animated fadeIn">
    <div class="col-12">
        <!---
        <div class="row animated fadeIn" *ngIf="loading">
            <div class="col-sm-12">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
        -->
        <div class="animated fadeIn">
            <div class="hGgeKi ">
                <div class="container-fluid p-2">

                        <div class="row">                                            
                            <div class="col-md-9">
                                <div class="iDwfcE" >
                                <div class=" dIOqge" >                            
                                <div class="jmuLsE" >
                                                    
                                <div class="row" *ngIf="!loading">
                                    <div class="col-sm">
                                        <div class="row d-flex justify-content-center">        
                                        <span>
                                        Órdenes de Trabajo. <span *ngIf="formulario && formulario.value.dateoptions && kpidateoption">({{kpidateoption.name}})</span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                                
                                <div class="container-fluid" *ngIf="loading">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="row d-flex justify-content-center">
                                                <mat-spinner  mode="indeterminate" [strokeWidth]="1" [diameter]="17" *ngIf="loading" ></mat-spinner>
                                            </div>                        
                                        </div>
                                    </div>
                                </div>                

                                <div class="row justify-content-center align-items-center" align="center" *ngIf="!loading">
                                    <br>
                                    <div class="container-fluid" *ngIf="kpipaymentprojectservice && kpipaymentprojectservice.length > 0 ">
                                        <div class="row">
                                            <div class="col-12">
                                            <div class="row d-flex justify-content-center ">

                                                <ngx-charts-bar-vertical
                                                (window:resize)="onResize($event)"
                                                [view]="view"
                                                [scheme]="colorScheme"
                                                [results]="kpipaymentprojectservice"
                                                [gradient]="gradient"
                                                [xAxis]="showXAxis"
                                                [yAxis]="showYAxis"
                                                [legend]="showLegendVertical"
                                                [showXAxisLabel]="showXAxisLabel"
                                                [showYAxisLabel]="showYAxisLabel"
                                                >
                                                </ngx-charts-bar-vertical>

                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm" *ngIf="kpipaymentprojectservice && kpipaymentprojectservice.length == 0">
                                        <div class="row d-flex justify-content-center">
                                            <div class="dGHjBt">
                                            <p class="hAzwqT">
                                            Sin Información.
                                            </p>
                                            <p class="hkvxBP"><span>(Verifique fecha seleccionada ó valores de la actividad).</span></p>
                                            </div>
                                        </div>    
                                    </div>
                                    
                                </div>

                                </div>
                                </div>
                                </div>

                                <div id="table">
                                    <table class="table table-bordered table-striped responsive" *ngIf="kpipaymentdatatable && kpipaymentdatatable.length > 0 && !loading">
                                        <thead >
                                            <tr>
                                            <th scope="col">Servicio</th>
                                            <th scope="col">Actividades</th>                                
                                            <th scope="col">Valor Actividad</th>
                                            <th scope="col">Servicio Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let k of kpipaymentdatatable | keys;">
                                            <th scope="row">{{ kpipaymentdatatable[k].name }}</th>
                                            <td>{{ kpipaymentdatatable[k].activity | number}} </td>
                                            <td>{{ kpipaymentdatatable[k].value | number}}</td>
                                            <td>{{ kpipaymentdatatable[k].revenue | number}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
    
                            </div>

                            

                            <div class="col-md-3 order-first order-md-last">
                                <div class="gLOvjB">
                                    <form ngNativeValidate [formGroup]="formulario">
                                        <div *ngIf="datesearchoptions">
                                            <h2 class="jeEmY">Fecha</h2>
                                            <div class="input-group input-group-sm mb-3" >
                                                <ng-select
                                                [items]="datesearchoptions"
                                                [clearable]="false"
                                                bindLabel="name"
                                                bindValue="value"
                                                class="width-100percentage" name="dateoptions" formControlName="dateoptions">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div *ngIf="formulario.value.dateoptions == 'custom'">
                                            <h2 class="jeEmY">Rango de fecha</h2>
                                            <p-calendar placeholder="yyyy-mm-dd" dateFormat="yy-mm-dd"   showButtonBar="true" readonlyInput="true" hourFormat="24"  [locale]="es"  selectionMode="range" [showIcon]="true" name="date_rango" formControlName="date_rango">
                                                <p-footer></p-footer>
                                            </p-calendar>
                                        </div>
                                        <div class="row" style="margin-top: 14px;">
                                            <div class="col-md-12">
                                                <div class="text-center">
                                                    <button  mat-raised-button color="primary" (click)="getDataPayment(project.id, id, formulario.value.dateoptions)" style="margin-right: 8px;"  [disabled]="formulario.invalid" *ngIf="project && project.id > 0 && id > 0">
                                                        <mat-icon aria-label="Edit">done</mat-icon>Aceptar                  
                                                    </button>
                                                    <button  mat-raised-button color="warn" (click)="formulario.reset(); servicetype = null; serviceestatus = null;" style="margin-left: 4px;">
                                                        <mat-icon aria-label="Close">delete_sweep</mat-icon>Limpiar
                                                    </button>  
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    


                </div>
            </div>

        </div>
    </div>
</div>



<div *ngIf="identity && project">


<br>

                
<div class="row" >
    <div class="col">
        <div class="jfCYPT">
            <div class="jfCYPT">
                <div class="didcdr" data-test-selector="profile-worked-with">
                    <div class="iDwfcE" >
                        <div class="eCdVoi">
                            <div class="jNlJOD">
                                <span>
                                    Resumen de Producción Económica (3 meses anteriores) y Previsión próximo mes.
                                </span>
                            </div>
                        </div>    
                        <div>
                        <div class="container-fluid" *ngIf="isLoadingchart">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="row d-flex justify-content-center">
                                        <mat-spinner  mode="indeterminate" [strokeWidth]="1" [diameter]="17" *ngIf="isLoadingchart" ></mat-spinner>
                                    </div>                        
                                </div>
                            </div>
                        </div>
        
                        <div class=" dIOqge" *ngIf="!isLoadingchart">
                            
                            <div class="jmuLsE" >
                                <mat-card class="container-fluid">
                                <mat-card-content>                    
                                <div class="row d-flex justify-content-center p-2" >
                                    <br>
                                    <div class="container-fluid" *ngIf="kpidataforecast && kpidataforecast.length > 0 ">
                                        <div class="row">
                                            <div class="col-12">
                                            <div class="row d-flex justify-content-center">
                                            AAA
                                            </div>
                                            </div>
                                        </div>
                                    </div>                                            
                                </div>
                                </mat-card-content>
                                </mat-card>
                            </div>

                            <div class="jmuLsE" >
                                <mat-card class="container-fluid">
                                <mat-card-content>
                                <div class="row d-flex justify-content-center p-2" >
                                    <br>
                                    <div class="container-fluid" *ngIf="kpidataforecast && kpidataforecast.length > 0 ">
                                        <div class="row">
                                            <div class="col-12">
                                            <div class="row d-flex justify-content-center">
                                            BBB
                                            </div>
                                            </div>
                                        </div>
                                    </div>                                            
                                </div>            
                                </mat-card-content>
                                </mat-card>
                            </div>
    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br>

    
<div class="row" >
    <div class="col">
        <div class="jfCYPT">
            <div class="jfCYPT">
                <div class="didcdr" data-test-selector="profile-worked-with">
                    <div class="iDwfcE" >
                        <div class="eCdVoi">
                            <div class="jNlJOD">
                                <span>
                                    Resumen de Producción Operativo (3 meses anteriores) y Previsión próximo mes.
                                </span>
                            </div>
                        </div>    
                        <div>
                        <div class="container-fluid" *ngIf="isLoading">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="row d-flex justify-content-center">
                                        <mat-spinner  mode="indeterminate" [strokeWidth]="1" [diameter]="17" *ngIf="isLoading" ></mat-spinner>
                                    </div>                        
                                </div>
                            </div>
                        </div>
        
                        <div class=" dIOqge" *ngIf="!isLoading">
    
                            <div class="jmuLsE" >
                                <div class="row d-flex justify-content-center p-2" >
                                    <mat-card class="container-fluid">
                                        <mat-card-content>

                                            <br>
                                            <mat-table #table [dataSource]="kpiTableData" matSort [class.isMobile]="isMobile" *ngIf="kpiTableData && kpidata.length > 0">
                                                <ng-container matColumnDef="status">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> 
                                                        <span class="mobile-label">Estatus:</span>
                                                        <span *ngIf="element && element.status">{{element.status}}</span>
                                                    </mat-cell>
                                                </ng-container>
                            
                            
                                                <ng-container [matColumnDef]="displayedColumns[1]">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedColumns[1]}} </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> 
                                                        <span class="mobile-label">{{ displayedColumns[1] }}:</span>
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedColumns[1]}} </mat-header-cell>
                                                        <span *ngIf="element && element[displayedColumns[1]].produccion || element && element[displayedColumns[1]].produccion == 0">{{ element[displayedColumns[1]].produccion | number}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                    
                            
                                                <ng-container [matColumnDef]="displayedColumns[2]">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ displayedColumns[2] }} </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> 
                                                        <span class="mobile-label">{{ displayedColumns[2] }}:</span>
                                                        <span *ngIf="element && element[displayedColumns[2]].produccion || element && element[displayedColumns[2]].produccion == 0">{{ element[displayedColumns[2]].produccion | number}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                    
                            
                                                <ng-container [matColumnDef]="displayedColumns[3]">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ displayedColumns[3] }} </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> 
                                                        <span class="mobile-label">{{ displayedColumns[3] }}:</span>
                                                        <span *ngIf="element && element[displayedColumns[3]].produccion || element && element[displayedColumns[3]].produccion == 0">{{ element[displayedColumns[3]].produccion | number}}</span>
                                                    </mat-cell>
                                                </ng-container>

                                                
                                                <ng-container [matColumnDef]="displayedColumns[4]">
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ displayedColumns[4] }} </mat-header-cell>
                                                        <mat-cell *matCellDef="let element"> 
                                                            <span class="mobile-label">{{ displayedColumns[4] }}:</span>
                                                            <span *ngIf="element && element[displayedColumns[4]].produccion || element && element[displayedColumns[4]].produccion == 0">{{ element[displayedColumns[4]].produccion | number}}</span>
                                                        </mat-cell>
                                                    </ng-container>
    

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
                                    
                                            </mat-table>
                                            <div  *ngIf="kpidata && kpidata.length > 0 && kpiTableData != null">
                                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                            </div>                                            

                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div> 
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row" >
    <div class="col">
        <div class="jfCYPT">
            <div class="jfCYPT">
                <div class="didcdr" data-test-selector="profile-worked-with">
                    <div class="iDwfcE" >
                        <div class="eCdVoi">
                            <div class="jNlJOD">
                                <span>
                                    Resumen de Producción Operativo (3 meses anteriores) y Previsión próximo mes.
                                </span>
                            </div>
                        </div>    
                        <div>
                        <div class="container-fluid" *ngIf="isLoadingchart">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="row d-flex justify-content-center">
                                        <mat-spinner  mode="indeterminate" [strokeWidth]="1" [diameter]="17" *ngIf="isLoadingchart" ></mat-spinner>
                                    </div>                        
                                </div>
                            </div>
                        </div>
        
                        <div class=" dIOqge" *ngIf="!isLoadingchart">
                            
                            <div class="jmuLsE" >
                                <mat-card class="container-fluid">
                                <mat-card-content>                    
                                <div class="row d-flex justify-content-center p-2" >
                                    <br>
                                    <div class="container-fluid" *ngIf="kpidataforecast && kpidataforecast.length > 0 ">
                                        <div class="row">
                                            <div class="col-12">
                                            <div class="row d-flex justify-content-center">
                                                <ngx-charts-bar-vertical-2d
                                                    (window:resize)="onResize($event)"
                                                    [view]="view"
                                                    [scheme]="colorScheme"
                                                    [results]="kpidataforecast"
                                                    [gradient]="gradient"
                                                    [xAxis]="showXAxis"
                                                    [yAxis]="showYAxis"
                                                    [legend]="showLegend"
                                                    [showXAxisLabel]="showXAxisLabel"
                                                    [showYAxisLabel]="showYAxisLabel"
                                                    [xAxisLabel]="xAxisLabel"
                                                    [yAxisLabel]="yAxisLabel"
                                                    >
                                                </ngx-charts-bar-vertical-2d>
                                            </div>
                                            </div>
                                        </div>
                                    </div>                                            
                                </div>
                                </mat-card-content>
                                </mat-card>
                            </div>

                            <div class="jmuLsE" >
                                <mat-card class="container-fluid">
                                <mat-card-content>            
                                <div class="row d-flex justify-content-center p-2" >
                                    <br>
                                    <div class="container-fluid" *ngIf="kpidataforecast && kpidataforecast.length > 0 ">
                                        <div class="row">
                                            <div class="col-12">
                                            <div class="row d-flex justify-content-center">
                                                <ngx-charts-advanced-pie-chart
                                                    (window:resize)="onResize($event)"
                                                    [view]="view"
                                                    [scheme]="colorScheme"
                                                    [results]="kpidatasingle"
                                                    [gradient]="gradient"
                                                    >
                                                </ngx-charts-advanced-pie-chart>
                                            </div>
                                            </div>
                                        </div>
                                    </div>                                            
                                </div>
                                </mat-card-content>
                                </mat-card>
                            </div>
    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>