<div class="example-container mat-elevation-z8" >
	<div class="row justify-content-center align-items-center barra-map">
		<div class="col-lg-3 col-md-3 col-sm-1 col-2">
			<a href="javascript:void(0)" (click)="openwindows()" >                  
				<i class="material-icons md-20 icon-map"  matTooltip="Mapa en ventana emergente.">zoom_out_map</i> 
			</a>
			<a href="javascript:void(0)" (click)="opencategoria()" style="margin-left: 5px;">                  
				<i class="material-icons md-20 icon-map"  matTooltip="Categorias">category</i> 
			</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-10 col-8">
			<input type="text" class="form-control full-width search-map" #search placeholder="Ingrese dirección y seleccione desde la lista desplegable" autocorrect="off" autocapitalize="off" spellcheck="off">
		</div>	
		<div class="col-lg-3 col-md-3 col-sm-1 col-2" align="right">
			<a href="javascript:void(0)" (click)="handledrawer()">                   
				<i class="material-icons md-20 icon-map" *ngIf="!showdrawer" matTooltip="Ocultar filtro.">play_arrow</i> 
				<i class="material-icons md-20 icon-map" *ngIf="showdrawer"  matTooltip="Desplegar filtro.">navigate_before</i> 
			</a>
		</div>  
	</div>  
	<mat-drawer-container class="drawer-container" autosize>
		<div class="relative">
			<div class="example-loading-shade" *ngIf="isLoadingResults">
				<app-loading *ngIf="isLoadingResults"></app-loading>  
			</div>
			<ng-container *ngIf="renderMap">
				<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [fullscreenControl]='true' [mapTypeControl]='true'  (mapReady)="onMapReady($event)">
					<agm-marker *ngFor="let market of homemarcador"
					[markerClickable]="true"
					[iconUrl]="market.icon"
					[latitude]="market.lat" 
					[longitude]="market.lng">
						<agm-info-window>      
							<strong>{{market.titulo}}</strong>
							<p>
							{{market.subtitulo}}
							</p>
						</agm-info-window>	  	
					</agm-marker>
					<agm-marker *ngFor="let user of usermarcadores"
					[markerClickable]="true"
					[iconUrl]="user.icon"
					[latitude]="user.lat" 
					[longitude]="user.lng">
						<agm-info-window>      
							<strong>{{user.titulo}}</strong>
							<p>
							{{user.subtitulo}}
							</p>
							{{user.direccion}}
							<br>
							{{user.create_at}}
						</agm-info-window>	  	
					</agm-marker>	  
					<agm-marker *ngFor="let marcador of marcadores"
					[markerClickable]="true"
					[iconUrl]="marcador.icon"
					[latitude]="marcador.lat" 
					[longitude]="marcador.lng">
						<agm-info-window>      
							<strong>{{marcador.titulo}}</strong>
							<br>
							{{marcador.subtitulo}}
							<br>
							{{marcador.direccion}}		  				  	
							<hr>
							{{marcador.create_by}}			  	
							<br>
							{{marcador.create_at}}
							<hr>
							{{marcador.update_by}}
							<br>
							{{marcador.update_at}}
							<hr>
							<strong>{{marcador.estatus}}</strong>
						</agm-info-window>	  	
					</agm-marker>
					<agm-marker *ngFor="let usertracking of usertrackingmarcadores"
					[markerClickable]="true"
					[iconUrl]="iconusertracking"
					[latitude]="usertracking.lat" 
					[longitude]="usertracking.lng"
					[label]="{color: '#ffffff',
							fontSize: '10px',
							fontWeight: 'bold',
							text: (usertracking.label).toString()}">
						<agm-info-window>      
							<strong>{{usertracking.titulo}}</strong>
							<p>
							{{usertracking.subtitulo}}
							</p>
							{{usertracking.direccion}}
							<br>			  	
							{{usertracking.create_at}}
						</agm-info-window>	  	
					</agm-marker>
					<agm-marker *ngFor="let userordenes of userordenesmarcadores"
					[markerClickable]="true"
					[iconUrl]="userordenes.icon"
					[latitude]="userordenes.lat" 
					[longitude]="userordenes.lng"
					[label]="{color: '#ffffff',
							fontSize: '10px',
							fontWeight: 'bold',
							text: (userordenes.label).toString()}">
						<agm-info-window>      
							<strong>{{userordenes.titulo}}</strong>
							<br>
							{{userordenes.subtitulo}}
							<hr>
							{{userordenes.create_at}}
							<hr>
							{{userordenes.update_at}}
							<br>
							{{userordenes.update_by}}
							<hr>
							<strong>{{userordenes.estatus}}</strong>
						</agm-info-window>	  	
					</agm-marker>
					<agm-direction 
						*ngIf="datadirections" 
						[origin]="datadirections.destination" 
						[destination]="datadirections.origin" 
						[waypoints]="wayspoints" 
						[infoWindow]="infoWindow"
						[renderOptions]="renderOptions"
						[optimizeWaypoints]="optimizeWaypoints">
					</agm-direction>
					<agm-marker 
						[markerClickable]="true"
						[latitude]="mylatitude" 
						[longitude]="mylongitude"
						[markerDraggable]="true"
						(dragEnd)="markerDragEnd($event)">
						<agm-info-window>      
							<strong>Dirección:</strong>
							<p>
							{{ myaddress }}
							</p>
						</agm-info-window>	  	
					</agm-marker>
				</agm-map>
			</ng-container>
			<div class="row justify-content-center rolesclass">
				<div class="rolclass">
					<ng-container>
						<img width="12px" src="./../assets/img/marker-green.png"> Ordenes Atendidas
					</ng-container>
				</div>
				<div class="rolclass">
					<ng-container>
						<img width="12px" src="./../assets/img/marker-red.png"> Ordenes Pendientes
					</ng-container>
				</div>
			</div>
			<div *ngIf="roles.length > 0" class="row justify-content-center rolesclass rolesclassbootom">
				<div *ngFor="let rol of roles" class="rolclass">
					<ng-container *ngIf="7 >= rol.id">
						<img width="12px" src="./../assets/img/{{rol.id}}.png"> {{rol.title}}
					</ng-container>
				</div>
			</div>
		</div>
		<mat-drawer #drawer class="drawer-sidenav" mode="side" position="end" opened>
			<mat-tab-group>
				<mat-tab>
				  <ng-template mat-tab-label>
					MAPA
				  </ng-template>
				  <div class="btn-toolbar"  role="toolbar" aria-label="Toolbar with button groups">
					<div class="btn-group mr-2" role="group" aria-label="First group">
						<mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" (click)="toggle()" id="bt"  *ngIf="!show">
							<mat-button-toggle value="bold">Filtros<i class="material-icons" >arrow_right</i></mat-button-toggle>
						</mat-button-toggle-group>
						<mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" (click)="toggle()" id="bt"  *ngIf="show">
							<mat-button-toggle value="bold">Filtros<i class="material-icons" style="color:blue">arrow_drop_down</i></mat-button-toggle>
						</mat-button-toggle-group>
					</div>
					<div class="btn-group mr-2" role="group" aria-label="Second group">
						<mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" (click)="refresh()">
							<mat-button-toggle value="bold"><i class="material-icons">refresh</i></mat-button-toggle>
						</mat-button-toggle-group>
					</div>
					<div class="btn-group mr-2" role="group" aria-label="Tird group">
						<mat-button-toggle-group appearance="legacy"  name="fontStyle" aria-label="Font Style" (click)="reset()">
							<mat-button-toggle value="bold"><i class="material-icons">delete_sweep</i></mat-button-toggle>
						</mat-button-toggle-group>
					</div>
				</div>            
				<div class="animated fadeIn" style="visibility: visible; z-index: 1;" *ngIf="show">
					<table >
						<tr>
							<td width="50%"><strong>Tracking:</strong></td>
							<td width="50%">
								<mat-form-field class="geo-select-width" >
									<mat-select [formControl]="userCtrl"  placeholder="Inspector" #singleSelect  (selectionChange)="loadusertracking(this.project_id, selected)" [(value)]="selected">
										<ngx-mat-select-search [formControl]="userMultiFilterCtrl" ></ngx-mat-select-search>
										<mat-option *ngFor="let user of filteredUserMulti | async" [value]="user.id">
										{{user.name}}
										</mat-option>
										<p></p>
										<div class="container" *ngIf="userCtrl.value">
											<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group mr-2" role="group" aria-label="First group">
													<button type="button" class="btn btn-primary btn-sm" (click)="loadusertracking(this.project_id, selected)">Buscar</button>
												</div>
												<div class="btn-group mr-2" role="group" aria-label="Second group">
													<button type="button" class="btn btn-secondary btn-sm" (click)="resetUserFilters()">Limpiar</button>
												</div>
											</div>            
										</div>			
										<p></p>
									</mat-select>
								</mat-form-field>
							</td>
						</tr>
						<tr>
							<td width="50%"><strong>Ordenes:</strong></td>
							<td width="50%">
								<mat-form-field class="geo-select-width">
									<mat-select [formControl]="ordenesCtrl" #singleSelect placeholder="Seleccione" [(value)]="selectedColumnnOrdenes.fieldValue" (selectionChange)="loaduserordenes(this.project_id, selectedColumnnOrdenes.fieldValue)">
										<ngx-mat-select-search [formControl]="ordenesFilterCtrl"></ngx-mat-select-search>
										<mat-option *ngFor="let user of filteredUserOrdenes | async" [value]="user.id">
										{{user.name}}
										</mat-option>
										<p></p>
										<div class="container" *ngIf="ordenesCtrl.value">
											<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group mr-2" role="group" aria-label="First group">
													<button type="button" class="btn btn-primary btn-sm" (click)="loaduserordenes(this.project_id, selectedColumnnOrdenes.fieldValue)">Buscar</button>
												</div>
												<div class="btn-group mr-2" role="group" aria-label="Second group">
													<button type="button" class="btn btn-secondary btn-sm" (click)="selectedColumnnOrdenes.fieldValue=''">Limpiar</button>
												</div>
											</div>            
										</div>			
										<p></p>
									</mat-select>
								</mat-form-field>
							</td>
						</tr>
						<tr>
							<td width="50%"><strong>Estatus:</strong></td>
							<td width="50%">
								<mat-form-field class="geo-select-width">
									<mat-select placeholder="Seleccione" [(ngModel)]="selectedColumnnEstatus.fieldValue" (selectionChange)="loadordenesestatus(this.project_id, selectedColumnnEstatus.fieldValue)">
										<mat-option *ngFor="let status of serviceestatus" [value]="status.id">{{status.name}}</mat-option>
										<p></p>
										<div class="container" *ngIf="selectedColumnnEstatus.fieldValue">
											<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group mr-2" role="group" aria-label="First group">
													<button type="button" class="btn btn-primary btn-sm" (click)="loadordenesestatus(this.project_id, selectedColumnnEstatus.fieldValue)">Buscar</button>
												</div>
												<div class="btn-group mr-2" role="group" aria-label="Second group">
													<button type="button" class="btn btn-secondary btn-sm" (click)="selectedColumnnEstatus.fieldValue=''">Limpiar</button>
												</div>
											</div>            
										</div>			
										<p></p>
									</mat-select>
								</mat-form-field>
							</td>
						</tr>
					</table>
					<div class="alert alert-danger" *ngIf="message == 'error' " role="alert">
						Sin registros.
					</div>
				</div>
				<br>
				<div role="toolbar" aria-label="Toolbar with button groups">
					<div class="btn-group mr-2" role="group" aria-label="First group">
						<mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" (click)="toggleadvance()" id="bt"  *ngIf="!showadvance">
							<mat-button-toggle value="bold">Otros Filtros<i class="material-icons" >arrow_right</i></mat-button-toggle>
						</mat-button-toggle-group>
						<mat-button-toggle-group appearance="legacy"  name="fontStyle" aria-label="Font Style" (click)="toggleadvance()" id="bt"  *ngIf="showadvance">
							<mat-button-toggle value="bold">Otros Filtros<i class="material-icons" style="color:blue">arrow_drop_down</i></mat-button-toggle>
						</mat-button-toggle-group>
					</div>
				</div>            
				<div class="animated fadeIn" style="visibility: visible; z-index: 1;" *ngIf="showadvance">
					<table >
						<tr>
							<td width="50%"><strong>Tracking:</strong></td>
							<td width="50%">
								<mat-form-field class="geo-select-width" >
									<mat-select [formControl]="userAdvanceCtrl"  placeholder="Inspector" #singleSelect  [(value)]="selectedValue">
										<ngx-mat-select-search [formControl]="userAdvanceMultiFilterCtrl" ></ngx-mat-select-search>
										<mat-option *ngFor="let userdvance of filteredUserAdvanceMulti | async" [value]="userdvance.id">
										{{userdvance.name}}
										</mat-option>
										<p></p>
									</mat-select>
								</mat-form-field>
							</td>
						</tr>
						<tr *ngIf="userAdvanceCtrl.value">
							<td width="50%"><strong>Fecha:</strong></td>
							<td width="50%">
							<mat-form-field *ngIf="userAdvanceCtrl.value" class="geo-select-width" >
							<input matInput [matDatepicker]="fecha1" placeholder="Fecha" [(ngModel)]="selectedColumnnDate.columnValueDesde"disabled>
								<mat-datepicker-toggle matSuffix [for]="fecha1"></mat-datepicker-toggle>
									<mat-datepicker #fecha1 disabled="false"></mat-datepicker>
								</mat-form-field>	    	
							</td>
						</tr>
						<tr *ngIf="selectedColumnnDate.columnValueDesde">
							<td width="50%"><strong>Desde:</strong></td>
							<td width="50%">
								<div class="geo-select-width">
									<ngb-timepicker [(ngModel)]="timefrom" [hourStep]="hourStep" [minuteStep]="minuteStep" [spinners]="spinners"></ngb-timepicker>
								</div>
							</td>
						</tr>
						<tr *ngIf="selectedColumnnDate.columnValueDesde">
							<td width="50%"><strong>Hasta:</strong></td>
							<td width="50%">
								<div class="geo-select-width">
									<ngb-timepicker [(ngModel)]="timeuntil" [hourStep]="hourStep" [minuteStep]="minuteStep" [spinners]="spinners"></ngb-timepicker>
								</div>
							</td>
						</tr>
					</table>	
					<div class="p-2" *ngIf="userAdvanceCtrl.value || selectedColumnnDate.columnValueDesde">
						<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
							<div class="btn-group mr-2" role="group" aria-label="First group">
								<button type="button" class="btn btn-primary btn-sm" (click)="loadusertrackingdate(this.project_id, selectedValue)">Buscar</button>
							</div>
							<div class="btn-group mr-2" role="group" aria-label="Second group">
								<button type="button" class="btn btn-secondary btn-sm" (click)="resetUserAdvanceFilters()">Limpiar</button>
							</div>
						</div>            
					</div>			
					<div class="p-2">
						<div class="alert alert-danger" *ngIf="messageadvance == 'error'" role="alert">
						Sin registros.
						</div>
					</div>
				</div>
				</mat-tab>
				<mat-tab>
				  <ng-template mat-tab-label>
					Polígonos
				  </ng-template>
				  <div class="row">
					<div class="col-md-12">
						<div id="sidebar" *ngIf="categoria && categoria.length > 0">
                            <ul class="list-unstyled components">
                                <li *ngFor="let category of categoria;  let i = index;">
                                    <a href="#categorymap{{i}}" id="category{{i}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <!-- (click)="getPoligonos(category, i)-->
										<div style="margin-right: 20px; display: flex;">
											<div>{{category.descripcion}}</div>
                                            <div>
												<h6 *ngIf="category.poligonos"><span class="badge badge-light">{{category.poligonos.length}}</span></h6>   
											</div>
										</div>
                                    </a>
                                    <ul class="list-unstyled collapse active show" id="categorymap{{i}}" *ngIf="category.poligonos">
										<li>
                                            <a href="javascript:void(0)">
												<mat-checkbox id="{{category.id}}" [(ngModel)]="category.status" (change)="changeCategory($event, i)">Ver o ocultar todo</mat-checkbox>
                                            </a>
                                        </li>
										<li *ngFor="let poligonos of category.poligonos; let x = index;">
                                            <a href="javascript:void(0)">
												<mat-checkbox id="{{poligonos.id}}" [(ngModel)]="poligonos.status" (change)="changePoligono($event, i, x)">{{ poligonos.name }}</mat-checkbox>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
						</div>
						<div class="alert alert-danger" align="center" style="margin-top: 20px;" *ngIf="categoria && categoria.length === 0">
							No se encontraron registros.
						</div>
					</div>
				  </div>
				</mat-tab>
			  </mat-tab-group>
		</mat-drawer>
	</mat-drawer-container>
</div>
