<div class="row" *ngIf="identity">
    <div class="col">
        <div class=" jfCYPT">
            <div class=" jfCYPT">
              <div class=" didcdr" data-test-selector="profile-worked-with">
                <div class=" iDwfcE" >
                    <!----
                    <div class=" eCdVoi">
                        <div class=" jNlJOD">
                            <span>
                                Órdenes de Trabajo.
                            </span>
                        </div>
                    </div>
                    -->    
                    <div>
                        <div class=" dIOqge" >
                            <!---------------------------------------------------------- Órdenes Editadas por Tipo de Servicio (PIE). ------------------------------------------------------------->
                            <div class="jmuLsE">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="row d-flex justify-content-center">        
                                        <span>
                                        Órdenes de Trabajo.
                                        <button mat-icon-button 
                                        matTooltip="Indicador por Fecha de Edición"
                                        [matTooltipPosition]="positionrightaction.value"
                                        (event)="$event.stopinmediatePropagation()"
                                        >
                                        <mat-icon class="material-icons md-14-color">help_outline</mat-icon>
                                        </button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
    
                                <div class=" pUmbZ">
                                    <!-------------SPACE---------------->
                                    <div class="container-fluid" >
                                        <div class="row">
                                            <div class="col-sm">
                                              <br>
                                            </div>
                                        </div>
                                    </div>        
                                    <!---------------------------------->
                                    <div class="container-fluid" *ngIf="isLoadingResultsKpiST">
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="row d-flex justify-content-center">
                                                    <mat-spinner  mode="indeterminate" [strokeWidth]="1" [diameter]="17" *ngIf="isLoadingResultsKpiST" ></mat-spinner>
                                                </div>                        
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="!isLoadingResultsKpiST">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-4" align="left">
                                            <div class="input-group input-group-sm mb-3" *ngIf="kpidatesearchoptions && kpiselectedoptionST">
                                                <ng-select
                                                [items]="kpidatesearchoptions"
                                                [clearable]="false"
                                                bindLabel="name"
                                                bindValue="value"
                                                [(ngModel)]="kpiselectedoptionST"
                                                (change)="selectChangeKpiDateST($event)"
                                                class="width-70percentage">
                                                </ng-select>
                                            </div>
                                            </div>
                                            <div class="col-4">                                            
                                            </div>
                                            <div class="col-4" align="right">
                                                <div class=" jNlJODT" *ngIf="kpidataST && kpidataST.length > 0">Total: <span>{{kpitotalST | number}}</span></div> 
                                            </div>
                                        </div>

                                        <div class="row" *ngIf="kpiselectedoption == 0">
                                            <div class="col-4" align="left">
                                                <div class="input-group input-group-sm mb-3" *ngIf="serviceestatus && serviceestatus.length > 0 && kpiselectstatus && kpiselectstatus > 0">
                                                    <ng-select
                                                        [items]="serviceestatus"
                                                        [clearable]="false"
                                                        bindLabel="name"
                                                        bindValue="id"
                                                        [(ngModel)]="kpiselectstatus"
                                                        (change)="selectChangeKpiStatusST($event)"
                                                        class="width-70percentage">
                                                    </ng-select>
                                                </div>
                                            </div>

                                            <div class="col-4">                                            
                                            </div>                                                
                                
                                            <div class="col-4">
                                            </div>
                                        </div>    

                                            <div class="row">
                                            <div class="col-4" align="left">
                                                <div class="input-group input-group-sm mb-3" *ngIf="kpisearchoptions && tiposervicio && tiposervicio.length > 0">
                                                    <ng-select
                                                        [items]="kpisearchoptions"
                                                        [clearable]="false"
                                                        bindLabel="name"
                                                        bindValue="value"
                                                        [(ngModel)]="kpiselectedoption"
                                                        (change)="selectChangeKpi($event)"
                                                        class="width-70percentage">
                                                    </ng-select>
                                                </div>
                                            </div>

                                            <div class="col-4">                                            
                                            </div>                                                
                                
                                            <div class="col-4" align="left" *ngIf="kpisearchoptions && kpiselectedoption > 0">
                                                <div class="input-group input-group-sm mb-3" *ngIf="kpisearchoptions && kpiselectedoption > 0 && tiposervicio && tiposervicio.length > 0 && kpiselectedoption == 1" >
                                                    <ng-select
                                                        [items]="tiposervicio"
                                                        [clearable]="false"
                                                        bindLabel="name"
                                                        bindValue="id"
                                                        [(ngModel)]="kpiselecttiposervicio"
                                                        (change)="selectChangeKpiTipoServicio($event)"
                                                        class="width-70percentage">
                                                    </ng-select>
                                                </div>

                                                <div class="input-group input-group-sm mb-3" *ngIf="kpisearchoptions && kpiselectedoption > 0 && kpiusers && kpiusers.length > 0 && kpiselectedoption == 2" >
                                                    <ng-select
                                                        [items]="kpiusers"
                                                        [clearable]="false"
                                                        bindLabel="usuario"
                                                        bindValue="id"
                                                        [(ngModel)]="kpiselectuser"
                                                        (change)="selectChangeKpiUser($event)"
                                                        class="width-70percentage">
                                                    </ng-select>
                                                 </div>
                          
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="container-fluid" >
                                        <div class="row">
                                            <div class="col-4">
                                            <br>
                                            </div>
                                            <div class="col-4">

                                            </div>    
                                            <div class="col-4">

                                            </div>        
                                        </div>
                                    </div>
                                    <div class="container-fluid" >
                                        <div class="row">
                                            <div class="col-4">
                                            <br>
                                            </div>
                                            <div class="col-4">

                                            </div>    
                                            <div class="col-4">

                                            </div>        
                                        </div>
                                    </div>                                    

                                    <div class="row justify-content-center align-items-center" align="center">
                                        <div class="col" *ngIf="kpidataST && kpidataST.length > 0 ">
                                            <ngx-charts-pie-chart
                                            (window:resize)="onResize($event)"
                                            [view]="view"
                                            [scheme]="colorScheme"
                                            [results]="kpidataST"
                                            [explodeSlices]="explodeSlices"
                                            [labels]="showLabels"
                                            [legend]="showLegend"
                                            [legendTitle]="['Leyenda']"
                                            [legendPosition]="['right']"
                                            [doughnut]="doughnut">
                                            </ngx-charts-pie-chart>
                                        </div>
                                        <div class="col-sm" *ngIf="kpidataST && kpidataST.length == 0">
                                            <div class="row d-flex justify-content-center">
                                                <div class="dGHjBt">
                                                <p class="hAzwqT">
                                                Sin Información.
                                                </p>
                                                <p class="hkvxBP"><span>De acuerdo a la fecha o filtros seleccionados.</span></p>
                                                </div>
                                            </div>    
                                        </div>

                                    </div>                                    
                                    </div>

                                    <!-----------SPACE------------------->
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm">
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    <!---------------------------------->
                                </div>
                            </div>
                            <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------->


                            <!---------------------------------------------------------- Órdenes Editadas por Tipo de Servicio (LINE). ------------------------------------------------------------->
                            <div class=" jmuLsE">


                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="row d-flex justify-content-center">        
                                            <span>
                                                Órdenes de Trabajo.
                                                <button mat-icon-button 
                                                matTooltip="Indicador por Fecha de Edición"
                                                [matTooltipPosition]="positionrightaction.value"
                                                (event)="$event.stopinmediatePropagation()"
                                                >
                                                <mat-icon class="material-icons md-14-color">help_outline</mat-icon>
                                                </button>        
                                            </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" pUmbZ">
                                        <div class="container-fluid" >
                                            <div class="row">
                                                <div class="col-sm">
                                                  <br>
                                                </div>
                                            </div>
                                        </div>        

                                        <div class="container-fluid" *ngIf="isLoadingResultsKpiDate">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <div class="row d-flex justify-content-center">
                                                        <mat-spinner  mode="indeterminate" [strokeWidth]="1" [diameter]="17" *ngIf="isLoadingResultsKpiDate" ></mat-spinner>
                                                    </div>                        
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="!isLoadingResultsKpiDate">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-4" align="left">
                                                <div class="input-group input-group-sm mb-3" *ngIf="kpidatelinesearchoptions && kpidatelineselectedoption">
                                                    <ng-select
                                                    [items]="kpidatelinesearchoptions"
                                                    [clearable]="false"
                                                    bindLabel="name"
                                                    bindValue="value"
                                                    [(ngModel)]="kpidatelineselectedoption"
                                                    (change)="selectChangeKpiDate($event)"
                                                    class="width-70percentage">
                                                    </ng-select>
                                                </div>
                                                </div>
                                                <div class="col-4">
                                                
                                                </div>
                                                <div class="col-4" align="right">
                                                    <div class=" jNlJODT" *ngIf="multi && multi[0].series.length > 0">Total: <span>{{kpitotaldate | number}}</span></div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid" *ngIf="serviceestatus && serviceestatus.length > 0 && kpiselectstatusdate && kpiselectstatusdate > 0 ">
                                            <div class="row" >
                                                <div class="col-4" align="left">
                                                    <div class="input-group input-group-sm mb-3" >
                                                        <ng-select
                                                            [items]="serviceestatus"
                                                            [clearable]="false"
                                                            bindLabel="name"
                                                            bindValue="id"
                                                            [(ngModel)]="kpiselectstatusdate"
                                                            (change)="selectChangeKpiStatusDate($event)"
                                                            class="width-70percentage">
                                                        </ng-select>
                                                    </div>
                                                </div>

                                                <div class="col-4">                                            
                                                </div>                                                
                                    
                                                <div class="col-4">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-4" align="left">
                                                <div class="input-group input-group-sm mb-3" *ngIf="kpidatelineallsearchoptions && tiposervicio && tiposervicio.length > 0">
                                                    <ng-select
                                                        [items]="kpidatelineallsearchoptions"
                                                        [clearable]="false"
                                                        bindLabel="name"
                                                        bindValue="value"
                                                        [(ngModel)]="kpidateallselectedoption"
                                                        (change)="selectChangeKpiAllDate($event)"
                                                        class="width-70percentage">
                                                    </ng-select>
                                                </div>
                                            </div>

                                            <div class="col-4">                                            
                                            </div>                                                
                                
                                            <div class="col-4" align="left" *ngIf="kpidatelineallsearchoptions && kpidateallselectedoption > 0">
                                                <div class="input-group input-group-sm mb-3" *ngIf="kpidatelineallsearchoptions && kpidateallselectedoption > 0 && tiposervicio && tiposervicio.length > 0 && kpidateallselectedoption == 1" >
                                                    <ng-select
                                                        [items]="tiposervicio"
                                                        [clearable]="false"
                                                        bindLabel="name"
                                                        bindValue="id"
                                                        [(ngModel)]="kpidateselecttiposervicio"
                                                        (change)="selectChangeKpiTipoServicioByDate($event)"
                                                        class="width-70percentage">
                                                    </ng-select>
                                                </div>                          
                                            </div>
                                        </div>    
                                        </div>
                                        <div class="container-fluid" >
                                            <div class="row">
                                                <div class="col-4">
                                                <br>
                                                </div>
                                                <div class="col-4">

                                                </div>    
                                                <div class="col-4">

                                                </div>        
                                            </div>
                                        </div>
                                        <div class="container-fluid" >
                                            <div class="row">
                                                <div class="col-4">
                                                <br>
                                                </div>
                                                <div class="col-4">

                                                </div>    
                                                <div class="col-4">

                                                </div>        
                                            </div>
                                        </div>
                                        <div class="row justify-content-center align-items-center" align="center">
                                            <div class="col" *ngIf="multi && multi[0].series.length > 0 && kpidatelineselectedoption !== 'year'">
                                                <ngx-charts-line-chart
                                                (window:resize)="onResize($event)"
                                                [view]="viewline"
                                                [scheme]="colorScheme"
                                                [results]="multi"
                                                [gradient]="gradient"
                                                [xAxis]="showXAxis"
                                                [yAxis]="showYAxis"
                                                [legend]="showLegendLine"
                                                [legendTitle]="['Leyenda']"
                                                [legendPosition]="['right']"    
                                                [showXAxisLabel]="showXAxisLabel"
                                                [showYAxisLabel]="showYAxisLabel"
                                                [xAxisLabel]="xAxisLabel"
                                                [yAxisLabel]="yAxisLabel"
                                                [autoScale]="autoScale"
                                                >
                                                </ngx-charts-line-chart>
                                            </div>
                                            <div class="col" *ngIf="multi && multi[0].series.length > 0 && kpidatelineselectedoption === 'year'">
                                                <ngx-charts-bar-vertical
                                                [view]="viewline"
                                                [scheme]="colorScheme"
                                                [results]="multi[0].series"
                                                [gradient]="gradient"
                                                [xAxis]="showXAxis"
                                                [yAxis]="showYAxis"
                                                [legend]="showLegendLine"
                                                [showXAxisLabel]="showXAxisLabel"
                                                [showYAxisLabel]="showYAxisLabel"
                                                [xAxisLabel]="xAxisLabel"
                                                [yAxisLabel]="yAxisLabel"
                                                >
                                              </ngx-charts-bar-vertical>
                                            </div>
                                            <div class="col-sm" *ngIf="multi && multi[0].series.length == 0">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="dGHjBt">
                                                        <p class="hAzwqT">
                                                        Sin Información.
                                                        </p>
                                                        <p class="hkvxBP"><span>De acuerdo a la fecha o filtros seleccionados.</span></p>
                                                    </div>                
                                                </div>                                                
                                            </div>                    
                                        </div>
                                        </div>


                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>                            
                            <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------->

                        </div>   
                    </div>
                </div>
            </div>
            </div>            
        </div>
    </div>
</div>

<div class="row" *ngIf="identity">
<div class="col">
<br>
</div>
</div>

<!------------------------------------------------------------- Órdenes Asignadas vs Órdenes Atendidas por Servicio. --------------------------------------------------->
<div class="row" *ngIf="identity">
<div class="col">
    <div class=" jfCYPT">
        <div class=" jfCYPT">
            <div class=" didcdr" data-test-selector="profile-worked-with">
                <div class=" iDwfcE" >
                    <div>
                        <div class=" dIOqge" >
                                <!------------------------------------------------------------- Órdenes Asignadas vs Órdenes Atendidas por Servicio GAUGE. --------------------------------------------------->
                                <div class=" jmuLsE">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="row d-flex justify-content-center">        
                                            <span>
                                            Órdenes de Trabajo Asignadas vs Editadas.
                                            <button mat-icon-button 
                                            matTooltip="Indicador por Fecha de Creación"
                                            [matTooltipPosition]="positionrightaction.value"
                                            (event)="$event.stopinmediatePropagation()"
                                            >
                                            <mat-icon class="material-icons md-14-color">help_outline</mat-icon>
                                            </button>
                                            </span>
                                            </div>
                                        </div>
                                    </div>            
        
                                    <div class=" pUmbZ">
                                        
                                        <!-------------SPACE---------------->
                                        <div class="container-fluid" >
                                            <div class="row">
                                                <div class="col-sm">
                                                    <br>
                                                </div>
                                            </div>
                                        </div>        
                                        <!---------------------------------->
                                        <div class="container-fluid" *ngIf="isLoadingResultsKpiGauge">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <div class="row d-flex justify-content-center">
                                                        <mat-spinner  mode="indeterminate" [strokeWidth]="1" [diameter]="17" *ngIf="isLoadingResultsKpiGauge" ></mat-spinner>
                                                    </div>                        
                                                </div>
                                            </div>
                                        </div>
    
                                        <div *ngIf="!isLoadingResultsKpiGauge">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-4" align="left">
                                                <div class="input-group input-group-sm mb-3" *ngIf="kpisearchoptionsgauge && kpiselectedoptiongauge">
                                                    <ng-select
                                                    [items]="kpisearchoptionsgauge"
                                                    [clearable]="false"
                                                    bindLabel="name"
                                                    bindValue="value"
                                                    [(ngModel)]="kpiselectedoptiongauge"
                                                    (change)="selectChangeKpiGauge($event)"
                                                    class="width-70percentage">
                                                    </ng-select>
                                                </div>
                                                </div>
                                                <div class="col-4">                                            
                                                </div>
                                                <div class="col-4" align="right">
                                                    <div class=" jNlJODT" *ngIf="kpidatagauge && kpidatagauge[0].value > 0 && kpitotalgauge > 0">Avance: <span>{{ avancegauge }}%</span></div> 
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row justify-content-center align-items-center" align="center">
                                            <div class="col" *ngIf="kpidatagauge && kpidatagauge[0].value > 0 && kpitotalgauge && kpitotalgauge > 0">
                                                <ngx-charts-gauge
                                                [view]="viewgauge"
                                                [scheme]="colorSchemeGauge"
                                                [results]="kpidatagauge"
                                                [min]="0"
                                                [max]="kpitotalgauge"
                                                [angleSpan]="240"
                                                [startAngle]="-120"
                                                [legend]="showLegend"
                                                [legendTitle]="['Leyenda']"
                                                [legendPosition]="['right']"
                                                [units]="'Avance'"
                                                [valueFormatting]="valueFormatting"
                                                [bigSegments]="10"
                                                [smallSegments]="5">
                                                </ngx-charts-gauge>
                                            </div>
                                            <div class="col-sm" *ngIf="kpidatagauge && kpidatagauge[0].value == 0">
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <div class="row d-flex justify-content-center">
                                                    <div class="dGHjBt">
                                                        <p class="hAzwqT">
                                                        Sin Información.
                                                        </p>
                                                        <p class="hkvxBP"><span>De acuerdo a la fecha o filtros seleccionados.</span></p>
                                                    </div>                
                                                </div>    
                                            </div>        
                                        </div>                                     
                                        </div>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                                                                
                                    </div>
                                </div>
                                <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

                                <!------------------------------------------------------------- Órdenes Asignadas vs Órdenes Atendidas por Servicio LINE. --------------------------------------------------->
                                <div class=" jmuLsE">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="row d-flex justify-content-center">        
                                            <span>
                                                Órdenes de Trabajo Asignadas vs Editadas.
                                                <button mat-icon-button 
                                                matTooltip="Indicador por Fecha de Creación"
                                                [matTooltipPosition]="positionrightaction.value"
                                                (event)="$event.stopinmediatePropagation()"
                                                ><mat-icon class="material-icons md-14-color">help_outline</mat-icon>
                                                </button>        
                                            </span>
                                            </div>
                                        </div>
                                    </div>            
                                    <div class=" pUmbZ">
                                        <!-------------SPACE---------------->
                                        <div class="container-fluid" >
                                                <div class="row">
                                                    <div class="col-sm">
                                                        <br>
                                                    </div>
                                                </div>
                                        </div>        
                                        <!---------------------------------->
                                        <div class="container-fluid" *ngIf="isLoadingResultsKpiLine">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <div class="row d-flex justify-content-center">
                                                        <mat-spinner  mode="indeterminate" [strokeWidth]="1" [diameter]="17" *ngIf="isLoadingResultsKpiLine" ></mat-spinner>
                                                    </div>                        
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="!isLoadingResultsKpiLine">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-4" align="left">
                                                    <div class="input-group input-group-sm mb-3" *ngIf="kpisearchoptionsline && kpiselectedoptionline">
                                                        <ng-select
                                                        [items]="kpisearchoptionsline"
                                                        [clearable]="false"
                                                        bindLabel="name"
                                                        bindValue="value"
                                                        [(ngModel)]="kpiselectedoptionline"
                                                        (change)="selectChangeKpiLine($event)"
                                                        class="width-70percentage">
                                                        </ng-select>
                                                    </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="row d-flex justify-content-center" >
                                                            <button mat-icon-button  *ngIf="ngxcharttype == 1"
                                                            (click)="togglengxcharttype(2)"
                                                            (event)="$event.stopinmediatePropagation()"
                                                            >
                                                                <mat-icon>bar_chart</mat-icon>
                                                            </button>

                                                            <button mat-icon-button  *ngIf="ngxcharttype == 2"
                                                            (click)="togglengxcharttype(1)"
                                                            (event)="$event.stopinmediatePropagation()"
                                                            >
                                                                <mat-icon>show_chart</mat-icon>
                                                            </button>

                                                        </div>                                          
                                                    </div>
                                                    <div class="col-4" align="right">
                                                        <div class=" jNlJODT" *ngIf="allmulti && allmulti[0].series.length > 0">Total: <span>{{kpitotalline | number}}</span></div> 
                                                    </div>
                                                </div>
                                            </div>
    
    
                                            <div class="row justify-content-center align-items-center" align="center">
                                                <div class="col" *ngIf="allmulti && allmulti[0].series.length > 0 && (kpiselectedoptionline == 'weekline' || kpiselectedoptionline == 'yearline')">
                                                    <div *ngIf="ngxcharttype && ngxcharttype == 1">
                                                    <ngx-charts-line-chart
                                                    (window:resize)="onResize($event)"
                                                    [view]="viewline"
                                                    [scheme]="colorSchemeGauge"
                                                    [results]="allmulti"
                                                    [gradient]="gradient"
                                                    [xAxis]="showXAxis"
                                                    [yAxis]="showYAxis"
                                                    [legend]="true"
                                                    [legendTitle]="['Leyenda']"
                                                    [legendPosition]="['right']"
                                                    [showXAxisLabel]="showXAxisLabel"
                                                    [showYAxisLabel]="showYAxisLabel"
                                                    [xAxisLabel]="xAxisLabel"
                                                    [yAxisLabel]="yAxisLabel"
                                                    [autoScale]="autoScale"
                                                    >
                                                    </ngx-charts-line-chart>
                                                    </div>

                                                    <div *ngIf="ngxcharttype && ngxcharttype == 2">
                                                    <ngx-charts-bar-vertical
                                                    (window:resize)="onResize($event)"
                                                    [view]="viewline"
                                                    [scheme]="colorSchemeGauge"
                                                    [results]="single"
                                                    [gradient]="gradient"
                                                    [xAxis]="showXAxis"
                                                    [yAxis]="showYAxis"
                                                    [legend]="true"
                                                    [legendTitle]="['Leyenda']"
                                                    [legendPosition]="['right']"
                                                    [showXAxisLabel]="showXAxisLabel"
                                                    [showYAxisLabel]="showYAxisLabel"
                                                    [xAxisLabel]="xAxisLabelVertical"
                                                    [yAxisLabel]="yAxisLabel"
                                                    >
                                                    </ngx-charts-bar-vertical>        
                                                    </div>
                                                </div>

                                                <div class="col" *ngIf="allmulti && allmulti[0].series.length > 0 && (kpiselectedoptionline == 'dayline' || kpiselectedoptionline == 'monthline')">
                                                    <div *ngIf="ngxcharttype && ngxcharttype == 1">
                                                    <ngx-charts-line-chart
                                                    (window:resize)="onResize($event)"
                                                    [view]="viewline"
                                                    [scheme]="colorSchemeGauge"
                                                    [results]="allmulti"
                                                    [gradient]="gradient"
                                                    [xAxis]="showXAxis"
                                                    [yAxis]="showYAxis"
                                                    [legend]="true"
                                                    [legendTitle]="['Leyenda']"
                                                    [legendPosition]="['right']"
                                                    [showXAxisLabel]="showXAxisLabel"
                                                    [showYAxisLabel]="showYAxisLabel"
                                                    [xAxisLabel]="xAxisLabel"
                                                    [yAxisLabel]="yAxisLabel"
                                                    [autoScale]="autoScale"
                                                    >
                                                    </ngx-charts-line-chart>
                                                    </div>            
                                                    
                                                    <div *ngIf="ngxcharttype && ngxcharttype == 2">
                                                    <ngx-charts-bar-vertical
                                                    (window:resize)="onResize($event)"
                                                    [view]="viewline"
                                                    [scheme]="colorSchemeGauge"
                                                    [results]="single"
                                                    [gradient]="gradient"
                                                    [xAxis]="showXAxis"
                                                    [yAxis]="showYAxis"
                                                    [legend]="true"
                                                    [legendTitle]="['Leyenda']"
                                                    [legendPosition]="['right']"
                                                    [showXAxisLabel]="showXAxisLabel"
                                                    [showYAxisLabel]="showYAxisLabel"
                                                    [xAxisLabel]="xAxisLabelVertical"
                                                    [yAxisLabel]="yAxisLabel"
                                                    >
                                                    </ngx-charts-bar-vertical>
                                                    </div>
                                                </div>

                                                <div class="col-sm" *ngIf="allmulti && allmulti[0].series.length == 0">
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <div class="row d-flex justify-content-center ">
                                                        <div class="dGHjBt">
                                                            <p class="hAzwqT">
                                                            Sin Información.
                                                            </p>
                                                            <p class="hkvxBP"><span>De acuerdo a la fecha o filtros seleccionados.</span></p>
                                                        </div>                    
                                                    </div>    
                                                </div>        
                                            </div>                                                 
                                        </div>

                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <br>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="row" *ngIf="identity">
<div class="col">
<br>
</div>
</div>

<app-kpi [id]="id" *ngIf="id > 0 && service && service.kpi > 0"></app-kpi>

<div class="row" *ngIf="identity && service && service.kpi > 0">
<div class="col">
<br>
</div>
</div>
        
<div class="row" *ngIf="identity && !isLoadingResultsKpiST && id > 0">
    <div class="col">
        <input type="checkbox" id="myCheck" (change)="toggle($event)"><span class="hAzwqTS"> Más Indicadores</span>
        <div *ngIf="isShow">
            <app-kpi-project-location [id]="id" *ngIf="id > 0"></app-kpi-project-location>
        </div>
    </div>
</div>
        
