<div class="app">
  <mat-toolbar role="heading" color="primary">
     <h3>{{title}} </h3>
</mat-toolbar>


<div class="mat-dialog-content" *ngIf="data">

<table class="table table-hover table-stripped" id="data-list">
<tr>
	<th>Campo</th>
</tr>

<tr *ngFor="let row of dataColumns; let i = index" >	
<td>

  <mat-checkbox
  [(ngModel)]="row.checked"
  (change)="onChange($event, i, row)" 
  >
  {{row.label}}
  </mat-checkbox>

</td>

</tr>
</table>
</div>
</div>


<div mat-dialog-actions>    
  <button mat-button color="primary" (click)="onNoClick()" tabindex="-1" mat-raised-button >Guardar</button>
</div>
