<div class="container-fluid p-2">

<div class="row animated fadeIn" *ngIf="isLoading">
    <div class="col-sm-12">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!isLoading && status == 'error'">
    <div class="col-sm-12">
        <div class="alert alert-danger" *ngIf="status == 'error'">
            No se encontraron registros que coincidan con su búsqueda. 
            <button mat-button color="primary" (click)="ngOnInit()"> <mat-icon aria-label="Example icon-button with a heart icon" >sync</mat-icon> Refrescar</button>
        </div>
    </div>
</div>
    


  <div class="row animated fadeIn" *ngIf="!isLoading">
    <div class="col-12">
         <div class="alert alert-danger" *ngIf="serviceestatus.length == 0">
                    No se encontraron registros que coincidan con su búsqueda. 
         </div>
      

        <div *ngIf="serviceestatus.length > 0">

                
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th></th>                        
                            <th>Descripción</th>                            
                            <th>Color</th>
                            <th>Posición</th>                                  
                            <th *ngIf="_userService.isRole(7)"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let estatus of serviceestatus; let i = index">
                          <td class="w10">
                              <div class="circle" [style.color]="estatus.status? 'green' : 'red'"></div>
                          </td>
                          <td>
                            <label *ngIf="i !== indexitem || isLoadingDelete">{{estatus.name}}</label>
                            <input type="text" class="form-control" id="{{estatus.name}}" [(ngModel)]="estatus.name" *ngIf="i == indexitem && !isLoadingDelete"  required>
                          </td>

                          <td>
                              <label *ngIf="(i !== indexitem || isLoadingDelete) && estatus.label == 1" >Rojo</label>
                              <label *ngIf="(i !== indexitem || isLoadingDelete) && estatus.label == 2" >Azul</label>
                              <label *ngIf="(i !== indexitem || isLoadingDelete) && estatus.label == 3" >Magenta</label>
                              <select [(ngModel)]="estatus.label" name="label" class="form-control" *ngIf="i == indexitem && !isLoadingDelete" required>
                                  <option value="0">Color</option>
                                  <option value="1">Rojo</option>
                                  <option value="2">Azul</option>
                                  <option value="3">Magenta</option>
                              </select>
                          </td>
    

                          <td>
                              <label *ngIf="i !== indexitem || isLoadingDelete">{{estatus.order_by}}</label>
                              <input type="number" class="form-control"  [(ngModel)]="estatus.order_by" *ngIf="i == indexitem && !isLoadingDelete"  required>
                          </td>
                          <td *ngIf="_userService.isRole(7)">

      
                            <button mat-icon-button color="primary" *ngIf="estatus.name.length > 1 && i != indexitem" (click)="startEdit(i)">
                            <mat-icon aria-label="Edit" >edit</mat-icon>          
                            </button>            
      

                            <button mat-icon-button color="primary" *ngIf="estatus.name.length > 1 && i == indexitem && editando && !isLoadingDelete" (click)="guardarEstatus(i, estatus)" >
                            <mat-icon aria-label="Edit"  >done</mat-icon>                            
                            </button>

                            <button mat-icon-button color="primary" *ngIf="estatus.name.length > 1 && i == indexitem && editando && !isLoadingDelete" (click)="close()" >
                                <mat-icon aria-label="Edit"  >close</mat-icon>                            
                            </button>
    

                            <button mat-icon-button color="primary" *ngIf="isLoadingSave && i == indexitem && !editando">
                            <app-progress-spinner ></app-progress-spinner>
                            </button>


                            <button mat-icon-button color="warn" (click)="borrarEstatus(i, estatus)" *ngIf="i != indexitem">
                                <mat-icon aria-label="Edit" >delete</mat-icon>                             
                            </button>

                            <button mat-icon-button color="primary" *ngIf="isLoadingDelete && i == indexitem && !editando">
                            <app-progress-spinner ></app-progress-spinner>
                            </button>


                          </td>
                        </tr>
                    </tbody>
                </table>
        </div>

        <form ngNativeValidate #registerForm="ngForm" class="form p-t-20" >
            <table class="table table-hover" *ngIf="_userService.isRole(7)">                    
                <tbody>
                    <tr >
                      <td class="w10">
                          <button mat-icon-button (click)="toggle()" >
                              <mat-icon class="material-icons md-20-color" >add</mat-icon> <span *ngIf="!show">Agregar</span>
                          </button>                            
                      </td>
                      <td>
                        <input type="text" name="name" class="form-control"  placeholder="Nombre de Estatus" [(ngModel)]="newestatus" *ngIf="show" required>
                      </td>
                      <td>
                      <select [(ngModel)]="label" name="label" class="form-control" *ngIf="show" required>
                          <option value="0">Color</option>
                          <option value="1">Rojo</option>
                          <option value="2">Azul</option>
                          <option value="3">Magenta</option>
                      </select>
                      </td>
                      <td>
                          <input type="number" name="order_by" class="form-control"  placeholder="Orden de Estatus" [(ngModel)]="orderby" *ngIf="show" required>
                      </td>
                      <td >
                          <button  mat-icon-button color="primary" *ngIf="show && !isLoadingSave && !isLoadingDelete && newestatus.length > 1" (click)="crearEstatus(registerForm.value)" >
                              <mat-icon aria-label="Edit"  >done</mat-icon>                            
                          </button>      
                      </td>
                    </tr>
                </tbody>                    
            </table>
          </form>

    </div>
  </div>
</div>