.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}
.mat-toolbar {
    margin: -24px;
    margin-bottom: 0;
    width: auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 70px !important;
}
.mat-icon {
  padding: 0 7px;
}
.mat-spacer {
  flex: 1 1 auto;
}
.margin {
margin: 2px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.full-width {
  width: 100%;
}
