<meta name="Description" content="payments">

<div class="container-fluid" *ngIf="proyectos && identity">
    <div class="row animated fadeIn">
    <div class="col-12">        
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  border-bottom ">
        <div class="w-100 ">
            <div class="d-flex">
                <div >
                <div role="presentation" class="css-7xjigh">
                <a class="css-1t5na7c" data-testid="NavigationItem" id="back-item" [routerLink]="['/project', item]" target="_self">
                    <div class="css-1wgdpuu">
                        <span class="sc-hqyNC hItagX">
                            <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                                <circle fill="currentColor" cx="12" cy="12" r="10">
                                </circle>
                                <path d="M16 10.995h-5.586l1.272-1.279a1.01 1.01 0 0 0 0-1.421.996.996 0 0 0-1.415 0l-2.978 2.994a1.01 1.01 0 0 0 0 1.423l2.978 2.993a.999.999 0 0 0 1.415 0 1.01 1.01 0 0 0 0-1.421l-1.272-1.279H16c.552 0 1-.45 1-1.005 0-.555-.448-1.005-1-1.005" fill="inherit">
                                </path>
                            </svg>
                        </span>
                    </div>
                </a>
                </div>    
                </div>

                <div class="w-100"><h1 class="h4" *ngIf="project_name">{{title}} - {{project_name}}</h1></div>
            </div>                  
        </div>
        <div class="flex-shrink-1 ">
        </div>
    </div>
    </div>
    </div>

    <div class="row animated fadeIn">
        <div class="col-12">
            <div class="row animated fadeIn" *ngIf="loading">
                <div class="col-sm-12">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </div>

            <div class="animated fadeIn">
                <div class="hGgeKi">
                    <div class="container-fluid">
                        <div class="row">                                
                            <div class="col-md-12">

                                
                            <app-payment-report [id]="id" [project]="project" [services]="services" *ngIf="id && identity && project && services"></app-payment-report>


                            </div>
                            <!---
                            <div class="col-md-3 order-first order-md-last">                                    
                                <div class="gLOvjB">
                                    <form ngNativeValidate [formGroup]="formulario">
                                        <div *ngIf="datesearchoptions">
                                            <h2 class="jeEmY">Fecha</h2>
                                            <div class="input-group input-group-sm mb-3" >
                                                <ng-select
                                                [items]="datesearchoptions"
                                                [clearable]="false"
                                                bindLabel="name"
                                                bindValue="value"
                                                class="width-100percentage" name="dateoptions" formControlName="dateoptions">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div *ngIf="formulario.value.dateoptions == 'custom'">
                                            <h2 class="jeEmY">Rango de fecha</h2>
                                            <p-calendar placeholder="yyyy-mm-dd" dateFormat="yy-mm-dd"   showButtonBar="true" readonlyInput="true" hourFormat="24"  [locale]="es"  selectionMode="range" [showIcon]="true" name="date_rango" formControlName="date_rango">
                                                <p-footer></p-footer>
                                            </p-calendar>
                                        </div>
                                        <div *ngIf="services && services.length > 0">
                                            <h2 class="jeEmY">Servicio</h2>
                                            <div class="input-group input-group-sm mb-3">
                                                <ng-select
                                                    [items]="services"
                                                    [clearable]="false"
                                                    bindLabel="service_name"
                                                    bindValue="id"
                                                    (change)="selectChangeServicio($event)"
                                                    class="width-100percentage" name="service" formControlName="service">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div *ngIf="servicetype && servicetype.length > 0">
                                            <h2 class="jeEmY">Tipo de servicio</h2>
                                            <div class="input-group input-group-sm mb-3">
                                                <ng-select
                                                    [items]="servicetype"
                                                    [clearable]="true"
                                                    bindLabel="name"
                                                    bindValue="id"
                                                    class="width-100percentage" name="servicetype" formControlName="servicetype">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div *ngIf="serviceestatus && serviceestatus.length > 0">
                                            <h2 class="jeEmY">Estatus</h2>
                                            <div class="animated fadeIn input-group input-group-sm mb-3">
                                                <ng-select
                                                    [items]="serviceestatus"
                                                    [clearable]="true"
                                                    bindLabel="name"
                                                    bindValue="id"
                                                    class="width-100percentage" name="status" formControlName="status">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 14px;">
                                            <div class="col-md-12">
                                                <div class="text-center">
                                                    <button  mat-raised-button color="primary" (click)="procesarAll(formulario)" style="margin-right: 8px;"  [disabled]="formulario.invalid" >
                                                        <mat-icon aria-label="Edit">done</mat-icon>Aceptar                  
                                                    </button>
                                                    <button  mat-raised-button color="warn" (click)="formulario.reset(); servicetype = null; serviceestatus = null;" style="margin-left: 4px;">
                                                        <mat-icon aria-label="Close">delete_sweep</mat-icon>Limpiar
                                                    </button>  
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
