.container {
    display: flex;
    flex-direction: column;  
  }
  
  .container > * {
    width: 100%;
  }
  
  .form {
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .full-width-required {
    width: 100%;
  }
  
  .lbl {
     color: #1787dc;
     cursor: pointer;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }
  .margin {
  margin: 2px;
  }
  
  .mat-toolbar {
      margin: -24px;
      margin-bottom: 0;
      width: auto;
  }
  
  .mat-toolbar-row, .mat-toolbar-single-row {
      height: 70px !important;    
  }
  .mat-icon {
    padding: 0 7px;
  }
  .mat-spacer {
    flex: 1 1 auto;
  }
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .btnsave {
    background-color: rgba( 48,  63, 159);
    color: white;
    border-radius: 7px 7px 7px 7px;
    font-size: 16px;  
  }
  
  .btnsave:not([disabled]):hover {
    background-color: rgba(107, 103, 91, 0.96);
    color: white;
    transition: 0.3s;
  }
  
  .btnsave[disabled] {
    color : rgb(187, 187, 187);
    background-color: rgba(230, 230, 229, 0.96);
  }
  
  .btnclose {
    color: rgb(49, 46, 46);
    background-color: rgba(224, 224, 224, 0.96);      
    border-radius: 7px 7px 7px 7px;
    font-size: 16px;
  }
  
  .btnclose:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);  
    transition: 0.3s;
  }
  
  .is-loading ::ng-deep .mat-option-text {
    display: flex;
    justify-content: center;
  }
  
  .mat-button-toggle {
      background-color: rgba(193, 193, 193, 0.96);
      color: rgba(44, 65, 164, 0.96);  
  }
  
  .mat-button-toggle-checked {
      background-color: rgba(193, 193, 193, 0.96);
      color: rgba(44, 65, 164, 0.96);  
  }
  hr.size {
    border: 3px solid rgba(44, 65, 164, 0.96);
    border-radius: 3px;
  }
  .jeEmY {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.857143em;
    font-style: inherit;
    color: rgb(94, 108, 132);
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
    line-height: 12px;
    overflow: hidden;
  }
  ::ng-deep .mat-status .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
  
  ::ng-deep .mat-status .mat-form-field-flex .mat-form-field-infix {
  border-top-width: 0px !important;
  }
  