.container-drawer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 0px;
}
.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}
.not-scroll {
    height: 100%;
    overflow: hidden !important; 
}
.drawer-header {
    border-left: 1px solid #DDD;
    overflow: auto; 
    height: calc(100% - 180px);
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 0px;
}
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}
.pagecontent {
    margin-top: 0px;
    width: auto;  
}
.sidebar-header {
    min-width: 20px;
    max-width: 250px;
    background-color: rgb(244, 245, 247);
    padding: 20px;
    height: 249;
}
.sidebar-footer {
    height: 80px;
    min-width: 20px;
    max-width: 250px;
    background-color: rgb(244, 245, 247);
    border-right: 1px solid #DDD;
    align-content: center;
}
.css-1qm1lh {
    margin-bottom: 16px;
}
.css-7xjigh {
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-1t5na7c.css-1t5na7c {
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-size: inherit;
    height: 40px;
    text-align: left;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgb(244, 245, 247);
    fill: rgb(244, 245, 247);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
}
.css-1wgdpuu {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-right: 16px;
    color: #42526E;
}
.css-t44v0r {
    display: flex;
     flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow-x: hidden;
}