<mat-drawer-container class="container-drawer">

    <mat-drawer #supportDrawer class="example-sidenav" opened mode="side" position="end">
        <div class="not-scroll">
            <div class="drawer-header">
                <mat-list>
                    <div class="magin-center">
                        <h2 mat-subheader class="center-support">
                            Centro de Soporte
                            <button mat-icon-button class="mat-menu-item">
                                <mat-icon (click)="supportDrawer.toggle()">close</mat-icon>
                            </button>
                        </h2>
                    </div>
                    <mat-divider></mat-divider>
                    <mat-list-item [routerLink]="['/support']" class="pointer" (click)="supportDrawer.toggle()">
                        <mat-icon mat-list-icon  class="color-matIcon" >list_alt</mat-icon>
                        <h4 mat-line>Mis Solicitudes</h4>
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/formview']" class="pointer" (click)="supportDrawer.toggle()">
                        <mat-icon mat-list-icon  class="color-matIcon" >add_circle_outline</mat-icon>
                        <h4 mat-line>Nueva Solicitud</h4>
                    </mat-list-item>                        
                </mat-list>
            </div>
        </div>
    </mat-drawer>
    
    <div class="pagecontent">           
        <div class="example-container" ><!--[class.example-is-mobile]="mobileQuery.matches"-->
            <mat-sidenav-container class="example-sidenav-container"> <!--[style.marginTop.px]="mobileQuery.matches ? 56 : 0"-->

                <mat-sidenav #sidenav opened [mode]="mobileQuery.matches ? 'over' : 'side'"
                            [fixedInViewport]="mobileQuery.matches" fixedTopGap="102" style="background-color: rgb(244, 245, 247);">

                    <div class="not-scroll">
                        <div class="sidebar-header">
                        <div class="css-1qm1lh">
                            <div role="presentation" class="css-7xjigh">
                            <a class="css-1t5na7c" data-testid="NavigationItem" id="back-item" [routerLink]="['/project', id]" target="_self">
                                <div class="css-1wgdpuu">
                                    <span class="sc-hqyNC hItagX">
                                        <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                                            <circle fill="currentColor" cx="12" cy="12" r="10">

                                            </circle>
                                            <path d="M16 10.995h-5.586l1.272-1.279a1.01 1.01 0 0 0 0-1.421.996.996 0 0 0-1.415 0l-2.978 2.994a1.01 1.01 0 0 0 0 1.423l2.978 2.993a.999.999 0 0 0 1.415 0 1.01 1.01 0 0 0 0-1.421l-1.272-1.279H16c.552 0 1-.45 1-1.005 0-.555-.448-1.005-1-1.005" fill="inherit">

                                            </path>
                                        </svg>
                                    </span>
                                </div>
                                <div class="css-t44v0r">
                                    <div class="css-xuepxh">
                                        Proyectos
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                        </div>
                        <!---
                        <div class="sidebar-footer">
                            <button mat-icon-button color="warn" class="keyboard_arrow_left">
                                <mat-icon (click)="sidenav.toggle()">keyboard_arrow_left</mat-icon>
                            </button>
                        </div>
                        -->
                    </div>
                                
                </mat-sidenav>

                <mat-sidenav-content class="overflow">
                AAA
                </mat-sidenav-content>
            </mat-sidenav-container>
            
        </div>

    </div>
            
          
</mat-drawer-container>

