<meta name="Description" content="Services">
    <div class="container-fluid p-2">
      <div class="row p-2 animated fadeIn">
      <div class="col-12">        
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  border-bottom ">
        <div class="p-2 w-100 ">
            <div class="d-flex">
                <div class="p-2"><h1 class="h4" *ngIf="project_name">{{title}} - {{project_name}}</h1></div>
                <div class="p-2">
                  <a class="nav-link pointer" href="javascript:;" (click)="refresh()" >
                    <i class="material-icons" matTooltip="Refrescar" [matTooltipPosition]="positionrightaction.value">sync</i>
                  </a>
                </div>
            </div>                  
        </div>
        <div class="p-2 flex-shrink-1 ">
          <a class="nav-link pointer" href="javascript:;" routerLinkActive="active" [routerLink]="'settings'" *ngIf="_userService.isRole(7)">
          <i class="material-icons"
            matTooltip="Configuración del Proyecto"
            [matTooltipPosition]="positionleftaction.value">settings</i>
          </a>
        </div>
      </div>
      </div>
      </div>

      <div class="row animated fadeIn">
        <div class="col-12">
            <div class="row animated fadeIn" *ngIf="loading">
              <div class="col-sm-12">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </div>
      
          <!--
          <div class="container" *ngIf="loading">
              <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                    <mat-spinner  mode="indeterminate" [strokeWidth]="1" [diameter]="17" *ngIf="loading" ></mat-spinner>
                </div>
              </div>
          </div>-->

          <div class="portalHost" *ngIf="portal !== 1 && !loading">
            <ng-container [cdkPortalOutlet]="_portal" ></ng-container>
          </div>

          <div class="portalHostSplit" *ngIf="portal === 1 && !loading">
            <ng-container [cdkPortalOutlet]="_portal" ></ng-container>
          </div>

          <ng-template cdkPortal #myTemplate="cdkPortal" >
            <div class="p-2 animated fadeIn">
              <mat-card  [ngStyle]="{'padding':'0px'}">
                <mat-card-header [ngClass]="{'custom-card':true, 'padding':'0px'}">     

                  <div class="mat-card-header-text">
                    <mat-card-title >
                      <div class="d-flex justify-content-end" >
                            <div class="p-2 "><button type="button" class="btn btn-light btn-sm" (click)="openDialogKpi()"><mat-icon class="material-icons md-14">insert_chart_outlined</mat-icon>Indicadores</button></div>
                            <div class="p-2 "><button type="button" class="btn btn-light btn-sm" (click)="openDialogCsv()"><mat-icon class="material-icons md-14">save_alt</mat-icon>CSV</button></div>
                            <div class="p-2 "><button type="button" class="btn btn-light btn-sm" (click)="openDialogUser(id)"><mat-icon class="material-icons md-14">people</mat-icon>Usuarios</button></div>
                            <div class="p-2 "><button type="button" class="btn btn-primary btn-sm" (click)="addNew(id)"><mat-icon class="material-icons md-14">folder_open</mat-icon>Crear Proyecto</button></div>
                      </div>
                    </mat-card-title>
                  </div>

                  <mat-card-subtitle>
                  </mat-card-subtitle>
                </mat-card-header>


                <mat-card-content>
                  <br>
                  <div class="container-fluid p-2">
                        
                    <!-- CONTENT -->
                    <div class="example-loading-shade" *ngIf="isLoadingRefresh">
                      <div class="row justify-content-md-center">
                        <div class="col col-lg-2">            
                        <mat-spinner  mode="indeterminate" [strokeWidth]="1" [diameter]="17" ></mat-spinner>
                        </div>
                      </div>
                      <!--<app-loading *ngIf="isLoadingRefresh"></app-loading>-->
                    </div>    

                    <!--CONTENT SEARCH-->
                    <div class="container-fluid" *ngIf="!loading && datasource != null">
                      <div class="row">
                        <div class="col-md-6">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Busqueda</span>
                                </div>
                                <input type="text"  (keyup)="applyFilter($event.target.value)" class="width-40percentage">
                            </div>              
                        </div>

                        <div class="col-md-6">
                            <div class="float-right">
                              <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" style="margin-left: 2px">                  
                                <mat-button-toggle value="bold" (click)="toggleTemplate(0)" *ngIf="portal ==0"><mat-icon class="material-icons md-20-color" >view_list</mat-icon></mat-button-toggle>
                                <mat-button-toggle value="bold" (click)="toggleTemplate(0)" *ngIf="portal !== 0 "><mat-icon class="material-icons md-20" >view_list</mat-icon></mat-button-toggle>
                                <mat-button-toggle value="italic" (click)="toggleTemplate(1)" *ngIf="portal == 1"><mat-icon class="material-icons md-20-color" >vertical_split</mat-icon></mat-button-toggle>
                                <mat-button-toggle value="italic" (click)="toggleTemplate(1)" *ngIf="portal !== 1"><mat-icon class="material-icons md-20" >vertical_split</mat-icon></mat-button-toggle>
                              </mat-button-toggle-group>  

                                <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
                                <mat-button-toggle value="bold" (click)="reset()">Reset</mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>

                      </div>
                    </div>

                    <mat-table #table [dataSource]="datasource" matSort [class.isMobile]="isMobile">

                        <!-- Name Column -->
                        <ng-container matColumnDef="service_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Proyecto </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <span class="mobile-label">Proyecto:</span>
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['/service', element.id]" > 
                                <span class="font-small"><span class="circle" [style.color]="element.status? 'green' : 'red'"></span> {{element.service_name}}</span>
                                </a>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="order_number">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> N° OT </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <span class="mobile-label">N° OT:</span>
                                <span *ngIf="element.servicedetail[0] && element.servicedetail[0].order_number">{{element.servicedetail[0].order_number}}</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="gom_number">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> GOM </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <span class="mobile-label">GOM:</span>
                                <span *ngIf="element.servicedetail[0] && element.servicedetail[0].gom_number">{{element.servicedetail[0].gom_number}}</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="servicecategorie_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Proyecto </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <span class="mobile-label">Tipo Proyecto:</span>
                                <span *ngIf="element.servicecategorie_name">{{element.servicecategorie_name}}</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="address">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <span class="mobile-label">Dirección:</span>
                                <span *ngIf="element.servicedetail[0] && element.servicedetail[0].address">{{element.servicedetail[0].address}}</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="gestor">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Gestor </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <span class="mobile-label">Gestor:</span>
                                <span *ngIf="element.servicedetail[0] && element.servicedetail[0].gestor">{{element.servicedetail[0].gestor}}</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="contratista">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Contratista </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <span class="mobile-label">Contratista:</span>
                                <span *ngIf="element.servicedetail[0] && element.servicedetail[0].contratista">{{element.servicedetail[0].contratista}}</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="user">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Informador </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <span class="mobile-label">Informador:</span>
                                <span  *ngIf="element.user">{{element.user}}</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="create_at">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Creado El </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <span class="mobile-label">Creado El:</span>
                                <span *ngIf="element.create_at">{{element.create_at}}</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <div class="row" align="right">
                                    <div class="col-md-12">
                                        <button mat-icon-button color="primary" *ngIf="_userService.isRole(7)" (click)="startEdit(element.id)">
                                            <mat-icon aria-label="Edit" >edit</mat-icon>          
                                          </button>            
                                          <button mat-icon-button color="warn" *ngIf="_userService.isRole(7)" (click)="deleteItem(element.id)">
                                            <mat-icon aria-label="Delete" >delete</mat-icon>
                                          </button>

                                          <button mat-icon-button [matMenuTriggerFor]="menuviewselectorder" matTooltip="Acciones (Presiona para acceder a las acciones del proyecto)" [matTooltipPosition]="positionheaderaction.value" *ngIf="_userService.isRole(7)">
                                            <mat-icon aria-label="launch">more_horiz</mat-icon>
                                          </button>
                                        
                                          <mat-menu #menuviewselectorder="matMenu" [overlapTrigger]="false">
                                            <button mat-menu-item (click)="addDoc(element.id)" >
                                              <span >Documentos</span>
                                            </button>
                                            <button mat-menu-item (click)="cloneService(element.id)">
                                              <span >Clonar</span>
                                            </button>
                                
                                          </mat-menu>                                        
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let element; let i = index; columns: displayedColumns;" (click)="setClickedRow(element.id); setClickedElement(i)" (mouseenter)="hoverIn(i)" (mouseleave)="hoverOut(i)" [class.active]="i == selectedElement"></mat-row>

                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    <!-- /CONTENT -->
                  </div>

                  <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                    No se encontraron registros que coincidan con su búsqueda.
                    <button mat-button color="primary" (click)="refresh()"> <mat-icon aria-label="Example icon-button with a heart icon" >sync</mat-icon> Refrescar</button>
                  </div>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
              </mat-card>
            </div>
          </ng-template>

          <ng-template cdkPortal #myTemplate2="cdkPortal" >
              <div style="height: 100%">
                <as-split  direction="horizontal" unit="percent" restrictMove="false" >
                  <as-split-area size="70" minsize="50" >
                    <ng-container [cdkPortalOutlet]="_home" ></ng-container>
                  </as-split-area>
                  <as-split-area size="30" minsize="30" maxsize="30">
                      <div class="p-2">
                          <app-viewprojectdetail [id]="selectedRow" *ngIf="selectedRow > 0"></app-viewprojectdetail>                                       
                          <app-viewprojectdetail *ngIf="selectedRow == 0"></app-viewprojectdetail>              
                      </div>
                  </as-split-area>
                </as-split>          
              </div>
          </ng-template>
        </div>
      </div>
    </div>
