
<form ngNativeValidate *ngIf="forma && activationTag" [formGroup]="forma">
    <div class="row">
      <div class="col-12">
          <div class="fOqogj">
              <div class="SZsdL">
                <div style="display: inline-block; position: relative; outline: 0px; height: 28px; width: 28px; vertical-align: top">
                  <span class="cwXEzS">
                    <span role="img" style="background-color: transparent; vertical-align: top; background-image: url(&quot;https://avatar-cdn.atlassian.com/64dc6928b9d27242b695fc9f0cdb9a3d?s=48&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F64dc6928b9d27242b695fc9f0cdb9a3d%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 50%; display: flex; flex: 1 1 100%; height: 100%; width: 100%;"></span>
                  </span>
                </div>
              </div>
              <div class="full-width">

              <ng-select name="destinatario" formControlName="destinatario"  class="form-control" required       
              [items]="usersFt | async"
              [multiple]="true"
              [clearable]="false" 
              [closeOnSelect]="true"
              [searchable]="true"
              [loading]="userLoading"
              [typeahead]="userinput"
              bindLabel="email"
              placeholder="Buscar usuario"
              class="full-width">
              </ng-select>

              </div>        
           </div>        
      </div>
    </div>

</form>



