.fOqogj {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding-top: 1px;    
  }
  .SZsdL {
    padding-right: 7px;
    padding-top: 1px;
    vertical-align: top;
  }
  .fLcKLS {
    -webkit-appearance: none;
    color: inherit;
    font-size: 14px;
    font-family: inherit;
    letter-spacing: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .full-width {
    width: 100%;
  }
  .knkYsf {
    width: 24px;
    height: 24px;
    display: flex;
    opacity: 1;
    border-radius: 50%;
    margin: 2px;
  }
  
  