<div class="row">
    <div class="col-12">
      <div class="container-fluid p-2">
        <div class="row animated fadeIn" *ngIf="isLoading">
          <div class="col-sm-12">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
        <!--
        <div class="row animated fadeIn" *ngIf="!isLoading">
            <div class="col-sm-12">
                <div class="alert alert-danger">
                    No se encontraron registros que coincidan con su búsqueda. 
                    <button mat-button color="primary" (click)="ngOnInit()"> <mat-icon aria-label="Example icon-button with a heart icon" >sync</mat-icon> Refrescar</button>
                </div>
            </div>
        </div>-->
        <h2 class="jeEmY">Estatus de {{data.name}}</h2>
        <div class="row animated fadeIn" *ngIf="!isLoading">
          <div class="col-12">
                <div class="alert alert-danger" *ngIf="estatus$ == null">
                          No se encontraron registros que coincidan con su búsqueda. 
                </div>
    
              <div>
                      
                <table class="table table-hover" >
                    <thead>
                        <tr>                       
                            <th>Descripción</th>    
                            <th>Color</th>
                            <th>Posición</th>                             
                            <th></th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr *ngFor="let estatus of estatus$ | async; let i = index">
                          <td>
                            <label *ngIf="i !== indexitem || isLoadingDelete">{{estatus.name}}</label>
                            <input type="text" class="form-control" [(ngModel)]="estatus.name" *ngIf="i == indexitem && !isLoadingDelete"  required>
                          </td>
                          <td>
                              <label *ngIf="(i !== indexitem || isLoadingDelete) && estatus.label == 1" >Rojo</label>
                              <label *ngIf="(i !== indexitem || isLoadingDelete) && estatus.label == 2" >Azul</label>
                              <label *ngIf="(i !== indexitem || isLoadingDelete) && estatus.label == 3" >Magenta</label>
                              <select [(ngModel)]="estatus.label" name="label" class="form-control" *ngIf="i == indexitem && !isLoadingDelete" required>
                                  <option value="0">Color</option>
                                  <option value="1">Rojo</option>
                                  <option value="2">Azul</option>
                                  <option value="3">Magenta</option>
                              </select>
                          </td>
                          <td>
                              <label *ngIf="i !== indexitem || isLoadingDelete">{{estatus.order_by}}</label>
                              <input type="number" class="form-control" name="order_by" min="0"  step="1" [(ngModel)]="estatus.order_by" *ngIf="i == indexitem && !isLoadingDelete"  required>
                          </td>
                          <td>
    
                            <button mat-icon-button color="primary" *ngIf="estatus.id.length > 1 && i != indexitem" (click)="startEdit(i)">
                            <mat-icon aria-label="Edit">edit</mat-icon>          
                            </button>
    
                            <button mat-icon-button color="primary" *ngIf="estatus.name.trim().length > 1 && estatus.label != 0  && i == indexitem && editando && !isLoadingDelete" (click)="guardarestatus(i, estatus)" >
                            <mat-icon aria-label="Edit">done</mat-icon>                            
                            </button>
    
                            <button mat-icon-button color="primary" *ngIf="estatus.name.trim().length > 1 && i == indexitem && editando && !isLoadingDelete" (click)="close()" >
                                <mat-icon aria-label="Edit">close</mat-icon>                            
                            </button>
    
                            <button mat-icon-button color="primary" *ngIf="isLoadingSave && i == indexitem && !editando">
                            <app-progress-spinner ></app-progress-spinner>
                            </button>
    
                            <button mat-icon-button color="warn" (click)="borrarestatus(i, estatus)" *ngIf="i != indexitem">
                                <mat-icon aria-label="Edit">delete</mat-icon>                             
                            </button>
    
                            <button mat-icon-button color="primary" *ngIf="isLoadingDelete && i == indexitem && !editando">
                            <app-progress-spinner ></app-progress-spinner>
                            </button>
    
                          </td>
                        </tr>
                    </tbody>
                </table>
    
              </div>
    
              <form ngNativeValidate [formGroup]="forma" class="form p-t-20" >
                <table class="table table-hover">                    
                    <tbody>
                        <tr >
                          <td class="w10">
                              <button mat-icon-button (click)="show = !show; newlabel=''" >
                                  <mat-icon class="material-icons md-20-color">add</mat-icon><span *ngIf="!show">Agregar</span>
                              </button>                            
                          </td>
                          <td>
                            <input type="text" formControlName="name" class="form-control"  placeholder="Ingrese Estatus" *ngIf="show" required>
                          </td>
                          <td>
                              <select formControlName="label"  class="form-control" *ngIf="show" required>
                                  <option value="0">Seleccione Color</option>
                                  <option value="1">Rojo</option>
                                  <option value="2">Azul</option>
                                  <option value="3">Magenta</option>
                              </select>
                              </td>
                              <td>
                                <input type="number" formControlName="order_by"  class="form-control" placeholder="Posición de Estatus" *ngIf="show" required>
                              </td>
                          <td>
                              <button  mat-icon-button color="primary" *ngIf="show && !isLoadingSave && !isLoadingDelete" [disabled]="forma.invalid || forma.value.label === '0'" (click)="addEstatus(forma.value)" >
                                  <mat-icon aria-label="Edit">done</mat-icon>                            
                              </button>  
                              <button  mat-icon-button color="primary" *ngIf="show && !isLoadingSave && !isLoadingDelete" (click)="show = !show" >
                                <mat-icon aria-label="Close">close</mat-icon>
                              </button>       
                          </td>
                        </tr>
                    </tbody>                    
                </table>

              </form>
    
          </div>
        </div>
      </div>
    </div>
  </div>
    