<div class="container-fluid p-2">
    <div class="row animated fadeIn" *ngIf="isLoading">
        <div class="col-sm-12">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
  
    <div class="row animated fadeIn" [hidden]="isLoading">
        <div class="col-12">    
              <div class="animated fadeIn" *ngIf="isLoading">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
  
             <div class="alert alert-danger" *ngIf="set.length == 0">
                        No se encontraron registros.
             </div>
          
            <div >
  
                <mat-form-field class="full-width">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
  
                <div>

                    <table mat-table [dataSource]="dataSource" matSort >


                        <!-- ID Column -->
                        <ng-container matColumnDef="set">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> SET </th>
                            <td mat-cell *matCellDef="let row; let i = index"> 
                              <div *ngIf="i !== indexitem || isLoadingDelete">
                                <mat-form-field *ngIf="set && i !== indexitem || isLoadingDelete">
                                        <select [(ngModel)]="row.id_set" name="set" matNativeControl required [disabled]="true">
                                        <option *ngFor="let s of set" [value]="s.id">
                                            {{s.descripcion}}
                                        </option>
                                        </select>
                                </mat-form-field>                                
                              </div>                            
                              <mat-form-field *ngIf="set && i == indexitem && !isLoadingDelete">
                                      <mat-label>Valor</mat-label>
                                      <select [(ngModel)]="row.id_set" name="set" matNativeControl required>
                                      <option *ngFor="let s of set" [value]="s.id">
                                            {{s.descripcion}}
                                      </option>
                                      </select>
                              </mat-form-field>                            
  
                            </td>
                          </ng-container>
  

                        <!-- ID Column -->
                        <ng-container matColumnDef="descripcion">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                          <td mat-cell *matCellDef="let row; let i = index"> 
                            <div *ngIf="i !== indexitem || isLoadingDelete">{{row.descripcion}}</div>
                            <input type="text" class="form-control" id="{{row.descripcion}}" [(ngModel)]="row.descripcion" *ngIf="i == indexitem && !isLoadingDelete"  required>
                          </td>
                        </ng-container>
                    
                        <!-- Progress Column -->
                        <ng-container matColumnDef="order_by">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Posición </th>
                          <td mat-cell *matCellDef="let row; let i = index"> 
                            <div *ngIf="i !== indexitem || isLoadingDelete">{{row.order_by}}</div>
                            <input type="number" class="form-control"  [(ngModel)]="row.order_by" *ngIf="i == indexitem && !isLoadingDelete"  required>
                          </td>
                        </ng-container>
                    
                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                          <td mat-cell *matCellDef="let row; let i = index">
                            <div *ngIf="i !== indexitem || isLoadingDelete">
                              <div *ngIf="i !== indexitem || isLoadingDelete">{{row.status}}</div>                        
                            </div>
                            <select [(ngModel)]="row.status" name="label" class="form-control" *ngIf="i == indexitem && !isLoadingDelete" required>
                              <option value="">Seleccione</option>
                              <option value="1">Activo</option>
                              <option value="0">Desactivo</option>
                          </select>
                          </td>
                        </ng-container>

                    
                        <!-- Color Column -->
                        <ng-container matColumnDef="actions">
                          <th mat-header-cell *matHeaderCellDef >  </th>
                          <td mat-cell *matCellDef="let row; let i = index"> 
                              <button mat-icon-button color="primary" *ngIf="row.descripcion.length > 0 && i != indexitem" (click)="edit(i)">
                                  <mat-icon aria-label="Edit" >edit</mat-icon>
                                  </button>            
            
      
                                  <button mat-icon-button color="primary" *ngIf="row.descripcion.length > 0 && i == indexitem && editando && !isLoadingDelete" (click)="update(i, row)" >
                                  <mat-icon aria-label="Edit"  >done</mat-icon>                            
                                  </button>
      
                                  <button mat-icon-button color="primary" *ngIf="row.descripcion.length > 0 && i == indexitem && editando && !isLoadingDelete" (click)="close()" >
                                      <mat-icon aria-label="Edit"  >close</mat-icon>                            
                                  </button>
          
      
                                  <button mat-icon-button color="primary" *ngIf="isLoadingSave && i == indexitem && !editando">
                                  <app-progress-spinner ></app-progress-spinner>
                                  </button>
      
      
                                  <button mat-icon-button color="warn" (click)="delete(i, row)" *ngIf="i != indexitem">
                                      <mat-icon aria-label="Edit" >delete</mat-icon>                             
                                  </button>
      
                                  <button mat-icon-button color="primary" *ngIf="isLoadingDelete && i == indexitem && !editando">
                                  <app-progress-spinner ></app-progress-spinner>
                                  </button>
                          </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;">                    
                        </tr>
                    </table>
                    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
                </div>
  
            </div>

            <form ngNativeValidate *ngIf="forma" [formGroup]="forma" class="form p-t-20" >
                <table class="table table-hover" *ngIf="_userService.isRole(7)">                    
                    <tbody>
                        <tr >
                            <td class="w10">
                                <button mat-icon-button (click)="toggle()" >
                                    <mat-icon class="material-icons md-20-color" >add</mat-icon> <span *ngIf="!show">Agregar</span>
                                </button>                            
                            </td>
                            <td>
                            <mat-form-field *ngIf="set && show">
                                    <mat-label>SET</mat-label>
                                    <select formControlName="id_set" name="id_set" matNativeControl required>
                                    <option *ngFor="let s of set" [value]="s.id">
                                        {{s.descripcion}}
                                    </option>
                                    </select>
                            </mat-form-field>        
                            </td>        
                            <td>
                                <input type="text" name="name" class="form-control"  placeholder="Descripción" formControlName="descripcion"  *ngIf="show" required>
                            </td>
                            <td>
                                <input type="number" name="order_by" class="form-control"  placeholder="Posición" formControlName="order_by" *ngIf="show" >
                            </td>
                            <td>
                            <select name="status" class="form-control" formControlName="status"  *ngIf="show">
                                <option value="">Seleccione</option>
                                <option value="1">Activo</option>
                                <option value="0">Desactivo</option>
                            </select>
                            </td>
    
                            <td >
                                <button  mat-icon-button color="primary" [disabled]="forma.invalid" *ngIf="show && !isLoadingSave && !isLoadingDelete && !forma.invalid" (click)="onSubmit()" >
                                    <mat-icon aria-label="Edit"  >done</mat-icon>                            
                                </button>      
                            </td>
                        </tr>
                    </tbody>                    
                </table>
            </form>
      


        </div>
    </div>
</div>

