<mat-toolbar color="primary">
    <h3 *ngIf="!isLoading">{{title}}</h3> 
    <span class="mat-spacer"></span>
    <button mat-icon-button (click)="onNoClick()" tabindex="-1">
    <mat-icon class="mat-icon">close</mat-icon>       
    </button>
    </mat-toolbar>
    <p></p>
          
    <div class="container-fluid" *ngIf="isLoading">
        <div class="row d-flex justify-content-center">
            <mat-spinner  mode="indeterminate" [strokeWidth]="1" [diameter]="17" *ngIf="isLoading" ></mat-spinner>
        </div>
    </div>
    
        <div class="app animated fadeIn" *ngIf="!isLoading && forma">
    
        <form class="mat-dialog-content" ngNativeValidate *ngIf="forma" [formGroup]="forma"  >
            <div >    
                <div class="row">
                    <div class="col-sm-6">
                        <label for="nombre">Nombre del Equipo</label>
                        <input type="text" name="descripcion" formControlName="descripcion"   class="form-control" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="nombre">Responsable</label>
                        <ng-select [items]="users"
                        bindLabel="usuario"
                        bindValue="id"
                        name="owner_id"
                        placeholder="Responsable"
                        formControlName="owner_id">
                       </ng-select>                 

                        <!---
                        <label for="dni">Proyecto</label>
                        <select formControlName="project_id" name="project_id" class="form-control" *ngIf="proyectos && project_id" required>
                            <option *ngFor="let proyecto of proyectos" [value]="proyecto.id">
                                    {{proyecto.project_name}}
                            <option>
                        </select>    -->
                    </div>                
                </div>
                <br>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <br>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
    
        </form>

        <div class="row" *ngIf="userFirebase">
            <div class="col-12" >
                <h2 class="jeEmY">Miembros</h2>
                <app-tag-user-db [userFirebase]="userFirebase" [id]="proyecto.id" (tagUser)="taguser($event)" *ngIf="proyecto.id > 0"> </app-tag-user-db>
                <!---- <app-taguser [userFirebase]="userFirebase" (tagUser)="taguser($event)" > </app-taguser> --->
            </div>
        </div>                                                                      
        <br>
        </div>
      
    
    
    <br>
    <div mat-dialog-actions >      
        <button mat-button color="primary" type="submit"  [disabled]="forma.invalid || equipo.length === 0" class="btnsave" (click)="onSubmit(equipo)">Guardar</button>
        <button mat-button (click)="onNoClick()" tabindex="-1" mat-raised-button class="btnclose">Cancelar</button>
    </div>
    
