<div class="p-2">
    <div class="container-fluid">
      <div class="example-loading-shade" *ngIf="isLoadingResults">
         <app-loading *ngIf="isLoadingResults"></app-loading>  
      </div>
    </div>      
    
      <div class="row" *ngIf="!isLoadingResults">        
        <div class="col-8">
            <app-viewprojectdetail [id]="id" *ngIf="id > 0"></app-viewprojectdetail>  
        </div>
        <div class="col-4">
            <mat-card [ngStyle]="{'width': '100%', 'background-color': '#f2f4f7'}">
                <mat-card-title> Indicadores </mat-card-title>
                <mat-card-content> Estatus del Proyecto </mat-card-content>
            </mat-card>  
        </div>
      </div>
    

</div>

