<div class="p-3">
  <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
    No se encontraron archivos.
  </div>
  

<mat-card [ngStyle]="{'padding':'0px'}" *ngIf="!isRateLimitReached">
<mat-card-header [ngClass]="{'custom-card':true}">
<span class="spacer"></span>
  <div class="top-bar" >
  <div class="search-container" *ngIf="!isRateLimitReached" >
        <input class="search" type="search" placeholder="Buscar..." (keyup)="applyFilter($event.target.value)" #input>
  </div>  
  </div>
</mat-card-header>



<mat-card-content >


    <div class="container" *ngIf="isLoadingResults || isRateLimitReached">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
              <mat-spinner  mode="indeterminate" [strokeWidth]="1" [diameter]="17" *ngIf="isLoadingResults" ></mat-spinner>
          </div>
        </div>
    </div>     


<table mat-table  #table  [dataSource]="dataSource" matSort >

<ng-container matColumnDef="nombre"  >  
  <mat-header-cell *matHeaderCellDef  mat-sort-header> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let items; let i = index" >

      {{items.nombre}}             

  </mat-cell>
</ng-container>




<ng-container matColumnDef="tipo" >
  <mat-header-cell *matHeaderCellDef > Tipo </mat-header-cell>
  <mat-cell *matCellDef="let items; let i = index" > 


        <div *ngIf="items.type == 'image/png' || items.type == 'image/jpg' || items.type == 'image/jpeg' || items.type == 'image/gif'" >
        <i class="material-icons">
        image
        </i>
        </div>


        <div *ngIf="items.type== 'application/pdf'" >
        <i class="material-icons">
        attach_file
        </i>
        </div>


        <div *ngIf="items.type== 'video/mp4'" >
        <i class="material-icons">
        videocam
        </i>
        </div>


  </mat-cell>
</ng-container>



<ng-container matColumnDef="create_at" >
  <mat-header-cell *matHeaderCellDef > Creado El </mat-header-cell>
    <mat-cell *matCellDef="let items"> {{items.created }}</mat-cell>
</ng-container>

<ng-container matColumnDef="visualizar" >
  <mat-header-cell *matHeaderCellDef >  </mat-header-cell>
    <mat-cell *matCellDef="let items; let i = index">  

      <div class="row">
        <button mat-icon-button color="primary" (click)="downloadItem(items, i)"
        matTooltip="Decargar documento."
        [matTooltipPosition]="positiondatasourceaction.value"
        >          
          <div *ngIf="i != indexitem">
          <mat-icon aria-label="download">get_app</mat-icon>
          </div>
         
          <div *ngIf="i == indexitem">
          <app-progress-spinner *ngIf="isLoadingDownload"></app-progress-spinner>  
          </div>

        </button>

        <button mat-icon-button color="warn"  (click)="deleteItem(items)" 
        matTooltip="Eliminar documento."
        [matTooltipPosition]="positiondatasourceaction.value"
        >
          <div>
          <mat-icon aria-label="Delete">delete</mat-icon>
          </div>
        </button>



        <a mat-button href="{{items.url}}" target="_blank" rel="noopener">
          <div>
          <mat-icon aria-label="launch">launch</mat-icon>
          </div>
        </a> 


      </div>

    </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="columnsToDisplay" color="primary"></mat-header-row>
<mat-row *matRowDef="let items; columns: columnsToDisplay;" ></mat-row>
</table>
<div class="example-rate-limit-reached" *ngIf="dataSource && dataSource.filteredData.length == 0">
  No se encontraron archivos.
</div>
<mat-paginator [pageSizeOptions]="[10, 25, 100]" ></mat-paginator>

</mat-card-content>
</mat-card>



</div>

