ng-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  z-index: 10;
  box-shadow: 7px 0 6px rgba(0,0,0,.24);
}
.pagecontent {
  margin-top: 97px;
  width: auto;  
  padding: 0.5px;
}