ng-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  z-index: 10;
  box-shadow: 7px 0 6px rgba(0,0,0,.24);
}

.pagecontent {
  margin-top: 56px;
  width: auto;  
  height: 100%;
}

.material-icons.md-link { 
  color: rgb(0,122,217);    
}

.example-toolbar {
  height: 46px !important;
  box-shadow: 7px 0 6px rgba(0,0,0,.24) !important;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 56px;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


.not-scroll {
  height: 100%;
  overflow: hidden !important; 
}

.sidebar-header {
  min-width: 20px;
  max-width: 250px;
  background: #0B3356;
  padding: 20px;
  border-right: 1px solid #DDD;
  height: 249;
}

.sidebar-footer {
 height: 80px;
 min-width: 20px;
 max-width: 250px;
 background: #0B3356;
 border-right: 1px solid #DDD;
 align-content: center;
}

.keyboard_arrow_left {
  float: right !important; 
}
