.all-wrap {
  min-height: 100vh;
}
.content {
  flex: 1;
}
.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
 
}
.mat-card {
    padding: 7 !important;
    background-color: #FFFFFF;
}
.mat-icon-button {
  outline: 0;
  border: none;
}
.mat-menu-item {
  outline: 0;
  border: none;
}
.material-icons.md-15 { font-size: 15px; }
.material-icons.md-15-colorblue { font-size: 15px; color: #1A237E; }
.material-icons.md-15-colorgreen { font-size: 15px; color: #00796B; }
.material-icons.md-15-colordark { font-size: 15px; color: #424242; }
.material-icons.md-24 { font-size: 24px; color: #FFFFFF;}
.material-icons.md-dark.md-inactive { font-size: 24px; color: #F3E5F5; }

