<!--CONTENT-->
<div [class]="theme" >

    <div id="wrapper" *ngIf="proyectos">
        <!-- Sidebar <app-menu  (RefreshMenu) = "refreshMenu( $event )"></app-menu>-->
        
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->        
        <div id="page-content-wrapper" *ngIf="_userService.isAuthenticated()" >
        <!-- TAB Content ------------------------------------------------------------------------------------------>


        <mat-sidenav-container class="all-wrap" >        
  <div class="page-wrap">
    <header role="banner">
            <mat-toolbar color="primary">
              <h1 class="text-uppercase" >{{project_name}} / {{service}}</h1>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon class="material-icons md-15">format_color_fill</mat-icon>
              </button>
              <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item (click)="changeTheme(0)">
                <mat-icon class="material-icons md-15-colorblue">format_color_fill</mat-icon>
                  <span>Primario</span>
                </button>
                <button mat-menu-item (click)="changeTheme(1)">
                  <mat-icon class="material-icons md-15-colorgreen">format_color_fill</mat-icon>
                  <span>Verde</span>
                </button>
                <button mat-menu-item (click)="changeTheme(2)">
                  <mat-icon class="material-icons md-15-colordark">format_color_fill</mat-icon>
                  <span>Oscuro</span>
                </button>
                <button mat-menu-item (click)="changeTheme(3)">
                    <mat-icon class="material-icons md-15-colordark">format_color_fill</mat-icon>
                    <span>Dark</span>
                  </button>
  

              </mat-menu>              
            </mat-toolbar>      
      </header>



      <main class="content">        
        <div >

          <mat-tab-group backgroundColor="primary" 
          [selectedIndex]="selected.value"
          (selectedIndexChange)="selected.setValue($event)"
          animationDuration="0ms"
          >
            <mat-tab label="Ordenes">
              <ng-template mat-tab-label *ngIf="selected.value==0">
                <mat-icon  class="material-icons md-24">move_to_inbox</mat-icon> Ordenes 
              </ng-template>
              
              <ng-template mat-tab-label *ngIf="selected.value!=0">
                <mat-icon *ngIf="selected.value!=0" class="material-icons md-dark md-inactive">inbox</mat-icon> Ordenes
              </ng-template>
  
              <!-- /#page-content -->
              <div class="p-2" style="width: 100%;" *ngIf="selected.value==0" >
                <app-vieworderservice (ServicioSeleccionado) = "loadDataServicio( $event )" [id]="id"></app-vieworderservice>  
              </div>            
              <!-- /#end page-content -->
            </mat-tab>
  
  
  
            <mat-tab >
              <ng-template mat-tab-label *ngIf="selected.value != 1">
                <mat-icon>description</mat-icon> Registro 
              </ng-template>
              <ng-template mat-tab-label *ngIf="selected.value == 1">
                <mat-icon>archive</mat-icon> Registro 
              </ng-template>
  
              <!-- /#page-content -->
              <div  style="width: 100%;" *ngIf="selected.value==1 && table != null">
                  <mat-tab-group mat-align-tabs="center">
                      <mat-tab label="Carga Masiva"> 
                        <app-excel (ServicioSeleccionado) = "loadDataServicio( $event )" [id]="id" [table]="table" *ngIf="table == 'address' "></app-excel>
                        <app-excel-vehiculo (ServicioSeleccionado) = "loadDataServicio( $event )" [id]="id" [table]="table" *ngIf="table == 'vehiculos'"></app-excel-vehiculo> 
                      </mat-tab>
                      <mat-tab label="Carga de Inspecciones"> 
                        <app-makeinspection (ServicioSeleccionado) = "loadDataServicio($event)" [id]="id"></app-makeinspection> 
                      </mat-tab>
                    </mat-tab-group>  
              </div>
  
              <!-- /#end page-content -->
            </mat-tab>
  
            <mat-tab>
              <ng-template mat-tab-label *ngIf="selected.value==2">            
                <mat-icon>group_add</mat-icon> Clientes
              </ng-template>
  
              <ng-template mat-tab-label *ngIf="selected.value!=2">
                <mat-icon *ngIf="selected.value!=2" class="material-icons md-dark md-inactive">group</mat-icon> Clientes
              </ng-template>
  
              <!-- /#page-content -->
              <div class="p-2" style="width: 100%;" *ngIf="selected.value==2">
                <app-viewprojectcustomer (ServicioSeleccionado) = "loadDataServicio( $event )" [id]="id"></app-viewprojectcustomer>  
              </div>
  
              <!-- /#end page-content -->
            </mat-tab>
  
  
  
            <mat-tab>
              <ng-template mat-tab-label *ngIf="selected.value!=3">
                <mat-icon>place</mat-icon> Georeferencias
              </ng-template>
              <!-- /#page-content -->
              <ng-template mat-tab-label *ngIf="selected.value==3">
                <mat-icon>person_pin_circle</mat-icon> Georeferencias
              </ng-template>
  
              <div class="p-2" style="width: 100%;" *ngIf="selected.value==3">
              <app-mapa (ServicioSeleccionado) = "loadDataServicio( $event )" [id]="id"></app-mapa>
              </div>
              <!-- /#end page-content -->
            </mat-tab>
  
  
            <mat-tab>
              <ng-template mat-tab-label *ngIf="selected.value!=4">
                <mat-icon>insert_chart_outlined</mat-icon> Gestión
              </ng-template>
              <ng-template mat-tab-label *ngIf="selected.value==4">
                  <mat-icon>insert_chart</mat-icon> Gestión
              </ng-template>
  
              <!-- /#page-content -->
              <div class="p-2" style="width: 100%;" *ngIf="selected.value==4">
              <app-gestion (ServicioSeleccionado) = "loadDataServicio( $event )" [id]="id"> </app-gestion>
              </div>
              <!-- /#end page-content -->
            </mat-tab>
  
  
  
  
          </mat-tab-group>
  
        </div>
        

      <!-- END TAB Content ------------------------------------------------------------------------------------------>
      </main>


        </div>

        </mat-sidenav-container>         
        




        </div>
            
    </div>



</div>