.portalHost {
          border: 0px solid red;
          height: 600px;
}

.main-container{
  margin-top: 9px;
}
.example-full-width{
  background-color: #f2f4f7;
}
.custom-card {
  background-color: #f2f4f7;
}
.table-button-row button,
.table-button-row a {
  margin-right: 8px;
}

.padding{
  padding: 7px;
}
.test {
  background-color: gold;
}
.button {
  background: #3D3240;
}
.active {
  border: 1px solid blue;
  background-color: #f2f4f7; 
  color: #000000;
}

mat-table {
  overflow: scroll;
  max-height: 768px;  
}
mat-header-cell, mat-header-row, .mat-header-cell-def{
    background:#f2f4f7;
    min-height:15px;
    font-family:Verdana,sans-serif;
    font-weight:bold;
    font-size:13px;
    color: #1a084c;
    margin-bottom:5px;
    top: 0;
    position: sticky;
    z-index: 1;
}

mat-row{
    min-height:20px;
    font-family:Verdana,sans-serif;
    font-size:12px;
    color: #1a084c;
}

.mat-row:hover {
  background-color: #f5f5f5;
}

mat-cell{
    height:50px;
    font-family:Verdana,sans-serif;
    font-size:12px; 
    color: #1a084c;
}
.mat-cell.active{
  background-color:#123456 !important;
  color: white;
}

mat-chip {
  max-width: 117px;
}
.mat-column-important {
  flex: 0 0 4%;
}

.mat-column-cc_number {
  justify-content: center;
}


.material-icons.md-color { color: #CFCFCF;}
/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}
.margin {
margin: 1px;
}

.main-table{
  width: 97%;
  overflow: auto;
  max-height: 768px;  

}
table {
  width: 100%;
  overflow: auto;
  max-height: 768px;  
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  background: #f2f4f7;
  max-width: 100%;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.material-icons.orange600 { color: #333333; }
.material-icons.md-14 { font-size: 14px;}

.button-row button,
.button-row a {
  margin-right: 8px;
}

::ng-deep .mat-select-content{
  font-size: 12px;
}
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-20-color { font-size: 20px; color: #FB8C00;}
.material-icons.md-24 { font-size: 24px; color: #FB8C00;}
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.no-shadow {
  box-shadow: none !important;
  background-color: #FFFFFF;
}


.footer-button-row button,
.footer-button-row a {
  margin-right: 8px;
}
.full-width {
  width: 100%;
  padding: 4px;
}