<div class="portalHost">
   <ng-container [cdkPortalOutlet]="_portal" ></ng-container>
</div>

<ng-template cdkPortal #myTemplate="cdkPortal">
<div class="p-2">
<mat-card [ngStyle]="{'padding':'0px'}">
<mat-card-header [ngClass]="{'custom-card':true}">
<table class="example-full-width" cellspacing="0" border="0" class="main-table">
  <tr>
    <td>
    <mat-form-field>      
      <input  matInput (keyup)="applyFilter()" placeholder="Buscar Orden" [(ngModel)]="filterValue">
      <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="filterValue=''">
        <mat-icon>close</mat-icon>
      </button>  
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    </td>

<td width="1%"></td>

<td width="1%">

<mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" (click)="toggle()" id="bt"  *ngIf="!show">
  <mat-button-toggle value="bold">Filtros<i class="material-icons">arrow_drop_down</i></mat-button-toggle>
</mat-button-toggle-group>

<mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" (click)="toggle()" id="bt"  *ngIf="show">
  <mat-button-toggle value="bold">Filtros<i class="material-icons" style="color:blue">arrow_right</i></mat-button-toggle>
</mat-button-toggle-group>
</td>



<td width="1%">
<button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!show"
  matTooltip="Filtrar datos."
  [matTooltipPosition]="positionrightaction.value"

>
  <mat-icon>filter_list</mat-icon>
</button>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <form (keydown.tab)="$event.stopPropagation()">
  <div class="container">    
  <mat-accordion>
    <mat-expansion-panel (click)="$event.stopPropagation(); false;" [expanded]="step === 0" (opened)="setStep(0)" class="no-shadow">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filtrar Fecha
        </mat-panel-title>
      </mat-expansion-panel-header>

        <mat-form-field  *ngIf="!selectedColumnn.fieldValue" class="full-width">
          <mat-select placeholder="Seleccione" [(ngModel)]="selectedColumnnDate.fieldValue" name="Fecha">
            <mat-option>Seleccione</mat-option>
            <mat-option value="orders.create_at">Creado El</mat-option>
            <mat-option value="orders.update_at">Editado El</mat-option>            
          </mat-select>
        </mat-form-field>



        <mat-form-field *ngIf="selectedColumnnDate.fieldValue && !selectedColumnn.fieldValue"  class="full-width">
          <input matInput [matDatepicker]="fecha1" placeholder="Desde" [(ngModel)]="selectedColumnnDate.columnValueDesde"disabled name="columnValueDesde" >
          <mat-datepicker-toggle matSuffix [for]="fecha1"></mat-datepicker-toggle>
          <mat-datepicker #fecha1 disabled="false"></mat-datepicker>
        </mat-form-field>



        <mat-form-field *ngIf="selectedColumnnDate.fieldValue && !selectedColumnn.fieldValue"class="full-width" >
          <input matInput [min]="selectedColumnnDate.columnValueDesde" [matDatepicker]="fecha2" placeholder="Hasta" [(ngModel)]="selectedColumnnDate.columnValueHasta" disabled  name="columnValueHasta">
          <mat-datepicker-toggle matSuffix [for]="fecha2"></mat-datepicker-toggle>
          <mat-datepicker #fecha2 disabled="false"></mat-datepicker>
        </mat-form-field>
    </mat-expansion-panel>


  <mat-expansion-panel (click)="$event.stopPropagation(); false;" [expanded]="step === 1" (opened)="setStep(1)" class="no-shadow">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filtrar Inspector
      </mat-panel-title>
    </mat-expansion-panel-header>

        <mat-form-field class="full-width" >
          <mat-select placeholder="Seleccione" [(ngModel)]="selectedColumnnUsuario.fieldValue" name="usuario">
            <mat-option value="orders_details.assigned_to">Asignado A</mat-option>            
            <mat-option value="orders_details.create_by">Creado Por</mat-option>
            <mat-option value="orders_details.update_by">Editado Por</mat-option>            
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-select [formControl]="inspectorCtrl"  placeholder="Inspector" #singleSelect   [(value)]="selectedColumnnUsuario.columnValue" >
          <ngx-mat-select-search [formControl]="inspectorMultiFilterCtrl" ></ngx-mat-select-search>
          <mat-option *ngFor="let inspector of filteredInspectorMulti | async" [value]="inspector.id">
            {{inspector.name}}
          </mat-option>
          </mat-select>
        </mat-form-field>


  </mat-expansion-panel>    
  </mat-accordion>
  </div>

  <hr>
  <div mat-dialog-actions class="main-container">

    <div class="container">      
      <div class="row justify-content-center">
      <div class="footer-button-row">

       <button type="button" class="btn btn-primary btn-sm"  
       (click)="applyFilter()" 
        [disabled]="!selectedColumnnDate.columnValueHasta  || !selectedColumnnDate.columnValueDesde || !selectedColumnnUsuario.fieldValue || !selectedColumnnUsuario.columnValue"
       >
       Buscar
       </button>
       
       <button type="button" class="btn btn-secondary btn-sm" 
       (click)="resetFilters()"
       [disabled]="!selectedColumnnDate.columnValueHasta  || !selectedColumnnDate.columnValueDesde "
       >Limpiar</button>

      </div>
      </div>
    </div>
  </div>

  </form>
</mat-menu>


</td>



<td width="80%" align="left">
<div class="animated fadeIn" style="top: 56px; left: 256px; visibility: visible; position: sticky; display: inline-block; z-index: 1;" *ngIf="show">


          <mat-form-field class="margin" >
          <mat-select placeholder="Filtro" [(ngModel)]="selectedColumnn.fieldValue">
            <mat-option>Seleccione</mat-option>
            <mat-option value="communes.commune_name">Comuna</mat-option>
            <mat-option value="users.name">Creado Por</mat-option>            
            <mat-option value="status.name">Estatus</mat-option>
            <mat-option value="orders.order_number">N. Orden</mat-option>
            <mat-option value="projects_customer.cc_number">N. Cliente</mat-option>
            <mat-option value="provinces.province_name">Provincia</mat-option>
            <mat-option value="regions.region_name">Región</mat-option>            
            <p></p>
            <div class="container">
            <div class="button-row">
            <button type="button" class="btn btn-secondary btn-sm" (click)="selectedColumnn.fieldValue=''">Limpiar</button>            
            </div>
            </div>
            <p></p>
          </mat-select>
        </mat-form-field>

  
          <mat-form-field *ngIf="selectedColumnn.fieldValue" class="margin">
            <input matInput placeholder="Valor" (keyup)="applyFilter()" [(ngModel)]="selectedColumnn.columnValue">
            <button mat-button *ngIf="selectedColumnn.columnValue" matSuffix mat-icon-button aria-label="Clear" (click)="selectedColumnn.columnValue=''">
              <mat-icon>close</mat-icon>
            </button>  
          </mat-form-field>


          <mat-form-field class="margin" *ngIf="!selectedColumnn.fieldValue" >
          <mat-select placeholder="Fecha" [(ngModel)]="selectedColumnnDate.fieldValue">
            <mat-option>Seleccione</mat-option>
            <mat-option value="orders.create_at">Creado El</mat-option>
            <mat-option value="orders.update_at">Editado El</mat-option>            
        <p></p>
        <div class="container">
        <div class="button-row">
            <button type="button" class="btn btn-secondary btn-sm" (click)="selectedColumnnDate.fieldValue=''">Limpiar</button>            
        </div>
        </div>
        <p></p>

          </mat-select>
        </mat-form-field>



        <mat-form-field *ngIf="selectedColumnnDate.fieldValue && !selectedColumnn.fieldValue" class="margin" >
          <input matInput [matDatepicker]="fecha1" placeholder="Desde" [(ngModel)]="selectedColumnnDate.columnValueDesde"disabled>
          <mat-datepicker-toggle matSuffix [for]="fecha1"></mat-datepicker-toggle>
          <mat-datepicker #fecha1 disabled="false"></mat-datepicker>
        </mat-form-field>



        <mat-form-field *ngIf="selectedColumnnDate.fieldValue && !selectedColumnn.fieldValue" class="margin">
          <input matInput [min]="selectedColumnnDate.columnValueDesde" [matDatepicker]="fecha2" placeholder="Hasta" [(ngModel)]="selectedColumnnDate.columnValueHasta" disabled >
          <mat-datepicker-toggle matSuffix [for]="fecha2"></mat-datepicker-toggle>
          <mat-datepicker #fecha2 disabled="false"></mat-datepicker>
        </mat-form-field>


  

    <mat-form-field class="margin" >
      <mat-select [formControl]="regionMultiCtrl"  placeholder="Región" [multiple]="true" #multiSelect  >
        <ngx-mat-select-search [formControl]="regionMultiFilterCtrl" ></ngx-mat-select-search>
        <mat-option *ngFor="let region of filteredRegionMulti | async" [value]="region.name">
          {{region.name}}
        </mat-option>
        <p></p>
        <div class="container">
        <div class="button-row">
        <button type="button" class="btn btn-secondary btn-sm" (click)="resetRegionFilters()">Limpiar</button>
        </div>
        </div>
        <p></p>
      </mat-select>
    </mat-form-field>



</div>
</td>


<td width="1%" >

                  <div class="btn-toolbar mb-2 mb-md-0" *ngIf="(selectedColumnnDate.fieldValue && selectedColumnnDate.columnValueDesde && selectedColumnnDate.columnValueHasta) || (regionMultiCtrl.value)">
                  <div class="btn-group mr-2" align="right">
       
                    <button type="button" class="btn btn-sm btn-outline-secondary"   (click)="applyFilter()">Buscar</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="resetFilters()">Limpiar</button>

                  </div>
                </div>



</td>

<td width="1%" >
  <button mat-icon-button [matMenuTriggerFor]="menuview" *ngIf="!show"
  matTooltip="Cambiar vista."
  [matTooltipPosition]="positionleftaction.value"
  >
    <mat-icon>view_headline</mat-icon>
  </button>

  <mat-menu #menuview="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="toggleTemplate(0)">
      <mat-icon class="material-icons md-20-color" *ngIf="!showtemplate">view_list</mat-icon>
      <mat-icon class="material-icons md-20" *ngIf="showtemplate">view_list</mat-icon>      
      <span >Vista de Lista </span>
    </button>
    <button mat-menu-item (click)="toggleTemplate(1)">
      <mat-icon class="material-icons md-20-color" *ngIf="showtemplate">view_quilt</mat-icon>
      <mat-icon class="material-icons md-20" *ngIf="!showtemplate">view_quilt</mat-icon>
      <span >Vista de Detalle</span>
    </button>

  </mat-menu>
</td>


</tr>
</table>

</mat-card-header>

<mat-card-content>




    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      No se encontraron registros que coincidan con su búsqueda.
      <button mat-button color="primary" (click)="refreshTable()"> <mat-icon aria-label="Example icon-button with a heart icon" >sync</mat-icon> Refrescar</button>
    </div>


<div class="example-container " >
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <app-loading *ngIf="isLoadingResults"></app-loading>  
  </div>

<div class="example-table-container" >

<table mat-table  #table  [dataSource]="dataSource" 
  matSort    
  (matSortChange)="handleSortChange($event)" 
  [matSortActive]="sort.active" 
  [matSortDirection]="sort.direction" 
  matSortDisableClear  >


<ng-container matColumnDef="important" >
  <mat-header-cell *matHeaderCellDef mat-sort-header><i class="material-icons">unfold_more</i></mat-header-cell>
    <mat-cell *matCellDef="let order; let i = index" style="color:blue">
      <div *ngIf="order.important==0">   
      <mat-checkbox
      color="primary"
      [checked]="false"
      (change)="onChange($event, category_id, order.order_id)"
      matTooltip="Marcar orden como importante."
      [matTooltipPosition]="positiondatasourceaction.value"
      >      
      </mat-checkbox>
      </div>

      <div *ngIf="order.important==1">   
      <mat-checkbox
      color="primary"
      [checked]="true"
      (change)="onChange($event, category_id, order.order_id)" 
      matTooltip="No marcar orden como importante."
      [matTooltipPosition]="positiondatasourceaction.value"
      >        
      </mat-checkbox>
      </div>
    </mat-cell>
</ng-container>



<ng-container matColumnDef="order_number"  >  
  <mat-header-cell *matHeaderCellDef mat-sort-header > N. Orden </mat-header-cell>
    <mat-cell *matCellDef="let order; let i = index" >

      {{order.order_number}}             

  </mat-cell>
</ng-container>


  
<ng-container matColumnDef="cc_number">
  <mat-header-cell *matHeaderCellDef mat-sort-header> N. Cliente </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.cc_number}} </mat-cell>
</ng-container>


<ng-container matColumnDef="region"  >
  <mat-header-cell *matHeaderCellDef mat-sort-header  > Región </mat-header-cell>
    <mat-cell *matCellDef="let order" [ngClass]="{'hidden-item': true}"> {{order.region}} </mat-cell>
</ng-container>

<ng-container matColumnDef="provincia"  >
  <mat-header-cell *matHeaderCellDef mat-sort-header  > Provincia </mat-header-cell>
    <mat-cell *matCellDef="let order" [ngClass]="{'hidden-item': true}"> {{order.provincia}} </mat-cell>
</ng-container>


<ng-container matColumnDef="comuna"  >
  <mat-header-cell *matHeaderCellDef mat-sort-header  > Comuna </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.comuna}} </mat-cell>
</ng-container>

  
<ng-container matColumnDef="direccion">
  <mat-header-cell *matHeaderCellDef mat-sort-header  > Ubicación </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.direccion}} </mat-cell>
</ng-container>


<ng-container matColumnDef="servicetype" >
  <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Servicio </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.servicetype}} 
    
    </mat-cell>
</ng-container>


<ng-container matColumnDef="estatus" >
  <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
  <mat-cell *matCellDef="let order; let i = index" > 

    <mat-chip-list>
        <mat-chip *ngIf="order.label==1" selected color="warn">
          {{order.estatus}}
        </mat-chip>

        <mat-chip *ngIf="order.label==2" selected color="primary">
          {{order.estatus}}
        </mat-chip>

        <mat-chip *ngIf="order.label==3" selected color="accent">
          {{order.estatus}}
        </mat-chip>
    </mat-chip-list>

  </mat-cell>

</ng-container>

<ng-container matColumnDef="user" >
  <mat-header-cell *matHeaderCellDef mat-sort-header> Creado Por </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.user}} </mat-cell>
</ng-container>


<ng-container matColumnDef="create_at" >
  <mat-header-cell *matHeaderCellDef mat-sort-header> Creado El </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.create_at }} {{order.assigned_to}}</mat-cell>
</ng-container>

<!-- actions -->
    <ng-container matColumnDef="actions" >
      <mat-header-cell *matHeaderCellDef>        
        <button mat-icon-button color="primary" (click)="addNew(id, category_id)" *ngIf="_userService.isRole(3)"
        matTooltip="Agregar orden."
        [matTooltipPosition]="positionheaderaction.value"
        >
          <mat-icon  >add</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="refreshTable()"
        matTooltip="Refrescar datos."
        [matTooltipPosition]="positionheaderaction.value"
        >
          <mat-icon  >refresh</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="settings(columnsOrderToDisplay)"
        matTooltip="Ver/Ocultar columnas."
        [matTooltipPosition]="positionheaderaction.value"
        >
        <mat-icon >settings</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="publish()"
        matTooltip="Almacenar información."
        [matTooltipPosition]="positionheaderaction.value"
        >
        <mat-icon class="material-icons">publish</mat-icon>
        </button>

      </mat-header-cell>
      <mat-cell *matCellDef="let order; let i = index" >
        <button mat-icon-button color="primary" *ngIf="_userService.isRole(4)" (click)="startEdit(order.order_id, order.order_number, order.category_id, order.customer_id, order.cc_number, order.servicetype_id, order.status_id, order.assigned_to, order.order_date, order.required_date, order.vencimiento_date, order.observation, order.create_at)"
        matTooltip="Editar orden."
        [matTooltipPosition]="positiondatasourceaction.value"
        
        >
          <mat-icon class="material-icons md-color" aria-label="Edit" *ngIf="i != indexitem">edit</mat-icon>          
          <mat-icon aria-label="Edit" *ngIf="i == indexitem">edit</mat-icon>          
        </button>

        <button mat-icon-button color="warn" *ngIf="_userService.isRole(5)" (click)="deleteItem(order.order_id, order.order_number, order.category_id, order.customer_id, order.cc_number, order.servicetype_id, order.status_id,  order.estatus, order.order_date, order.required_date, order.observation, order.create_at, order.project_name, order.service_name, order.servicetype )"
        matTooltip="Eliminar orden."
        [matTooltipPosition]="positiondatasourceaction.value"
        >
          <mat-icon class="material-icons md-color" aria-label="Delete" *ngIf="i != indexitem">delete</mat-icon>
          <mat-icon aria-label="Delete" *ngIf="i == indexitem">delete</mat-icon>
        </button>

        <button mat-icon-button color="" (click)="showItem(order.order_id, order.order_number, order.category_id, order.customer_id, order.cc_number, order.servicetype_id, order.status_id, order.estatus, order.order_date, order.required_date, order.vencimiento_date, order.observation, order.create_at, order.user, order.project_name, order.service_name, order.servicetype, order.update_at, order.userupdate, order.region, order.provincia, order.comuna, order.direccion)"
        matTooltip="Ver orden."
        [matTooltipPosition]="positiondatasourceaction.value"
        >
          <mat-icon class="material-icons md-color" aria-label="launch" *ngIf="i != indexitem">launch</mat-icon>
          <mat-icon aria-label="launch" *ngIf="i == indexitem">launch</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="publishOrder(order.order_id)"
        matTooltip="Almacenar información."
        [matTooltipPosition]="positionheaderaction.value"
        >
          <mat-icon class="material-icons md-color" *ngIf="i != indexitem">publish</mat-icon>
          <mat-icon  *ngIf="i == indexitem">publish</mat-icon>
        </button>


          
      </mat-cell>
    </ng-container>


<mat-header-row *matHeaderRowDef="columnsOrderToDisplay" color="primary" ></mat-header-row>
<mat-row *matRowDef="let order; let i = index; columns: columnsOrderToDisplay;" (click)="setClickedRow(i, order.order_id)" (mouseenter)="hoverIn(i)" (mouseleave)="hoverOut(i)" [class.active]="i == selectedRow"></mat-row>



</table>
</div>
<mat-paginator    [length]="resultsLength"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="onPaginateChange($event)"
                  [showFirstLastButtons]="true" 
                  ></mat-paginator>    

</div>
<P></P>
 

<div  style="float:right">
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group" *ngIf="!isRateLimitReached">
                  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" (click)="openDialog()">
                    <span data-feather="calendar"></span>
                    ZIP
                  </button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group" *ngIf="!isRateLimitReached">
                  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" (click)="downloadPDF()">
                    <span data-feather="calendar"></span>
                    PDF
                  </button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">




          <div class="btn-group" *ngIf="!isRateLimitReached">
 
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" [matMenuTriggerFor]="menucsv">
                <span data-feather="calendar"></span>
                CSV
                </button>
                <mat-menu #menucsv="matMenu">
                <button mat-menu-item (click)="openDialogCsv()"><span data-feather="calendar"></span>Buscar</button>

                <button mat-menu-item (click)="ExportTOExcelClient(0)"><span data-feather="calendar"></span>Formato Original</button>

                <button mat-menu-item (click)="ExportTOExcelClient(1)"><span data-feather="calendar"></span>Formato Mayúscula</button>


                </mat-menu>

          </div>

    </div>
  </div>
</div>
</mat-card-content>
</mat-card>
</div>
</ng-template>
  










                    


<ng-template cdkPortal #myTemplate2="cdkPortal" >
<div style="height: 100%">
    <as-split direction="horizontal">
        
        <as-split-area size="70">
        <ng-container [cdkPortalOutlet]="_home" ></ng-container>
        </as-split-area>
        
        <as-split-area size="30">
        <div class="p-2">
        <app-vieworderdetail [orderid]="order_id"></app-vieworderdetail>
        </div>
        </as-split-area>

   </as-split>          
</div>


</ng-template>


