<meta name="Description" content="Change Password">

 <main role="main" class="container-fluid animated fadeIn Fast">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0"><h2><i class="material-icons">lock</i> {{title}}</h2></h6>
        
        <div class="media text-muted pt-3">


            <div class="container">
                <div class="row justify-content-md-center">
              
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto animated fadeIn">
                  <mat-card class="bg-light">
                  <form ngNativeValidate *ngIf="forma" [formGroup]="forma" class="col-md-12" (ngSubmit)="forgotpassword()" >
                  
                    
                      <div class="text-center mb-4">
                        <h1 class="h3 mb-3 font-weight-normal">Ingrese su email</h1>
                        <p>Ingrese su email registrado en ODIS, por seguridad <code>no comparta sus datos</code> con ningún usuario. <a href=""></a></p>
                      </div>

                      
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" minlength="10" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email" required autofocus>

                      

                        <div class="form-group row">
                          <div class="col-md-12 p-3 justify-content-md-center">
                              <ngx-recaptcha2 #captchaElem
                              [siteKey]="siteKey"
                              (reset)="handleReset()"
                              (expire)="handleExpire()"
                              (load)="handleLoad()"
                              (success)="handleSuccess($event)"
                              [useGlobalDomain]="false"
                              [size]="size"
                              [hl]="lang"
                              [theme]="theme"
                              [type]="type"
                              formControlName="recaptcha">
                            </ngx-recaptcha2>                            
                              <!---  <re-captcha formControlName="recaptchaReactive"></re-captcha> -->
                            </div>
                         </div>


                      <button class="btn btn-lg btn-primary btn-block" type="submit" [(disabled)]="forma.invalid">Reset Clave</button>                                                          
                        <small class="d-block text-center mt-3">
                          <a href="#">&copy; {{year}}</a>
                        </small>

                    </form>
                  </mat-card>
                </div>

                </div>
            </div>

          </div>
      </div>
    </main>

