<meta name="Description" content="Change Password.">

<div class="loading" *ngIf="!proyectos && identity">
    <app-loading></app-loading>  
</div>
    
<div id="wrapper" *ngIf="proyectos && identity">

    <!-- Sidebar <app-menu  (RefreshMenu) = "refreshMenu( $event )"></app-menu>-->    
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" >

        <div class="container-fluid" >               

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  border-bottom">
                <h1 class="h4">{{title}}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
              </div>
              <br>

 
 


            <div class="container">
                <div class="row justify-content-md-center">            
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto animated fadeIn">          

          <mat-card>         
          <form [formGroup] = "changeForm" (ngSubmit)="changepassword(changeForm.value)">
              <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Ingrese los siguientes datos </h1>
                <p>Por seguridad <code>no comparta sus datos</code> con ningun usuario. <a href=""></a></p>
              </div>

              <div>


              <div class="form-group row" [ngClass]="{ 'has-danger': !changeForm.controls['currentpassword'].valid } ">                
                <div class="col-12">
                <input class="form-control" type="password" name="currentpassword" formControlName="currentpassword"  placeholder="Clave actual" autofocus>
                

                <div *ngIf="changeForm.controls['currentpassword'].errors?.minlength"
                class="form-control-feedback">
                6-10 caracteres.
                </div>        

                </div>
              </div>


              <div class="form-group row">                
                <div class="container text-right">
                <small id="passwordHelpInline" class="text-muted" >
                6-10 caracteres.
                </small>
                </div>

                <div class="col-12">
                  
                <input class="form-control" type="password" name="newpassword" formControlName="newpassword" placeholder="Nueva Clave" >
                </div>   
              </div>

              <div class="form-group row">                
                <div class="col-12">
                <input class="form-control" type="password" name="password_confirmation" formControlName="password_confirmation"  placeholder="Confirme Clave">
                </div>

              </div>
            </div>
              
                
              

              <div class="checkbox mb-3">
                <label>
                  
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!changeForm.valid">Cambiar Clave</button>
            
            

              
                <small class="d-block text-center mt-3">
                  <a href="#">&copy; {{year}}</a>
                </small>

            </form>
            </mat-card>
                </div>
              </div>
            </div>


            <script>
                $('#myTab a').on('click', function (e) {
                  e.preventDefault()
                  $(this).tab('show')
                })
                </script>
                    
                </div>
            </div>
            <!-- /#page-content-wrapper -->
    </div>

