<meta name="Description" content="Change Password.">
<div class="row">
<div class="col-lg-12">
 <div class="alert alert-success" *ngIf="status == 'success'">
    Exito !! Cambio de clave exitoso.
  </div>

  <div class="alert alert-danger" *ngIf="status == 'error'" role="alert">
    Error !! Verifique: 1) Su clave actual sea correcta, 2) La nueva clave no sea la misma que la actual.
  </div>

</div>
</div>

 
 <main role="main" class="container animated fadeIn Fast">
       <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0"><h2><i class="fas fa-lock"></i> {{title}}</h2></h6>
        <div class="media text-muted pt-3">
<div class="col-lg-3">
</div>

<div class="col-lg-6 animated fadeIn">
  <mat-card>
   <form [formGroup] = "changeForm" (ngSubmit)="changepassword(changeForm.value)">        
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Ingrese los siguientes datos </h1>
        <p>Por seguridad <code>no comparta sus datos</code> con ningun usuario. <a href=""></a></p>
      </div>

      <div>


      <div class="form-group row" [ngClass]="{ 'has-danger': !changeForm.controls['currentpassword'].valid } ">                
        <div class="col-12">
        <input class="form-control" type="password" name="currentpassword" formControlName="currentpassword"  placeholder="Clave actual" autofocus>
        

        <div *ngIf="changeForm.controls['currentpassword'].errors?.minlength"
        class="form-control-feedback">
        6-10 caracteres.
        </div>        

        </div>
      </div>


      <div class="form-group row">                
        <div class="container text-right">
        <small id="passwordHelpInline" class="text-muted" >
         6-10 caracteres.
        </small>
        </div>

        <div class="col-12">
          
        <input class="form-control" type="password" name="newpassword" formControlName="newpassword" placeholder="Nueva Clave" >
        </div>   
      </div>

      <div class="form-group row">                
        <div class="col-12">
        <input class="form-control" type="password" name="password_confirmation" formControlName="password_confirmation"  placeholder="Confirme Clave">
        </div>

      </div>
    </div>
       
        
      

      <div class="checkbox mb-3">
        <label>
          
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!changeForm.valid">Cambiar Clave</button>
    
    

      
        <small class="d-block text-center mt-3">
          <a href="#">&copy; {{year}}</a>
        </small>

    </form>
    </mat-card>
</div>


<div class="col-lg-3">
</div>
          </div>
      </div>
    </main>

