<meta name="Description" content="Users">
<!--CONTENT-->
<div class="loading" *ngIf="!proyectos && identity">
<app-loading></app-loading>  
</div>

<div *ngIf="proyectos && identity">
<div>
    <div class="container-fluid">
          
        <div class="row animated fadeIn">
        <div class="col-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  border-bottom">
            <div class="w-100 ">
            <div class="d-flex">
                <div ><h1 class="h4" *ngIf="project_name">{{title}} - {{project_name}}</h1></div>
                <div >
                  <a class="nav-link pointer" href="javascript:;" (click)="load()" >
                    <i class="material-icons" matTooltip="Refrescar" [matTooltipPosition]="positionrightaction.value">sync</i>
                  </a>
                </div>
            </div>
            </div>          
        </div>
        </div>
        </div>

        <div class="container-fluid p-2">
            <div class="row animated fadeIn">
            <div class="col-12">
                  <div class="row animated fadeIn" *ngIf="isLoading">
                      <div class="col-sm-12">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      </div>
                  </div>
            
                  <div class="row animated fadeIn" *ngIf="!isLoading && status !== 'error'">
                    <div class="col-12">
                        <div class="card custom-card">
                            <div class="card-body">
          
                                <input #input [(ngModel)]="termino" (keyup)="search(termino)" type="text" class="form-control" placeholder="Buscar equipo por Nombre...">
          
                            </div>
                        </div>
                    </div>
                  </div>
          
          
                  <div class="row animated fadeIn" *ngIf="!isLoading && status == 'error'">
                      <div class="col-sm-12">
                          <div class="alert alert-danger" *ngIf="status == 'error'">
                              No se encontraron registros que coincidan con su búsqueda. 
                              <button mat-button color="primary" (click)="load()"> <mat-icon aria-label="Example icon-button with a heart icon" >sync</mat-icon> Refrescar</button>
                              <button mat-button  (click)="addTeam(id)" *ngIf="_userService.isRole(7)"><mat-icon class="material-icons md-14">people</mat-icon>Crear Equipo</button>
                          </div>
                      </div>
                  </div>


               

                  <div class="row animated fadeIn" *ngIf="!isLoading && status == 'success'">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                
                              <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-grow-1 bd-highlight"><h3 class="card-title"><mat-icon>account_circle</mat-icon> Equipos registrados ({{totalRegistros}})</h3></div>
                                    <div class="p-2 bd-highlight">
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                          <button type="button" class="btn btn-light btn-sm" (click)="addTeam(id)" *ngIf="_userService.isRole(7)"><mat-icon class="material-icons md-14">people</mat-icon>Crear Equipo</button>
                                        </div>                                      
                                    </div>
                              </div>                      
                        
                              <div style="overflow-x:auto;">
                                <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th></th>
                                          <th>Nombre</th>
                                          <th>Proyecto</th>
                                          <th>Responsable</th>
                                          <th>Estatus</th>
                                          <th>Creado El</th>
                                          <th>Creado Por</th>  
                                          <th *ngIf="_userService.isRole(7)"></th>
                                      </tr>
                                  </thead>
          
                                  <tbody>
                                      <tr *ngFor="let team of teams; let i = index">
                                        <td class="w10">
                                            <div class="circle" [style.color]="team.status? 'green' : 'red'"></div>
                                        </td>

          
                                          <td>
                                            <input type="text" name="descripcion" class="dpbvNR" required  width="50%"  [(ngModel)]="team.descripcion" >
                                          </td>

                                          <td>
                                              <div>
                                                {{ team.project_name}} 
                                              </div>
                                          </td>

                                          <td>
                                            <ng-container *ngIf="users && users.length > 0">
                                            <ng-select [items]="users"
                                            bindLabel="usuario"
                                            bindValue="id"
                                            name="owner_id"
                                            placeholder="Responsable"
                                            appendTo="body"
                                            [(ngModel)]="team.owner_id">
                                            </ng-select>
                                            </ng-container>              
                                          </td>
            
          
                                          <td>
                                            <select [(ngModel)]="team.status" name="status" class="form-control">
                                                    <option value="1">Activo</option>
                                                    <option value="0">Inactivo</option>
                                            </select>                            
                                          </td>
          
          
                                          <td>
                                            {{ team.create_at }}
                                          </td>
          
                                          <td>
                                            {{ team.user }}
                                          </td>
          
                                          <td *ngIf="_userService.isRole(7)">
          
          
          
                                            <button mat-icon-button color="primary"  matTooltip="Actualizar Equipo." [matTooltipPosition]="positionheaderaction.value" *ngIf="_userService.isRole(7)" (click)="save(team, i)" >
                                            <mat-icon aria-label="Edit" *ngIf="i != indexitem" >done</mat-icon>      
                                            <app-progress-spinner *ngIf="isLoadingSave && i == indexitem"></app-progress-spinner>
                                            </button>
                    
          
                                            <button mat-icon-button color="warn"  matTooltip="Eliminar Equipo." [matTooltipPosition]="positionheaderaction.value" *ngIf="_userService.isRole(7)" (click)="delete(team, i)">
                                            <mat-icon aria-label="Edit" *ngIf="i != indexitemdelete" >delete</mat-icon>                             
                                            <app-progress-spinner *ngIf="isLoadingDelete && i == indexitemdelete"></app-progress-spinner>
                                            </button>


                                            <button mat-icon-button [matMenuTriggerFor]="menuviewselectorder" matTooltip="Acciones (Presiona para acceder a las acciones del equipo)." [matTooltipPosition]="positionheaderaction.value" *ngIf="_userService.isRole(7)">
                                              <mat-icon aria-label="launch">more_horiz</mat-icon>
                                            </button>
                                          
                                            <mat-menu #menuviewselectorder="matMenu" [overlapTrigger]="false">
                                              <button mat-menu-item (click)="add(team)" >
                                                <span >Agregar Miembros</span>
                                              </button>
                                              <button mat-menu-item (click)="edit(team)">
                                                <span >Editar Miembros</span>
                                              </button>                                  
                                            </mat-menu>                                        

          
          
          
                                          </td>
                                      </tr>
          
                                  </tbody>
          
                              </table>
          
                              </div>
          
                              <div class="button-row">
                              <button (click)="paginate(-10, -1)" class="btn btn-secondary">
                                Anterior
                              </button>
                              <button (click)="paginate(10, 1)" class="btn btn-secondary">
                                  Siguiente
                              </button>
                              </div>
          
          
          
                            </div>
                        </div>
                    </div>
                  </div>
                    
  
                  
                  
            </div>
            </div>
        </div>

    </div>
</div>

</div>
