<div class="p-2">
  <mat-card [ngStyle]="{'padding':'0px'}">
    <mat-card-header [ngClass]="{'custom-card':true}">
      <mat-card-title>Modulo de Carga</mat-card-title>
      <mat-card-subtitle>Siga los pasos 1, 2 y 3 que aparecen en la pantalla</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="height: 100vh">

<div class="mat-app-background basic-container" >
  <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="firtsFormGroup">
          <form [formGroup]="firtsFormGroup">
            <ng-template matStepLabel>Validación</ng-template>
            <div class="excel-selector">
                <button mat-mini-fab color="accent" (click)="fileInput.click()">
                    <mat-icon>attachment</mat-icon>
                    <input hidden type="file" #fileInput class="none" (change)="incomingfile($event)" (click)="$event.target.value = null" accept=".xlsx" required formControlName="inputCtrl" >                  
                </button>
                <mat-form-field class="marginLeft">
                    <input matInput placeholder="Seleccione archivo" value="{{nombreFile}}"  (click)="fileInput.click()">
                </mat-form-field>
                <button  class="btnUpload" mat-raised-button (click)="Upload()" [disabled]="true"  *ngIf="!bandera">Validar</button>
                <button  class="btnUpload" mat-raised-button (click)="Upload()" *ngIf="bandera">Validar</button>


                <mat-form-field *ngIf="dateend !== undefined && (!checkboxRegistro && !checkboxUpdateVIN && !checkboxPicking)" class="marginLeftX2" >
                    <input matInput placeholder="Fecha vencimiento" formControlName="inputDate" (readonly)="true">
                </mat-form-field>
                
                <mat-slide-toggle class="btnUpload" (change)="checkPicking($event)" [disabled]="liberar || checkboxRegistro ||checkboxUpdateVIN || checkboxAuto">
                  Generar picking
                </mat-slide-toggle>
                <mat-slide-toggle class="btnUpload" (change)="checkRegistro($event)"  [disabled]="liberar || checkboxUpdateVIN || checkboxPicking || checkboxAuto">
                  Registrar vehículos
                </mat-slide-toggle>
                <mat-slide-toggle class="marginLeftX2" (change)="checkUpdateVIN($event)" [disabled]="liberar || checkboxPicking || checkboxRegistro || checkboxAuto">
                  Actualizar vehículos
                </mat-slide-toggle>
                <mat-slide-toggle class="marginLeftX2" (change)="checkAutoGenerar($event)" [disabled]="checkboxUpdateVIN || checkboxPicking || checkboxRegistro">
                  Generar N°Orden
                </mat-slide-toggle>
                <mat-slide-toggle class="marginLeftX2" (change)="checkLiberar($event)" [disabled]="checkboxUpdateVIN || checkboxPicking || checkboxRegistro">
                  Liberar ubicaciones
                </mat-slide-toggle>



                <a mat-mini-fab target="_self" class="marginLeftX2" color="primary" href="../../assets/ModuloCargaVIN.xlsx" download="ModuloCarga.xlsx">
                  <mat-icon>archive</mat-icon>
                </a><label class=" marginLeft">Modulo de Carga</label>
                <a mat-mini-fab target="_self" class="marginLeftX2" color="primary" href="../../assets/ModuloPicking.xlsx" download="Picking.xlsx">
                  <mat-icon>archive</mat-icon>
                </a><label class=" marginLeft">Picking</label>


            </div>

            <div class="example-container mat-elevation-z8" *ngIf="show_table && !checkboxPicking">
                  
                <mat-form-field appearance="legacy" class="mat-form-field-custom">
                    <mat-label>Buscar</mat-label>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                  
                <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="rate-limit-reached" *ngIf="isRateLimitReached">
                </div>
                <div class="table-container">
                  <table mat-table #table [dataSource]="dataSource">
                    <!-- Position Column -->
                    <ng-container matColumnDef="cc_number" >
                      <th mat-header-cell *matHeaderCellDef> VIN  </th>
                      <td mat-cell *matCellDef="let element"> {{element.cc_number}} </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="marca">
                      <th mat-header-cell *matHeaderCellDef> Marca </th>
                      <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="descripcion">
                      <th mat-header-cell *matHeaderCellDef> Modelo </th>
                      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="color">
                      <th mat-header-cell *matHeaderCellDef> Color </th>
                      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
                    </ng-container>
        
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="patio">
                        <th mat-header-cell *matHeaderCellDef> Patio </th>
                        <td mat-cell *matCellDef="let element"> {{element.patio}} </td>
                    </ng-container>
        
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="espiga">
                        <th mat-header-cell *matHeaderCellDef> Espiga </th>
                        <td mat-cell *matCellDef="let element"> {{element.espiga}} </td>
                    </ng-container>
        
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="posicion">
                        <th mat-header-cell *matHeaderCellDef> Posición </th>
                        <td mat-cell *matCellDef="let element"> {{element.posicion}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="observacion">
                      <th mat-header-cell *matHeaderCellDef> Observación </th>
                      <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
                  </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="order_number">
                      <th mat-header-cell *matHeaderCellDef> N°Orden </th>
                      <td mat-cell *matCellDef="let element"> {{element.order_number}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="tipo_servicio">
                      <th mat-header-cell *matHeaderCellDef> Tipo servicio </th>
                      <td mat-cell *matCellDef="let element"> {{element.tipo_servicio}} </td>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="asignado_a">
                      <th mat-header-cell *matHeaderCellDef> Asignado</th>
                      <td mat-cell *matCellDef="let element"> {{element.asignado_a}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="required_date">
                        <th mat-header-cell *matHeaderCellDef> Fecha requerida </th>
                        <td mat-cell *matCellDef="let element"> {{element.required_date}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="observation">
                        <th mat-header-cell *matHeaderCellDef> Observación de orden </th>
                        <td mat-cell *matCellDef="let element"> {{element.observation}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="estatus" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef> Estatus </th>
                        <td mat-cell *matCellDef="let element" [style.color]="element.label"> {{element.estatus}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                
            </div>
            <div class="example-container mat-elevation-z8" *ngIf="show_table && checkboxPicking">

              <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              </div>
              <div class="rate-limit-reached" *ngIf="isRateLimitReached">
              </div>
              <div class="table-container">
                <table mat-table #table [dataSource]="dataSourcePicking">

                  <ng-container matColumnDef="ubicacion_OCA">
                    <th mat-header-cell *matHeaderCellDef> Ubicación OCA </th>
                    <td mat-cell *matCellDef="let element"> {{element.ubicacion_OCA}} </td>
                </ng-container>
    
                <!-- Symbol Column -->
                <ng-container matColumnDef="ubicacion_SAP">
                    <th mat-header-cell *matHeaderCellDef> Ubicación SAP </th>
                    <td mat-cell *matCellDef="let element"> {{element.ubicacion_SAP}} </td>
                </ng-container>

                  <!-- Position Column -->
                  <ng-container matColumnDef="cc_number" >
                    <th mat-header-cell *matHeaderCellDef> VIN  </th>
                    <td mat-cell *matCellDef="let element"> {{element.cc_number}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="marca">
                    <th mat-header-cell *matHeaderCellDef> Marca </th>
                    <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Modelo </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef> Color </th>
                    <td mat-cell *matCellDef="let element"> {{element.color}} </td>
                  </ng-container>
      

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="estatus" stickyEnd>
                      <th mat-header-cell *matHeaderCellDef> Estatus </th>
                      <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsPicking"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsPicking;"></tr>
                </table>
              </div>
            
              <mat-paginator #paginatorPicking [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              
            </div>
      
            <div>
              <table>
                <tr>
                  <th *ngIf="countError>0">
                      <mat-card >
                          <span class="colorError">Registros invalidos {{countError}}</span> 
                          <button mat-raised-button class="checkbox-margin" (click)="downloadErrorExcel()">Descargar Excel</button>
                      </mat-card>
                  </th>
                  <th *ngIf="countSuccess>0">
                      <mat-card >
                          Registros validados {{countSuccess}}  
                          <mat-checkbox class="checkbox-margin" (change)="checkConfirmacion($event)" md-colors="{background: 'indigo'}" formControlName="confirmarCtrl"  required> Confirmar</mat-checkbox>
                          <button mat-raised-button matStepperNext (click)="fulltable()">Continuar</button>
                      </mat-card>
                  </th>
                  <th *ngIf="arrayExcelPicking && arrayExcelPicking.length > 0">
                    <mat-card >
                        <span>Registros validados {{arrayExcelPicking.length}}</span> 
                        <button mat-raised-button class="checkbox-margin" (click)="downloadPickingExcel()">Descargar Excel</button>
                    </mat-card>
                  </th>
                </tr>
              </table>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Vehículos</ng-template>
          <div class="example-container mat-elevation-z8" *ngIf="show_table">
              <mat-form-field appearance="legacy" class="mat-form-field-custom">
                  <mat-label>Buscar</mat-label>
                  <input matInput (keyup)="applyFilterCli($event.target.value)" placeholder="Buscar">
                  <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              </div>
              <div class="rate-limit-reached" *ngIf="isRateLimitReached">
              </div>
              <div class="table-container">
                <table mat-table #table [dataSource]="dataSourceClientes">
                  
                  <ng-container matColumnDef="cc_number" >
                    <th mat-header-cell *matHeaderCellDef> VIN  </th>
                    <td mat-cell *matCellDef="let element"> {{element.cc_number}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="marca">
                    <th mat-header-cell *matHeaderCellDef> Marca </th>
                    <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Modelo </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef> Color </th>
                    <td mat-cell *matCellDef="let element"> {{element.color}} </td>
                  </ng-container>
      
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="patio">
                      <th mat-header-cell *matHeaderCellDef> Patio </th>
                      <td mat-cell *matCellDef="let element"> {{element.patio}} </td>
                  </ng-container>
      
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="espiga">
                      <th mat-header-cell *matHeaderCellDef> Espiga </th>
                      <td mat-cell *matCellDef="let element"> {{element.espiga}} </td>
                  </ng-container>
      
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="posicion">
                      <th mat-header-cell *matHeaderCellDef> Posición </th>
                      <td mat-cell *matCellDef="let element"> {{element.posicion}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="observacion">
                    <th mat-header-cell *matHeaderCellDef> Observación </th>
                    <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
                </ng-container>

                  <!-- Position Column -->
                  <ng-container matColumnDef="order_number">
                    <th mat-header-cell *matHeaderCellDef> N°Orden </th>
                    <td mat-cell *matCellDef="let element"> {{element.order_number}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="tipo_servicio">
                    <th mat-header-cell *matHeaderCellDef> Tipo servicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo_servicio}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="asignado_a">
                    <th mat-header-cell *matHeaderCellDef> Asignado</th>
                    <td mat-cell *matCellDef="let element"> {{element.asignado_a}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="required_date">
                      <th mat-header-cell *matHeaderCellDef> Fecha requerida </th>
                      <td mat-cell *matCellDef="let element"> {{element.required_date}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="observation">
                      <th mat-header-cell *matHeaderCellDef> Observación de orden </th>
                      <td mat-cell *matCellDef="let element"> {{element.observation}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="estatus" stickyEnd>
                      <th mat-header-cell *matHeaderCellDef> Estatus </th>
                      <td mat-cell *matCellDef="let element" [style.color]="element.label"> {{element.estatus}} </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            
              <mat-paginator #paginatorClientes [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          <div>
              <table width="100%">
                <tbody>
                  <tr>
                    <td width="30%">
                      <button mat-button matStepperPrevious>Atrás</button><!--stepper.reset()-->
                    </td>
                    <td width="70%" style="position: relative;">
                      <div style="position: absolute; right: 0px; top: 0px;">
                        <button mat-raised-button color="warn" (click)="resetAll();stepper.reset()">Reset</button>
                        <button mat-raised-button color="warn" class="marginLeft" (click)="openDialog()" [disabled]="!checkPost || (checkboxUpdateVIN && this.countSuccessPost == 0) || this.countSuccessPost == 0" *ngIf="this.arrayExcelSuccess.length != this.countExiste">Rollback Vehículos</button>
                        <button mat-raised-button color="primary"  class="marginLeft" [disabled]="checkPost" (click)="uploadExcelPost()" *ngIf="this.arrayExcelSuccess.length != this.countExiste && !checkboxUpdateVIN">Registrar Vehículos</button>
                        <button mat-raised-button color="primary"  class="marginLeft" [disabled]="checkPost" (click)="uploadExcelPost()" *ngIf="this.arrayExcelSuccess.length != this.countExiste && checkboxUpdateVIN">Actualizar Vehículos</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <div>  
          <table>
              <tr>
                <th *ngIf="countErrorPost>0">
                    <mat-card>
                        <span class="colorError">Vehículos no {{msj}} {{countErrorPost}}</span> 
                        <button mat-raised-button class="checkbox-margin" (click)="downloadPostErrorExcel()">Descargar Excel</button>
                    </mat-card>
                </th>
                <th *ngIf="(countJokerPost + countSuccessPost)>0 && !checkboxUpdateVIN">
                    <mat-card>
                        Vehículos {{msj}} {{countSuccessPost}}  
                        <mat-checkbox class="checkbox-margin" (change)="checkConfirmacion($event)" *ngIf="!checkboxRegistro" md-colors="{background: 'indigo'}" formControlName="confirmarCli" required>Confirmar</mat-checkbox>
                        <button mat-raised-button matStepperNext (click)="fulltableOrdenes();" *ngIf="!checkboxRegistro" >Continuar</button>
                    </mat-card>
                </th>
                <th *ngIf="(countJokerPost + countSuccessPost + countErrorPost) > 0">
                  <mat-card>
                      Carga procesada {{countJokerPost + countSuccessPost + countErrorPost}} 
                  </mat-card>
              </th>
              </tr>
          </table>
        </div>
      </form>
    </mat-step>
    <mat-step>
        <form>
        <ng-template matStepLabel>Ordenes</ng-template>
        <div class="example-container mat-elevation-z8" *ngIf="show_table">
            <mat-form-field appearance="legacy" class="mat-form-field-custom">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilterOrdenes($event.target.value)" placeholder="Buscar">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <div class="rate-limit-reached" *ngIf="isRateLimitReached">
            </div>
            <div class="table-container">
              <table mat-table #table [dataSource]="dataSourceOrdenes">
                
                <ng-container matColumnDef="cc_number" >
                  <th mat-header-cell *matHeaderCellDef> VIN  </th>
                  <td mat-cell *matCellDef="let element"> {{element.cc_number}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="marca">
                  <th mat-header-cell *matHeaderCellDef> Marca </th>
                  <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="descripcion">
                  <th mat-header-cell *matHeaderCellDef> Modelo </th>
                  <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="color">
                  <th mat-header-cell *matHeaderCellDef> Color </th>
                  <td mat-cell *matCellDef="let element"> {{element.color}} </td>
                </ng-container>
    
                <!-- Symbol Column -->
                <ng-container matColumnDef="patio">
                    <th mat-header-cell *matHeaderCellDef> Patio </th>
                    <td mat-cell *matCellDef="let element"> {{element.patio}} </td>
                </ng-container>
    
                <!-- Symbol Column -->
                <ng-container matColumnDef="espiga">
                    <th mat-header-cell *matHeaderCellDef> Espiga </th>
                    <td mat-cell *matCellDef="let element"> {{element.espiga}} </td>
                </ng-container>
    
                <!-- Symbol Column -->
                <ng-container matColumnDef="posicion">
                    <th mat-header-cell *matHeaderCellDef> Posición </th>
                    <td mat-cell *matCellDef="let element"> {{element.posicion}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="observacion">
                  <th mat-header-cell *matHeaderCellDef> Observación </th>
                  <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
              </ng-container>
              
                <!-- Position Column -->
                <ng-container matColumnDef="order_number">
                  <th mat-header-cell *matHeaderCellDef> N°Orden </th>
                  <td mat-cell *matCellDef="let element"> {{element.order_number}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="tipo_servicio">
                  <th mat-header-cell *matHeaderCellDef> Tipo servicio </th>
                  <td mat-cell *matCellDef="let element"> {{element.tipo_servicio}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="asignado_a">
                  <th mat-header-cell *matHeaderCellDef> Asignado</th>
                  <td mat-cell *matCellDef="let element"> {{element.asignado_a}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="required_date">
                    <th mat-header-cell *matHeaderCellDef> Fecha requerida </th>
                    <td mat-cell *matCellDef="let element"> {{element.required_date}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="observation">
                    <th mat-header-cell *matHeaderCellDef> Observación de orden </th>
                    <td mat-cell *matCellDef="let element"> {{element.observation}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="estatus" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef> Estatus </th>
                    <td mat-cell *matCellDef="let element" [style.color]="element.label"> {{element.estatus}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          
            <mat-paginator #paginatorOrdenes [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
        <div>
            <table width="100%">
              <tbody>
                <tr>
                  <td width="30%">
                    <button mat-button matStepperPrevious>Atrás</button>
                  </td>
                  <td width="70%" style="position: relative;">
                        <div style="position: absolute; right: 0px; top: 0px;">
                        <button mat-raised-button color="warn" (click)="resetAll();stepper.reset()">Reset</button>
                        <button mat-raised-button color="warn" class="marginLeft" (click)="openDialogRollbackOrdenes()" [disabled]="!checkOrdenes || arrayExcelSuccess.length == countErrorOrdenes" >Rollback Ordenes</button>
                        <button mat-raised-button color="primary" [disabled]="checkOrdenes" class="marginLeft" (click)="uploadExcelPostOrdenes()">Registrar ordenes</button>
                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <div>  
        <table>
            <tr>
              <th *ngIf="countErrorOrdenes>0">
                  <mat-card>
                      <span class="colorError">Ordenes no {{msj_ordenes}} {{countErrorOrdenes}}</span> 
                      <button mat-raised-button class="checkbox-margin" (click)="downloadPostErrorExcel()">Descargar Excel</button>
                  </mat-card>
              </th>
              <th *ngIf="countSuccessOrdenes>0">
                  <mat-card>
                      Ordenes {{msj_ordenes}} con exito! {{countSuccessOrdenes}}  
                  </mat-card>
              </th>
            </tr>
        </table>
      </div>
    </form>
  </mat-step>
  </mat-horizontal-stepper>
</div>

</mat-card-content>
</mat-card>
</div>