<mat-toolbar color="primary">
  <h3 *ngIf="(infocaso$ | async) as infocaso" >Caso N°{{ infocaso.ncase }}</h3> 
  <span class="mat-spacer"></span>
  <button mat-icon-button (click)="onNoClick()" tabindex="-1">
    <mat-icon class="mat-icon">close</mat-icon>       
  </button>
</mat-toolbar>
<p></p>

<div *ngIf="isLoading">
<app-loading *ngIf="isLoading"></app-loading>  
</div>
<!--*ngIf="!isLoading"-->  
<div class="app animated fadeIn row" *ngIf="(infocaso$| async) as infocaso">
  <div class="col-8">
    <div class="example-full-width" style="text-align:right;">
      <!--{{infocaso.depto_id.name}} / {{infocaso.category_id.name}} / {{infocaso.typeselect.name}}-->
        <span><strong>{{infocaso.depto_desc}} / {{infocaso.category_desc}} / {{infocaso.type_desc}}</strong></span>
    </div>
      
    <h3>{{infocaso.asunto}}</h3>
     
    <div class="row float-right row-custom"> <!--float-right-->
      <!--
      <button mat-icon-button color="primary" matTooltip="Adjuntar archivo">
          <mat-icon>attachment</mat-icon>   
      </button>-->
      
      <div *ngFor="let documentos of documentos$ | async">

          <a mat-icon-button href="{{documentos.url}}" target="_blank" matTooltip="{{documentos.nombre}}" color="accent" *ngIf="documentos.type == 'image/png' || documentos.type == 'image/jpg'">
              <mat-icon aria-label="launch">image</mat-icon>
          </a> 

          <a mat-icon-button href="{{documentos.url}}" target="_blank" matTooltip="{{documentos.nombre}}" color="accent"*ngIf="documentos.type == 'video/mp4'">
            <mat-icon aria-label="launch">movie</mat-icon>
          </a> 

          <a mat-icon-button href="{{documentos.url}}" target="_blank" matTooltip="{{documentos.nombre}}" color="accent"*ngIf="documentos.type == 'application/x-zip-compressed' || documentos.type == 'application/x-rar-compressed'">
            <mat-icon aria-label="launch">work</mat-icon>
          </a> 

          <a mat-icon-button href="{{documentos.url}}" target="_blank" matTooltip="{{documentos.nombre}}" color="accent" *ngIf="documentos.type == 'application/pdf' || documentos.type == 'application/msword' || documentos.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' || documentos.type == 'application/vnd.ms-excel' || documentos.type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
            <mat-icon aria-label="launch">insert_drive_file</mat-icon>
          </a>

      </div>
    </div>
    
    <h2 class="sc-mWPeY jeEmY">Descripción</h2>
    <p>{{infocaso.description}}</p>

    <form class="mat-dialog-content" (keydown.tab)="$event.stopPropagation()" [formGroup]="formComentar">

        <mat-form-field appearance="outline" class="example-full-width mat-status">
          <textarea matInput placeholder="Añadir un comentario..." name="comentario" formControlName="comentario"   class="form-control" required></textarea>
        </mat-form-field>

        <button mat-icon-button color="primary" matTooltip="Adjuntar archivo" (click)="fileInput.click()" style="margin-bottom: 4px;">
          <mat-icon>attachment</mat-icon>
          <input hidden type="file" #fileInput class="none" appNgDropFiles [archivos]="archivos"  (change)="selectFiles($event)"  (click)="$event.target.value = null; archivos = []"  multiple >              
          <span style="margin-top: 5px;" *ngIf="archivos" ><strong> Archivos selecionado {{archivos.length}} de 3, Max. 3 </strong></span>
        </button>
        
        <div *ngIf="archivos" >
          <mat-chip-list>
            <mat-chip *ngFor="let forFile of archivos; let i = index;" 
              color="primary"
              [selectable]="selectable"
              [removable]="true"
              (removed)="removeFile(i)">
              <span>{{ forFile.archivo.name }}</span>
              <span *ngIf="forFile.progreso &&  forFile.progreso > 0" style="margin-left: 6px; margin-right: 6px;"><strong>{{forFile.progreso}}%</strong></span>
              <mat-icon matChipRemove *ngIf="!forFile.progreso">cancel</mat-icon>
              <mat-icon *ngIf="forFile.progreso &&  (forFile.progreso > 0 && 100 > forFile.progreso)">cloud_upload</mat-icon>
              <mat-icon matChipRemove *ngIf="forFile.progreso && forFile.progreso == 100">cancel</mat-icon>
            
              <div class="progress container-fluid">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': forFile.progreso + '%' }"></div>
              </div>
            </mat-chip>
          </mat-chip-list>
        </div>
        
        <br>

        <div class="row row-custom">
            
            <button mat-raised-button color="primary" class="margin-left" [disabled]="formComentar.invalid" (click)="addComentario()">
                Guardar           
            </button>

            <!--
            <button mat-raised-button color="warn"> 
                cancelar           
            </button>-->
            
        </div>

    </form>
    <br>

    <cdk-virtual-scroll-viewport itemSize="60" class="list-container list-group" *ngIf="comentarios$ !== null"><!--style="height: 250px; overflow: auto;" -->
      <div *cdkVirtualFor="let comentarios of comentarios$ | async">
        <!--{{comentarios | json}}-->
        
        <div class="sc-cUDvuO fOqogj">
          <div class="sc-jQGbeF SZsdL">
            <div style="display: inline-block; position: relative; outline: 0px; height: 22px; width: 22px;">
              <span class="styledCache__StyledSpan-zohhd2-3 cwXEzS">
                  <span role="img" style="background-color: transparent; background-image: url(&quot;https://avatar-cdn.atlassian.com/64dc6928b9d27242b695fc9f0cdb9a3d?s=48&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F64dc6928b9d27242b695fc9f0cdb9a3d%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 50%; display: flex; flex: 1 1 100%; height: 100%; width: 100%;"></span>
              </span>
            </div>
          </div>
          <div class="sc-gwVKww fLcKLS">  
              <span class="sc-fdcRnX jmTFIN">{{comentarios.usercomment.name}} {{comentarios.usercomment.surname}}</span>
              ha comentado hace
              <span class="sc-fdcRnX jmTFIN">{{comentarios.create_at | countTime}}</span>
          </div>
        </div>
        <div class="sc-cUDvuO fOqogj" style="padding-left: 30px">
        → {{comentarios.comentario}}
        </div>

        <div class="sc-cUDvuO fOqogj" style="padding-left: 30px">
          <div class="row float-right row-custom" *ngIf="comentarios.adjuntos">
            
            <div *ngFor="let adjuntos of comentarios.adjuntos">
      
                <a mat-icon-button href="{{adjuntos.url}}" target="_blank" matTooltip="{{adjuntos.nombre}}" color="accent" *ngIf="adjuntos.type == 'image/png' || adjuntos.type == 'image/jpg'">
                    <mat-icon aria-label="launch">image</mat-icon>
                </a>
      
                <a mat-icon-button href="{{adjuntos.url}}" target="_blank" matTooltip="{{adjuntos.nombre}}" color="accent"*ngIf="adjuntos.type == 'application/x-zip-compressed' || adjuntos.type == 'application/x-rar-compressed'">
                  <mat-icon aria-label="launch">work</mat-icon>
                </a> 
      
                <a mat-icon-button href="{{adjuntos.url}}" target="_blank" matTooltip="{{adjuntos.nombre}}" color="accent" *ngIf="adjuntos.type == 'application/pdf' || adjuntos.type == 'application/msword' || adjuntos.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' || adjuntos.type == 'application/vnd.ms-excel' || adjuntos.type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                  <mat-icon aria-label="launch">insert_drive_file</mat-icon>
                </a>
      
            </div>
            
          </div>
        </div>

        <hr width="96%"  noshade="noshade" size="4px" style="color: #303f9f;"/>
        
      </div>
    </cdk-virtual-scroll-viewport>

  </div>

  <div class="col-4">

      <h2 class="jeEmY">Estatus</h2>

      <ng-select  (change)="ngChangeEstatus($event)"
                  [items]="infocaso.supportstatus"
                  bindLabel="name"
                  bindValue="_iddoc"
                  [(ngModel)]="infocaso.status_id">
      </ng-select>
      <h2 class="jeEmY">Responsable</h2>

      <div class="sc-cUDvuO fOqogj">
        <div class="sc-jQGbeF SZsdL">
          <div style="display: inline-block; position: relative; outline: 0px; height: 28px; width: 28px;">
            <span class="styledCache__StyledSpan-zohhd2-3 cwXEzS">
              <span role="img" style="background-color: transparent; background-image: url(&quot;https://avatar-cdn.atlassian.com/64dc6928b9d27242b695fc9f0cdb9a3d?s=48&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F64dc6928b9d27242b695fc9f0cdb9a3d%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 50%; display: flex; flex: 1 1 100%; height: 100%; width: 100%;"></span>
            </span>
          </div>
        </div>
        <div class="sc-gwVKww fLcKLS">  {{infocaso.create_to.name}} {{infocaso.create_to.surname}}
        </div>
      </div>

      <h2 class="jeEmY">Etiquetados</h2>
      <ng-select name="destinatario"
                [items]="users$ | async"
                [multiple]="true"
                [clearable]="false" 
                [closeOnSelect]="true"
                [loading]="userLoading"
                [typeahead]="userinput"
                [virtualScroll]="true"
                bindLabel="email"
                [(ngModel)]="infocaso.etiquetados"
                (ngModelChange)="etiquetadosChanged($event)"
                class="example-full-width">
            </ng-select>
            <!--
            <div class="row float-right row-custom" style="margin-top: 4px;" *ngIf="countEtiq">
                <button mat-stroked-button color="warn"><mat-icon>close</mat-icon></button>
                <button mat-stroked-button color="primary" (click)="saveEtiquetados();"><mat-icon>check</mat-icon></button>
            </div>
            -->
            <br>
      <span class="smallfont">Fecha de creación {{infocaso.create_at}}</span>
      <!--{{infocaso.to | json}}-->
  </div>
 
</div>




