    
						<div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                  <strong class="d-inline-block mb-2 text-danger">Pendiente</strong>
                  <div class="my-3 p-1 bg-white rounded shadow-sm">
                    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
                    <div class="media text-muted pt-3" *ngFor="let workshop of NewWorkShopData | search:terms">
                      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect fill="#FF0000" width="100%" height="100%"/><text fill="#FF0000" dy=".3em" x="50%" y="50%">32x32</text></svg>
                      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@{{workshop.name}}</strong>
                        {{workshop.venue}} {{workshop.address}}											
                      </p>
                      <div [innerHTML]="workshop.address | highlight: terms"></div>
                    </div>
                    <small class="d-block text-right mt-3">
                      <a href="#">All updates</a>
                    </small>
                    </div>
                </div>
                </div>
              </div>
    
    <span (click)="enableSpan(row)">more</span>

    <ul>
        <li *ngFor="let model of models; let i = index" 
            [class.visible]="model.visible"
            (click)="toggleVisibility(i)">
            {{model.name}}
        </li>
    </ul>
            <span *ngIf="row.expand">ta Listo. {{orderid}}</span>
              
<button (click)="toggle()" id="bt">
    {{buttonName}}
</button>
<ng-container *ngIf="show">
    <div style="margin: 0 auto;text-align: left;">
        <div>
            <label>Name:</label>
            <div><input id="tbname" name="yourname" /></div>
        </div>
        <div>
            <label>Email Address:</label>
            <div><input name="email" id="email" /></div></div>
        <div>
            <label>Additional Information (optional):</label>
            <div><textarea rows="5" cols="46"></textarea></div>
        </div>
    </div>
</ng-container>

 toggle() {
    this.show = !this.show;

    // CHANGE THE NAME OF THE BUTTON.
    if(this.show)  
      this.buttonName = "Hide";
    else
      this.buttonName = "Show";
  } 


<<---------->>>>>>>>>

<div class="alert alert-danger " *ngIf="status == 'error' " role="alert">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{error}}  
</div>


                <button class="btn btn-warning" (click)="direction = (direction === 'horizontal') ? 'vertical' : 'horizontal'">{{ 'Toggle direction: "' + direction + '"' }}</button>    


<div class="container">
<div class="row justify-content-md-center">

  <div class="col">
  <div *ngIf="mostrar" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{cardfrases.Titulo}}</h5>    
      <h6 class="card-subtitle mb-2 text-muted">{{cardfrases.Subtitulo}}</h6>
      <p class="card-text">{{ cardfrases.Mensaje }}</p>
      <hr>
      <a href="#" class="card-link">{{cardfrases.Link}}</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <button (click)=" mostrar = !mostrar" type="button" class="btn btn-primary btn-sm">Mostrar</button>
  </div>

  <div class="col">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>    
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <hr>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  </div>

  <div class="col">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>    
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <hr>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>  
  </div>

</div>
</div>





            <div class="container-fluid">               
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  border-bottom">
                <h1 class="h4">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                  </div>
                  <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                  </button>
                </div>
              </div>


<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>description</mat-icon> Ordenes      
    </ng-template>
    

  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>thumb_down</mat-icon> The worst sushi
    </ng-template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>

                  (page)="onPaginateChange($event)"

     <button mat-button color="primary" [type]="submit" (click)="downloadPDF('content')" mat-raised-button color="primary" class="btnpdf">PDF</button>

          
        <table id="t09" width="100%"  >
          <tr *ngFor="let item of listimageorder; let isEven = even;let i = index;let isLast= last">
            <td width="50%" align="center" *ngIf="isEven ">
                    <img src="data:image/jpg;base64,{{listimageorder[i].archivo}}" style=" width: 300px; height: 200px; border-radius: 2px; padding: 4px; border: 1px solid #ddd; text-align: center; vertical-align: middle;" alt="5 Terre">
                    <p align="center">Imágen {{i}}</p>
            </td>

            <td width="50%" *ngIf="isEven && !isLast">
                    <img src="data:image/jpg;base64,{{listimageorder[i+1].archivo}}" style=" width: 300px; height: 200px; border-radius: 2px; padding: 4px; border: 1px solid #ddd; text-align: center; vertical-align: middle;" alt="5 Terre" >
                    <p align="center">Imágen {{i+1}}</p>
            </td>
          </tr>
        </table>



        

  <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li *ngFor="let proyecto of proyectos">                                        
                {{proyecto.project_name}}
                      <div  *ngFor="let service of proyecto.service">
                        <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link" [routerLink]="['/serviceorder', service.id]" >                  
                            <i class="fas fa-database"></i>  {{service.service_name}} 
                            </a>
                        </div>
                      </div>                      
                            <a class="nav-link" [routerLink]="['/settings']" *ngIf="_userService.isRole(5)">
                            <i class="fas fa-cog" style="color:blue"></i>  Destacados
                            </a>


                <mat-divider></mat-divider>
                </li>

            </ul>

        </div>

<div id="sidebar-wrapper">

            <ul class="sidebar-nav">
              <div class="card-body" style="background: #B5C1CC">
                <h4 class="card-title">Proyectos</h4>
              </div>

                <mat-divider></mat-divider>
                <li *ngFor="let proyecto of proyectos">                                        
                {{proyecto.project_name}}
                      <div  *ngFor="let service of proyecto.service">
                        <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link" [routerLink]="['/serviceorder', service.id]" >                  
                            <i class="fas fa-database"></i>  {{service.service_name}} 
                            </a>
                        </div>
                      </div>                      
                            <a class="nav-link" [routerLink]="['/settings']" *ngIf="_userService.isRole(5)">
                            <i class="fas fa-cog" style="color:blue"></i>  Configuración
                            </a>

                            <a class="nav-link" [routerLink]="['/settings']" *ngIf="_userService.isRole(5)">
                            <i class="fas fa-star" ></i>  Destacados
                            </a>

                <mat-divider></mat-divider>
                </li>

            </ul>

        </div>

<mat-nav-list>
  <mat-list-item *ngFor="let proyecto of proyectos">
     <a matLine href="...">{{proyecto.project_name}}</a>
     <button mat-icon-button (click)="showInfo(link)">
        <mat-icon>info</mat-icon>
     </button>

  <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>


setClickedRow : Function;

    this.setClickedRow = function(category_id:number, orden:number, label:number, index){
      this.row = index;
      this.selectedRow = orden;
      this.label = label;
      this.category_id = category_id;
      console.log(this.label);
      console.log(this.row);   

      if(this.label == 1){
        this.label = 0;
        this.newColor = false;
        this.selection.select(orden);
        this.dataService.important(this.token.token, this.category_id, this.selectedRow, this.label);       
      }else{
        if(this.label == 0){       
          this.label = 1;
          this.newColor = true;
          this.selection.select(orden);
          this.dataService.important(this.token.token, this.category_id, this.selectedRow, this.label);
        }
      }      
    }


  <button class="button" [ngClass]="{'active': isActive}" id="{{order.order_id}}" (click)="toggleColor(order.important, order.order_id)" mat-fab >Primary</button>


   <button  (click)="setClickedRow(category_id, order.order_id, order.important, i)"  mat-button mat-icon-button >
   <mat-icon *ngIf="order.important==0" class="material-icons md-dark md-inactive">label_important</mat-icon>
   <mat-icon *ngIf="order.important==1" class="material-icons md-24">label_important</mat-icon>   
  </button>


<mat-checkbox [checked]="Validate(order.important)" ></mat-checkbox>

  <button (click)="setClickedRow(category_id, order.order_id, order.important, i)"  mat-button mat-icon-button >
   <mat-icon *ngIf="order.important==0" class="material-icons md-dark md-inactive">label_important</mat-icon>
   <mat-icon *ngIf="order.important==1" class="material-icons md-24">label_important</mat-icon>   
  </button>


  <button *ngIf="!newColor" (click)="setClickedRow(category_id, order.order_id, order.important, i)"  mat-button mat-icon-button >
   <mat-icon  *ngIf="order.important==0" class="material-icons md-dark md-inactive">label_important</mat-icon>
   <mat-icon *ngIf="order.important==1" class="material-icons md-24">label_important</mat-icon>   
  </button>


                <div class="btn-toolbar mb-2 mb-md-0" >
                  <div class="btn-group mr-2" align="right">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                  </div>
                </div>


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Search</span>
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>


  <ul *ngFor="let region of regionMultiCtrl?.value">
    <li>{{region.id}}</li>
  </ul>


<button (click)="toggle()" id="bt">
    buton
</button>

  toggle() {
    this.show = !this.show;

    // CHANGE THE NAME OF THE BUTTON.
    if(this.show)  
      this.buttonName = "Hide";
    else
      this.buttonName = "Show";
  }



<i class="material-icons orange600">settings</i>

<button mat-raised-button (click)="removeColumn()"> Remove column </button>

        //fecha y hora
        pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31)) (0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}"

    <div class="form">
      <mat-form-field color="accent">
        <input matInput [(ngModel)]="data.required_date" name="required_date" #required_date [matDatepicker]="required_date" placeholder="Fecha Requerida" [value]="data.required_date" readonly>
        <mat-datepicker-toggle matSuffix [for]="required_date" ></mat-datepicker-toggle>
        <mat-datepicker #required_date></mat-datepicker>
      </mat-form-field>
    </div>


      <mat-form-field>
        <input matInput [(ngModel)]="data.required_date" name="required_date" #required_date [matDatepicker]="required_date" placeholder="Fecha Requerida" >
        <mat-datepicker-toggle matSuffix [for]="required_date"></mat-datepicker-toggle>
        <mat-datepicker #required_date></mat-datepicker>
      </mat-form-field>


border: 1px solid #6B7F7F;

        <mat-tab-group color="accent" backgroundColor="primary"  #tabGroup (focusChange)="tabChanged($event)" [selectedIndex]="0">
          <mat-tab >
            <ng-template mat-tab-label >
              <mat-icon>view_list</mat-icon> Ordenes
            </ng-template>
            <!-- /#page-content -->
            <mat-card>
              <app-vieworderservice (ServicioSeleccionado) = "loadDataServicio( $event )" [id]="id"></app-vieworderservice>  
            </mat-card>
            
            <!-- /#end page-content -->
          </mat-tab>



          <mat-tab>
            <ng-template mat-tab-label >
              <mat-icon>description</mat-icon> Registro
            </ng-template>
            <!-- /#page-content -->
            <p>...</p>
            <!-- /#end page-content -->
          </mat-tab>


          <mat-tab>
            <ng-template mat-tab-label >
              <mat-icon>group</mat-icon> Clientes
            </ng-template>
            <!-- /#page-content -->
            <mat-card>
              <app-addcustomer [id]="id"></app-addcustomer>  
            </mat-card>

            <!-- /#end page-content -->
          </mat-tab>



          <mat-tab>
            <ng-template mat-tab-label >
              <mat-icon>place</mat-icon> Georeferencias
            </ng-template>
            <!-- /#page-content -->
            <p>...</p>
            <!-- /#end page-content -->
          </mat-tab>


          <mat-tab>
            <ng-template mat-tab-label >
              <mat-icon>insert_chart_outlined</mat-icon> Reportes
            </ng-template>
            <!-- /#page-content -->
            <p>...</p>
            <!-- /#end page-content -->
          </mat-tab>


        </mat-tab-group>


<mat-toolbar class="lessons-table mat-elevation-z8" color="primary">
  <span>{{projectname}} / {{servicename}}</span>
  
  <button mat-icon-button (click)="refresh()">    
    <i class="material-icons">
    sync
    </i>
  </button>

</mat-toolbar>



      <mat-form-field color="accent">
        <input matInput  class="form-control" placeholder="Num. Cliente" [(ngModel)]="data.customer_id" (keyup)="searchCustomer(customer_id.value)" name="customer_id" #customer_id required >        

        
        <ul id="myUL" *ngIf="results">
        <li *ngFor = "let result of results "><a href="#">{{result.cc_number}}</a></li>
        </ul>
     
      </mat-form-field>

<!--SELECT SQL-->
<!--https://stackblitz.com/angular/epmrdlqgyen?file=app%2Fselect-overview-example.ts-->

<!--CONTENT-->

    <div id="wrapper" *ngIf="proyectos">
        <!-- Sidebar -->
        <app-menu [proyectos]="proyectos"></app-menu>    
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        
        <div id="page-content-wrapper">


            <div class="container-fluid ">               

              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  border-bottom">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">    
                <a class="nav-link active" id="ordenes-tab" data-toggle="tab" href="#ordenes" role="tab" aria-controls="ordenes" aria-selected="true"><i class="material-icons">description</i> Ordenes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="registro-tab" data-toggle="tab" href="#registro" role="tab" aria-controls="registro" aria-selected="false"><i class="material-icons">border_color</i> Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="geo-tab" data-toggle="tab" href="#geo" role="tab" aria-controls="geo" aria-selected="false"><i class="material-icons">place</i> Georeferencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="chart-tab" data-toggle="tab" href="#chart" role="tab" aria-controls="chart" aria-selected="false"><i class="material-icons">insert_chart_outlined</i> Reporte</a>
              </li>
            </ul>


                
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                  </div>
                  <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                  </button>
                </div>
              </div>



          <div class="tab-content">
            <div class="tab-pane fade show active" id="ordenes" role="tabpanel" aria-labelledby="ordenes-tab">

<div class="loading" *ngIf="!order">
<app-loading></app-loading>  
</div>            


<mat-toolbar class="lessons-table mat-elevation-z8" color="primary">
  <span>{{projectname}} / {{servicename}}</span>
  
  <button mat-icon-button (click)="refresh()">    
    <i class="material-icons">
    sync
    </i>
  </button>

</mat-toolbar>

<div *ngIf="dataSourceEmpty">No hay registros.</div>


<mat-form-field *ngIf="dataSource" >
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" #input>
</mat-form-field>

<mat-table class="lessons-table mat-elevation-z8" #table [dataSource]="dataSource" matSort matSortActive="create_at" matSortDirection="desc" matSortDisableClear class="table-items">

 
<ng-container matColumnDef="order_number">
  <mat-header-cell *matHeaderCellDef mat-sort-header> N. Orden </mat-header-cell>
    <mat-cell *matCellDef="let order"> 
    {{order.order_number}} 
  </mat-cell>
</ng-container>


  
<ng-container matColumnDef="cc_number">
  <mat-header-cell *matHeaderCellDef mat-sort-header> N. Cliente </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.cc_number}} </mat-cell>
</ng-container>

<ng-container matColumnDef="servicetype" >
  <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Servicio </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.servicetype}} 
    
    </mat-cell>
</ng-container>


<ng-container matColumnDef="estatus" >
  <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
  <mat-cell *matCellDef="let order" [style.color]="order.label"> 

  <button mat-raised-button color="warn" *ngIf="order.label==1">{{order.estatus}}
  </button>
  <button mat-raised-button color="primary" *ngIf="order.label==2">{{order.estatus}}</button>
  <button mat-raised-button color="accent" *ngIf="order.label==3">{{order.estatus}}</button>

  </mat-cell>

</ng-container>

<ng-container matColumnDef="user" >
  <mat-header-cell *matHeaderCellDef mat-sort-header> Creado Por </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.user}} </mat-cell>
</ng-container>


<ng-container matColumnDef="create_at" >
  <mat-header-cell *matHeaderCellDef mat-sort-header> Creado El </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.create_at }} </mat-cell>
</ng-container>

<!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
        <button mat-icon-button>
    
  </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>

        <button mat-icon-button color="" (click)="showItem(i, row.id, row.title, row.state, row.url)">
          <mat-icon aria-label="launch">launch</mat-icon>
        </button>
          
      </mat-cell>
    </ng-container>


<mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>


<mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons *ngIf="dataSource"></mat-paginator>
            

       

            </div>

            <div class="tab-pane fade" id="registro" role="tabpanel" aria-labelledby="registro-tab">...</div>
            <div class="tab-pane fade" id="geo" role="tabpanel" aria-labelledby="geo-tab">...</div>
            <div class="tab-pane fade" id="chart" role="tabpanel" aria-labelledby="chart-tab">...</div>
          </div>


            <script>
            $('#myTab a').on('click', function (e) {
              e.preventDefault()
              $(this).tab('show')
            })
            </script>
                
            </div>
        </div>
            <!-- /#page-content-wrapper -->
    </div>




