<div class="container" *ngIf="proyectos && identity">
  <div id="sidebar-wrapper" >
      <div class="container m-2">
        </div>
        
  <mat-nav-list>
    <mat-list-item  style="font-size:15px;  color: rgb(0,122,217);  " >
      PROYECTOS
      <button mat-icon-button color="primary" (click)="refresh()">
      <mat-icon  >sync</mat-icon>
      </button> 
    </mat-list-item>
   
  </mat-nav-list>

  <mat-divider></mat-divider>
    <mat-accordion multi="true" [displayMode]="displayMode" *ngFor="let k of proyectos | keys;" >
        <mat-expansion-panel class="no-shadow" >
          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <mat-panel-title style="color:#000000; font-weight: normal; ">      
            {{proyectos[k].project_name}}
            </mat-panel-title>
            <mat-panel-description >
            <span class="spacer"></span>
            <h6><span class="badge badge-light"> {{ proyectos[k].service.length }}</span></h6>            
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-nav-list dense *ngFor="let service of proyectos[k].service; let i = index" style="color:#585858" (click)="navigate(service.id)">

            <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" *ngIf="i == 0">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/calendar', proyectos[k].id]" > 
                <i class="material-icons md-14-color" *ngIf="proyectos[k].id === projectselected && url === 'calendar'">date_range</i> 
                <i class="material-icons md-14" *ngIf="proyectos[k].id != projectselected || url != 'calendar' ">calendar_today</i> 
                Calendario
              </a>  
            </div>

          <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" *ngIf="i == 0 && _userService.isRole(7)">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/projectservice', proyectos[k].id]" > 
              <i class="material-icons md-14-color" *ngIf="proyectos[k].id === projectselected && path === 'projectservice'">folder</i> 
              <i class="material-icons md-14" *ngIf="proyectos[k].id != projectselected || path != 'projectservice' ">folder_open</i> 
              Proyectos
            </a>
          </div>

          <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" *ngIf="i == 0 && _userService.isRole(7)">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/users', proyectos[k].id]" > 
              <i class="material-icons md-14-color" *ngIf="proyectos[k].id === projectselected && path === 'users'">people</i> 
              <i class="material-icons md-14" *ngIf="proyectos[k].id != projectselected || path != 'users' ">people_outline</i> 
              Usuarios
            </a>
          </div>


            <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" >
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/serviceorder', service.id]" > 
              <i class="material-icons md-14-color" *ngIf="service.id === selected && url === 'serviceorder'">launch</i> 
              <i class="material-icons md-14" *ngIf="service.id != selected || url != 'serviceorder'">launch</i> 
              {{service.service_name}} 
              </a>
            </div>
          </mat-nav-list>
        </mat-expansion-panel>   
   <mat-divider></mat-divider>
   </mat-accordion>

<div class="bottomright">
      <a  class="nav-link active" href="javascript:void(0)" onClick="func(1);" >
        <i class="material-icons">keyboard_arrow_left</i> 
      </a>
</div>    

</div>
</div>



