<div class="app">

    <mat-toolbar color="primary">
      <h3 >Registrar Trabajo Orden N°{{ data.order_number }}</h3> 
      <span class="mat-spacer"></span>
      <button mat-icon-button (click)="onNoClick()" tabindex="-1">
        <mat-icon class="mat-icon">close</mat-icon>  
      </button>
    </mat-toolbar>
<br>
<div *ngIf="isLoading">
<app-loading *ngIf="isLoading"></app-loading>  
</div>


<div class="mat-dialog-content" *ngIf="!isLoading">

    <div class="animated fadeIn row">
      <div class="col-md-8 order-first">
        
          <div class="example-full-width" style="text-align:right;">
              <!--{{infocaso.depto_id.name}} / {{infocaso.category_id.name}} / {{infocaso.typeselect.name}}-->
                <span><strong>{{project.project_name}} / {{service.service_name}} </strong></span>
          </div>    
          <h3 class="titulo">{{service.service_name}}</h3>
          <h2 class="jeEmY">Tipo de Servicio</h2>
          <p *ngIf="service_type">{{service_type.name}}</p>
          <mat-divider></mat-divider>

          <form class="mat-dialog-content" (keydown.tab)="$event.stopPropagation()" [formGroup]="formComentar" *ngIf="formComentar" class="aui">

              <h2 class="jeEmY">Actividad Realizada</h2>
              <mat-form-field appearance="outline" class="example-full-width mat-status">
                <textarea matInput #comentario placeholder="Añadir actividad realizada..."  name="comentario" matTextareaAutosize matAutosizeMinRows=6 matAutosizeMaxRows=10 maxlength="256" formControlName="comentario"   class="form-control" required></textarea>
                <mat-hint align="end">{{comentario.value.length}} / 256</mat-hint>
              </mat-form-field>
  
              <h2 class="jeEmY">Observaciones</h2>
              <mat-form-field appearance="outline" class="example-full-width mat-status">
                <textarea matInput #observacion placeholder="Añadir observaciones..."  name="observacion" matTextareaAutosize matAutosizeMinRows=6 matAutosizeMaxRows=10 maxlength="256" formControlName="observacion"   class="form-control"></textarea>
                <mat-hint align="end">{{observacion.value.length}} / 256</mat-hint>
              </mat-form-field>


              <button mat-icon-button color="primary" matTooltip="Adjuntar archivo" (click)="fileInput.click()" style="margin-bottom: 4px;">
                <mat-icon>attachment</mat-icon>
                <input hidden type="file" #fileInput class="none" appNgDropFiles [archivos]="archivos"  (change)="selectFiles($event)"  (click)="$event.target.value = null; archivos = []"  multiple >              
                <span style="margin-top: 5px;" *ngIf="archivos" ><strong> Archivos selecionado {{archivos.length}} de 7, Max. 7 </strong></span>
              </button>
              
              <div *ngIf="archivos" >
                <mat-chip-list>
                  <mat-chip *ngFor="let forFile of archivos; let i = index;" 
                    color="primary"
                    [removable]="true"
                    (removed)="removeFile(i)">
                    <span>{{ forFile.archivo.name }}</span>
                    <span *ngIf="forFile.progreso &&  forFile.progreso > 0" style="margin-left: 6px; margin-right: 6px;"><strong>{{forFile.progreso}}%</strong></span>
                    <mat-icon matChipRemove *ngIf="!forFile.progreso">cancel</mat-icon>
                    <mat-icon *ngIf="forFile.progreso &&  (forFile.progreso > 0 && 100 > forFile.progreso)">cloud_upload</mat-icon>
                    <mat-icon matChipRemove *ngIf="forFile.progreso && forFile.progreso == 100">cancel</mat-icon>
                  
                    <div class="progress container-fluid">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': forFile.progreso + '%' }"></div>
                    </div>
                  </mat-chip>
                </mat-chip-list>
              </div>
              
              <br>

              <button mat-flat-button style=" background:#F8F8F8;" (click)="toggle()" *ngIf="!toggleContent">
                <mat-icon class="material-icons md-14-color" >comment</mat-icon>
                Más datos
              </button>
              <br>
              <div [formGroup]="formJob" *ngIf="toggleContent" class="full-width">                                
                <div formArrayName="items"                
                  *ngFor="let item of getControls(formJob, 'items'); let i = index;">
                  <div [formGroupName]="i">
                      <input class="text" formControlName="name" placeholder="Nombre"  type="text">
                      <input class="text" formControlName="description" placeholder="Descripción" type="text">
                  </div>
                
                  <!---
                  Chosen name: {{ formJob.controls.items.controls[i].controls.name.value }}
                  Chosen value: {{ formJob.controls.items.controls[i].controls.description.value }}
                  -->
                </div>
              <br>
              <button mat-raised-button (click)="addItem()">Agregar</button>
              <button mat-raised-button (click)="toggle()" style="margin-left: 4px">Cancelar</button>              
              <br>
              </div>
  
              <br>
              <div class="row row-custom">
                  
                  <button mat-raised-button color="primary" class="margin-left" [disabled]="formComentar.invalid" (click)="addComentario(0)">
                      Guardar           
                  </button>
                  
                  <button mat-raised-button color="accent" class="margin-left" [disabled]="formComentar.invalid" (click)="addComentario(1)">
                      Guardar y enviar correo
                  </button>
  
                  <!--
                  <button mat-raised-button color="warn"> 
                      cancelar           
                  </button>-->
                  
              </div>
  
          </form>
          <br>
          
          <mat-tab-group animationDuration="0ms" class="mat-tab-style">
            <mat-tab label="Actividad">
              <br>
              <cdk-virtual-scroll-viewport itemSize="60" class="list-container list-group" *ngIf="comentarios$ !== null">
              <!--<div style="height: 250px; overflow: auto;" *ngIf="comentarios$">-->
                <div *cdkVirtualFor="let comentarios of comentarios$ | async">
                  
                  <div class="fOqogj">
                    <div class="SZsdL">
                      <div style="display: inline-block; position: relative; outline: 0px; height: 22px; width: 22px;">
                        <span class="styledCache__StyledSpan-zohhd2-3 cwXEzS">
                            <span role="img" style="background-color: transparent; background-image: url(&quot;https://avatar-cdn.atlassian.com/64dc6928b9d27242b695fc9f0cdb9a3d?s=48&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F64dc6928b9d27242b695fc9f0cdb9a3d%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 50%; display: flex; flex: 1 1 100%; height: 100%; width: 100%;"></span>
                        </span>
                      </div>
                    </div>
                    <div class="fLcKLS">  
                        <span class="sc-fdcRnX jmTFIN">{{comentarios.usercomment.name}} {{comentarios.usercomment.surname}}</span>
                        ha realizado registro de trabajo hace
                        <span class="sc-fdcRnX jmTFIN">{{comentarios.create_at | countTime}}</span>
                    </div>
                  </div>
                  <div class="fOqogj" style="padding-left: 30px">
                    → {{comentarios.comentario}}
                  </div>

                  <div class="fOqogj" style="padding-left: 30px" *ngIf="comentarios.observacion">
                      → {{comentarios.observacion}}
                  </div>
                    
                  <div class="fOqogj" style="padding-left: 30px" >
                    <div class="row float-right row-custom" *ngIf="comentarios.pila && comentarios.pila.length > 0">
                        → Más datos:
                        <br>
                        <div *ngFor="let info of comentarios.pila" style="width: 100%; margin-left: 17px;">
                            <span class="form-text text-muted">{{info.name}}: {{info.description}}</span>
                        </div>                              
                    </div>
                  </div>


                  <div class="fOqogj" style="padding-left: 30px">
                    <div class="row float-right row-custom" *ngIf="comentarios.adjuntos">
                      
                      <div *ngFor="let adjuntos of comentarios.adjuntos">              

                          <a mat-icon-button href="{{adjuntos.url}}" target="_blank" matTooltip="{{adjuntos.nombre}}" color="accent" *ngIf="adjuntos.type == 'video/mp4' || adjuntos.type == 'application/mp4' || adjuntos.type == 'mp4' || adjuntos.type == 'image/png' || adjuntos.type == 'image/jpg' || adjuntos.type == 'image/jpeg'">
                              <mat-icon aria-label="launch">image</mat-icon>
                          </a>
                
                          <a mat-icon-button href="{{adjuntos.url}}" target="_blank" matTooltip="{{adjuntos.nombre}}" color="accent"*ngIf="adjuntos.type == 'application/x-zip-compressed' || adjuntos.type == 'application/x-rar-compressed'">
                            <mat-icon aria-label="launch">work</mat-icon>
                          </a> 
                
                          <a mat-icon-button href="{{adjuntos.url}}" target="_blank" matTooltip="{{adjuntos.nombre}}" color="accent" *ngIf="adjuntos.type == 'pdf' || adjuntos.type == 'application/pdf' || adjuntos.type == 'application/msword' || adjuntos.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' || adjuntos.type == 'application/vnd.ms-excel' || adjuntos.type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                            <mat-icon aria-label="launch">insert_drive_file</mat-icon>
                          </a>
                
                      </div>
                      
                    </div>
                  </div>
          
                  <hr width="96%"  noshade="noshade" size="4px" style="color: #303f9f;"/>
                  
                </div>
              <!--</div>-->
              </cdk-virtual-scroll-viewport>
            </mat-tab>
          </mat-tab-group>          

          
      </div>

      <div class="col-md-4 order-md-last">
          <h2 class="jeEmY" *ngIf="data.estatus">Estatus</h2>
          <div class="fOqogj">
              <div class="SZsdL">
                <div style="display: inline-block; position: relative; outline: 0px; height: 28px; width: 28px;">
                  <span class="styledCache__StyledSpan-zohhd2-3 cwXEzS">
                    <span role="img" style="background-color: transparent; background-image: url('../../assets/icons/level-512x512.png'); background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 50%; display: flex; flex: 1 1 100%; height: 100%; width: 100%;"></span>
                  </span>
                </div>
              </div>
              <div class="fLcKLS">  
                  <span [ngClass]="data.estatus == 'Pendiente' ? 'important-bajo' : data.estatus == 'Atendido' ? 'important-medio' : data.estatus == 'Baja' ? 'important-alto': data.estatus == 'Vencido' ? 'important-urgente'  : 'important-default'">
                      {{data.estatus}}
                  </span>
              </div>
          </div>

          <h2 class="jeEmY animated fadeIn" *ngIf="services">Informador</h2>
          <div class="fOqogj">
            <div class="SZsdL">
              <div style="display: inline-block; position: relative; outline: 0px; height: 28px; width: 28px;">
                <span class="styledCache__StyledSpan-zohhd2-3 cwXEzS">
                  <span role="img" style="background-color: transparent; background-image: url(&quot;https://avatar-cdn.atlassian.com/64dc6928b9d27242b695fc9f0cdb9a3d?s=48&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F64dc6928b9d27242b695fc9f0cdb9a3d%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 50%; display: flex; flex: 1 1 100%; height: 100%; width: 100%;"></span>
                </span>
              </div>
            </div>
            <div class="fLcKLS" *ngIf="user_informador">
              {{user_informador.name}} {{user_informador.surname}}
            </div>
            <div class="fLcKLS" *ngIf="!user_informador">
              <span class="smallfont" style="margin-bottom: 20px;">Sin Informador</span>
            </div>
          </div>

          <h2 class="jeEmY animated fadeIn" *ngIf="services">Responsable</h2>
          <div class="fOqogj" >
            <div class="SZsdL">
              <div style="display: inline-block; position: relative; outline: 0px; height: 28px; width: 28px;">
                <span class="styledCache__StyledSpan-zohhd2-3 cwXEzS">
                  <span role="img" style="background-color: transparent; background-image: url(&quot;https://avatar-cdn.atlassian.com/64dc6928b9d27242b695fc9f0cdb9a3d?s=48&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F64dc6928b9d27242b695fc9f0cdb9a3d%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 50%; display: flex; flex: 1 1 100%; height: 100%; width: 100%;"></span>
                </span>
              </div>
            </div>
            <div class="fLcKLS" *ngIf="user_responsable">
              {{user_responsable.name}} {{user_responsable.surname}}
            </div>
            
            <div class="fLcKLS" *ngIf="!user_responsable">
              <span class="smallfont" style="margin-bottom: 20px;">Sin Información.</span>
            </div>
            
          </div>          

          <h2 class="jeEmY animated fadeIn" *ngIf="services && (user_itocivil_assigned_to || user_itoelec_assigned_to || user_responsable_obra)">Otro(s) Responsable(s)</h2>
          <div class="fOqogj" >
            <div class="SZsdL" *ngIf="user_itocivil_assigned_to">
              <div style="display: inline-block; position: relative; outline: 0px; height: 28px; width: 28px;">
                <span class="styledCache__StyledSpan-zohhd2-3 cwXEzS">
                  <span role="img" style="background-color: transparent; background-image: url(&quot;https://avatar-cdn.atlassian.com/64dc6928b9d27242b695fc9f0cdb9a3d?s=48&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F64dc6928b9d27242b695fc9f0cdb9a3d%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 50%; display: flex; flex: 1 1 100%; height: 100%; width: 100%;"></span>
                </span>
              </div>
            </div>
            <div class="fLcKLS" *ngIf="user_itocivil_assigned_to">
              Civil: {{user_itocivil_assigned_to.name}} {{user_itocivil_assigned_to.surname}}
            </div>
            <!---
            <div class="fLcKLS" *ngIf="!user_itocivil_assigned_to">
              <span class="smallfont" style="margin-bottom: 20px;">Sin Información</span>
            </div>
            -->
          </div>          

          <div class="fOqogj animated fadeIn" *ngIf="services">
            <div class="SZsdL" *ngIf="user_itoelec_assigned_to">
              <div style="display: inline-block; position: relative; outline: 0px; height: 28px; width: 28px;">
                <span class="styledCache__StyledSpan-zohhd2-3 cwXEzS">
                  <span role="img" style="background-color: transparent; background-image: url(&quot;https://avatar-cdn.atlassian.com/64dc6928b9d27242b695fc9f0cdb9a3d?s=48&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F64dc6928b9d27242b695fc9f0cdb9a3d%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 50%; display: flex; flex: 1 1 100%; height: 100%; width: 100%;"></span>
                </span>
              </div>
            </div>
            <div class="fLcKLS" *ngIf="user_itoelec_assigned_to">
              Eléctrico: {{user_itoelec_assigned_to.name}} {{user_itoelec_assigned_to.surname}}
            </div>
            <!--
            <div class="fLcKLS" *ngIf="!user_itoelec_assigned_to">
              <span class="smallfont" style="margin-bottom: 20px;">Sin Información</span>
            </div>
            -->
          </div>          

          <div class="fOqogj animated fadeIn" *ngIf="services">
            <div class="SZsdL" *ngIf="user_responsable_obra">
              <div style="display: inline-block; position: relative; outline: 0px; height: 28px; width: 28px;">
                <span class="styledCache__StyledSpan-zohhd2-3 cwXEzS">
                  <span role="img" style="background-color: transparent; background-image: url(&quot;https://avatar-cdn.atlassian.com/64dc6928b9d27242b695fc9f0cdb9a3d?s=48&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F64dc6928b9d27242b695fc9f0cdb9a3d%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 50%; display: flex; flex: 1 1 100%; height: 100%; width: 100%;"></span>
                </span>
              </div>
            </div>
            <div class="fLcKLS" *ngIf="user_responsable_obra">
              {{user_responsable_obra}}
            </div>
            <!--
            <div class="fLcKLS" *ngIf="!user_responsable_obra">
              <span class="smallfont" style="margin-bottom: 20px;">Sin Información</span>
            </div>
            --->
          </div>
          <div *ngIf="userFirebase && kpi > 0 && project_id && project_id > 0 && serviceid > 0 && servicetype_id > 0">
              <app-reportkpi [project_id]="project_id" [service_id]="serviceid" [servicetype_id]="servicetype_id"></app-reportkpi>
          </div>          
          
          <span class="smallfont" style="margin-bottom: 20px;" *ngIf="services && services.create_at">Fecha de creación {{services.create_at}}</span>

      </div>
    </div>

</div>
</div>

