

<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">OCA Global</h6>
          <p>OCA Global es un grupo internacional de capital privado -con sede central en España-, dedicado a las actividades de inspección, certificación, ensayos y consultoría y formación.
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Servicios</h6>
          <p>
            <a href="https://ocaglobal.com/servicios/inspeccion" target="_blank" rel="noopener">Inspección Reglamentaria</a>
          </p>
          <p>
            <a href="https://ocaglobal.com/servicios/ensayos/end" target="_blank" rel="noopener">Ensayos</a>
          </p>
          <p>
            <a href="https://ocaglobal.com/servicios/certificacion" target="_blank" rel="noopener">Certificación</a>
          </p>
          <p>
            <a href="https://ocaglobal.com/servicios/formacion" target="_blank" rel="noopener">Formación</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">En el Mundo</h6>
          <p>
            <a href="https://ocaglobal.com/en-el-mundo/resto-del-mundo" target="_blank" rel="noopener">Europa</a>
          </p>
          <p>
            <a href="https://ocaglobal.com/en-el-mundo/resto-del-mundo" target="_blank" rel="noopener">América</a>
          </p>
          <p>
            <a href="https://ocaglobal.com/en-el-mundo/resto-del-mundo" target="_blank" rel="noopener">África</a>
          </p>
          <p>
            <a href="https://ocaglobal.com/en-el-mundo/resto-del-mundo" target="_blank" rel="noopener">Asia</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
          <p>
             España
          </p>
          <p>
             info@ocaglobal.com
          </p>
          <p>
             +34 902 103 620
          </p>
          <p>

          </p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-12">

          <!--Copyright-->
          <p class="text-center text-md-center">© {{year}} Copyright:
            <a href="https://ocaglobal.com/" target="_blank" rel="noopener">
              <strong> OCA Global. All rights reserved.</strong>
            </a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                  
                </a>
              </li>
              <li class="list-inline-item">
                <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                  
                </a>
              </li>
              <li class="list-inline-item">
                <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                  
                </a>
              </li>
              <li class="list-inline-item">
                <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                  
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->